<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facturacion</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <h:form id="e">
            <h:panelGrid columns="2">
                <p:outputLabel value="Nombre: "/>
                <p:inputText value="#{kzBean.c.nombre}"/>
                <p:outputLabel value="Apellido: "/>
                <p:inputText value="#{kzBean.c.apellido}"/>
                <p:outputLabel value="Direccion: "/>
                <p:inputText value="#{kzBean.c.direccion}"/>
                <p:outputLabel value="Email: "/>
                <p:inputText value="#{kzBean.c.email}"/>
                <p:outputLabel value="Fecha de Naciemiento: "/>
                <p:inputText value="#{kzBean.c.fechaNac}"/>
                <p:outputLabel value="Telefono: "/>
                <p:inputText value="#{kzBean.c.telefono}"/>
            </h:panelGrid>
        </h:form><br/>
        <h:form></h:form>
        <p:dataTable var="cliente" value="#{kzBean.listar()}" emptyMessage="N/A">
            <p:column headerText="Nombre">
                <p:outputLabel value="#{cliente.nombre}" />
            </p:column>

            <p:column headerText="Apellido">
                <p:outputLabel value="#{cliente.apellido}" />
            </p:column>

            <p:column headerText="Direccion">
                <p:outputLabel value="#{cliente.direccion}" />
            </p:column>
            <p:column headerText="Opciones"> 
                <p:commandButton value="Editar" actionListener="#{kzBean.llenar(cliente)}" update="e"/>
            </p:column>
        </p:dataTable>
    </h:body>
</html>
