html,body{
    height: 100%;
}.main-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    height: 100%;
}
.header{
    position: relative;
    top: 0;
    width: 100%;
}



.main{
    position: relative;
    left: 0;
    width: 100%;
}

.footer{
    position: absolute;
    width: 100%;
    background:  #337ab7;
    color: white;
}.footer1{
    width: 100%;
    background:  #337ab7;
    color: white;
}

/* comienza el header images*/

.images{
    width: 90%;
    background: white;
}

.head-img1{
    width: 700px;

    margin: 25px; 

    height: 150px;
}
.head-img2{
    width: 600px;
    border: 2px #fff solid;
    margin: 25px; 
    height: 150px;
    position: relative;
}

.btn-menu{
    display: none;
    width: 100px;
    background: red;
    height: 90px;
    margin-top: 25px;
    border-radius: 7px;
    border: 2px #000 solid;
    box-shadow: 5px 15px 9px rgba(0,0,0, 0.8);
}

.btn-menu:hover{
    box-shadow: 10px 20px 15px rgba(0,0,0, 0.8);
}

.img-btn-mnu{
    position: relative;
    bottom: 2px;
    left: 6px;
    color: white;
    font-size: 50px;   
    height: 30px;
}

/* comienza el header navbar*/
.navbar li .active{
    color: red;
}


.navbar li .active:hover{
    color: white;

}
.navbar li .a{
    color: red;
}

.navbar li .b{
    color: white;
}

.size{
    position: relative;
    bottom: 15px;
}

.navbar li .a:hover{
    color: white;
}
.navbar li .b:hover{
    color: red;
}

.img-btn-mnu:hover{
    color: black;
    cursor: pointer;
}

.navbar{
    display: block;
    background: black;
    width: 100%;
    height: 120px;
}

.navbar li{
    float: left;
    position: relative;

}

.navbar ul li {
    text-align: center;
    width: 275px;   
    position: relative;
    top: 40px;

}

.navbar li a:hover{
    color: red;

}

ul,ol{
    list-style: none;
}           

.navbar li  a {
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.saludo{
    position: relative; bottom: 3px;
}
/* comienza el main slider*/      
.slideshow{
    width:98%;
    margin: 0 auto;
}

.slider li,ul{
    width: 100%;
}

.slider li img{
    width: 98%;
    height: 600px;
}

.slider .caption{
    position: absolute;
    top: -3%;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.paginator{
    position: absolute;
    top: 90%;
    display: flex;
    justify-content: center;
    width: 100%;

}

.paginator li {
    margin: 75px 0;
    color: black;
    font-size: 20px;
    margin: 2px 5px;
    cursor: pointer;
}

.pag{
    cursor: pointer;
}


.left, .right{
    position: absolute;
    top: 50%;
    display: flex;
    color: black;
    font-size: 50px;
    cursor: pointer;
    background: rgba(255,255,255, 0.8);

}

.slider h1{
    font-size: 50px;
    color: white;
    background: rgba(0,0,0, 0.8);
    width: 100%;
}

.slider .caption p{
    width: 98%;
    color: white;
    font-size: 22px;
    text-align: center;
    background: rgba(0,0,0, 0.8);
}

.left{
    left: 10px;
}
.right{
    right:  10px;
}

/* comienza el aplication box*/
.aplication-box{
    border-radius: 7px;
    width: 95%;
    background: red;
    height: 600px;
    position: relative;
    margin: 0 auto;
    border: 4px black solid;
    text-align: center;

    box-shadow: 12px 17px 20px rgba(0,0,0,0.8);
}

.aplication-header{
    width: 100%;  
    height: 50px;
    background: black;
    opacity: 2.5; 
    color: white;
    text-align: center;
    box-shadow: 5px 10px 12px rgba(0,0,0,0.8);
}

.aplication-box .aplication-header h1{
    font-size: 25px;
    font-weight: bold;
    position: relative;
    top: 5px;
}

.aplication-box .aplication-body p{
    font-size: 40px;
    color: white;
}

.aplication-box .aplication-body img{
    width: 100%;
    height: 300px;

}



.aplication-box .aplication-body a{
    text-decoration: none;
}

.aplication-box .aplication-body a:hover, .aplication-box .aplication-body a:focus{
    text-decoration: none;
    color: red;
}


.butoon5{
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    top: 40px;
}

.butoon5:hover{
    -webkit-animation: pulser 1s;
    animation: pulser 1s;
    box-shadow: 0 0 0  0.6em rgba(0,0,0, 0);
    cursor: pointer;
}

@-webkit-keyframes pulser{
    0%{
        box-shadow: 0 0 0 0 black; 
    }

}

@keyframes pulser {
    0%{
        box-shadow: 0 0 0 0 black; 
    }

}



/* comienza el footer boxes*/      

.box-footer{
    width: 32.3%;
    float: left;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 250px;
}

.copy-right{
    color: white; clear: both; margin-top: 75px;
    text-align: center;
}

.box-footer.a{
    overflow: hidden;
}


.news{
    position: relative;
    margin-top: 10px;
    height: 500%;
    left: 0;
    animation: 15s sli infinite;

}

.news section{
    position: relative;
    top: -20px;

}

.history{
    font-size: 18px;
    position: relative;
    bottom: 15px;
}
.box-footer .news a:hover{
    text-decoration: none;
    color: red;
    text-align: center;
}

.box-footer .news a{
    position: relative;
    bottom: 10px;
}

.box-footer .news p{
    font-size: 15px;
}

.box-footer.a .news section {
    height: 20%;  
}

@keyframes sli {
    0% {  top: 0% ; }
    20% { top: 0% ; }

    25% { top: -100%; }
    45% { top: -100%; }
    50% { top: -200%; }
    60% { top: -200%; }
    70% { top: -300%; }
    80% { top: -300%; }
    90% { top: -400%; }
    100% { top: -400%; }
}


#slider{
    overflow: hidden;
    position: static;
    bottom: 30px;
    margin-top: -15px;

}

.box-footer h1{
    color: white;
    font-weight: 700;
}

.box-footer .news a{
    width: 100%;
    font-size: 25px;
    color: white;
    text-decoration: none;
    text-align: center;
}

#slider figure{
    position: relative;
    width: 500%;
    animation: 20s slider infinite;
}

#slider figure img {
    width: 20%;
    position: static;
    height: 160px;
    float: left;
}




@keyframes slider {
    0% {  left: 0; }
    20% { left: 0; }

    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    80% { left: -300%; }
    90% { left: -400%; }
    100% { left: -400%; }
}

/* comienza el main login box*/      

.login-box{
    width: 600px;
    height: 550px;
    background: black;
    opacity: 0.9;
    border-radius: 7px;
    box-shadow: 10px 15px 20px rgba(0,0,0, 0.8); 
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;

}



.login-box .login-body a{
    text-decoration: none;
}

.login-box .login-body a:hover{
    color: red;
}

.login-header{
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;     
    height: 25px;
    text-align: center;
    background: red;
    position: relative;
    top:  4%;
    box-shadow: 0px 5px 5px rgba(225,225,225, 0.8);
}  


.butoon2{
    width: 100px;
    height: 50px;
    background: red;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}


.butoon2:hover,.butoon2:focus{
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0  0.6em rgba(0,0,0, 0);
    cursor: pointer;
}

@-webkit-keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 red; 
    }

}

@keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 red; 
    }

}



.over-input{
    position: relative;
    right: 70px;
    color: red;

}

.over-input1{
    position: relative;
    right: 93px;
    color: red;

}

.log-question{
    color: red;
    position: relative; left: 85px;          
}
.contra{
    color: white;
    position: relative;
    right: 90px;
}

.registrarse{

    position: relative; left: 150px; color: white;
}


.ui-messages-fatal{
    border: 2px black solid!important;
    background: white;
    color: black;
    width: 80%;
    font-size: 25px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 7px;
    border: none;
    box-shadow: 10px 15px 20px rgba(0,0,0, 0.8); 
    margin-bottom: 10px;
}

.ui-messages-warn.ui-corner-all{
    border: 2px black solid!important;
    background: white;
    color: black;
    width: 80%;
    font-size: 25px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 7px;
    border: none;
    box-shadow: 10px 15px 20px rgba(0,0,0, 0.8); 
    margin-bottom: 10px;
}


.ui-messages-info.ui-corner-all{
    border: 2px black solid!important;
    background: white;
    color: black;
    width: 80%;
    font-size: 25px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 7px;
    border: none;
    box-shadow: 10px 15px 20px rgba(0,0,0, 0.8); 
    margin-bottom: 10px;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {


    background:#337ab7 !important;
    color: #fff;
    text-shadow: 1px 1px 1px #333;

}


/* comienza la recuperacion de contraseña*/   
.contraseña-box{
    width: 400px;
    height: 300px;
    background: black;
    opacity: 0.9;
    border-radius: 7px;
    box-shadow: 10px 15px 20px rgba(0,0,0, 0.8); 
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    color: white; 
}



/* comienza el main panel registro*/   

.panel-ingreso{
    border: #000 2px solid;
    border-radius: 7px;
    padding: 0;
    color: black;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 900px;
    text-align: center;
    box-shadow: 10px 15px 17px rgba(0,0,0, 0.8);
    font-weight: bold; 
    font-size: 20px;
}

.header-registro{
    width: 100%;
    font-weight: bold;  
    background: black;
    color: white; 
    height: 50px;
    font-size: 30px;
}



.onemenu-reg{
    width: 200px;
}

.select-width{
    width: 280px;
}


.panel-ingreso input{
    text-align: center;
}

.butoon3{
    width: 100px;
    height: 50px;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}


.butoon3:hover{
    -webkit-animation: pulser 1s;
    animation: pulser 1s;
    box-shadow: 0 0 0  0.6em rgba(0,0,0, 0);
    cursor: pointer;

}

@-webkit-keyframes pulser{
    0%{
        box-shadow: 0 0 0 0 black; 
    }

}

@keyframes pulser {
    0%{
        box-shadow: 0 0 0 0 black; 
    }

}


.butoon3:focus{
    box-shadow: inset 0 0 0  2em rgb(245,0,0); 
    color: white;
}


/*Comienza el perfil */       

.perfil-box{

    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 100%;
    border: 2px #000 solid;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 10px 15px 17px rgba(0,0,0, 0.8);
} 

.perfil-box a:hover{
    text-decoration: none;
    color: red;
} 



#btn-camara{
    position: relative;
    top: 78px;
    right: 150px;
} 

#btn-file{
    position: relative;

    right: -375px;
}

.btn-tomar-foto:hover{
    color: red;
}  

.close-btn{
    position: absolute;
    top: 0;
    right: 0;
}



.butoon4{
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.butoon4:hover, .butoon4:focus{
    -webkit-animation: pulser 1s;
    animation: pulser 1s;
    box-shadow: 0 0 0  0.6em rgba(0,0,0, 0);
    cursor: pointer;  color: red;

}

@-webkit-keyframes pulser{
    0%{
        box-shadow: 0 0 0 0 black; 
    }

}

@keyframes pulser {
    0%{
        box-shadow: 0 0 0 0 black; 
    }

}

.butoon6{
    padding: 15px;
    background: black;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

a ui-commanlink.ui-widget.butoon6{
    color: white!important;
}


.butoon6:hover, .butoon6:focus{
    -webkit-animation: pulser 1s;
    animation: pulser 1s;
    box-shadow: 0 0 0  0.6em rgba(0,0,0, 0);
    text-decoration: none;
    cursor: pointer;
    color: white;
}

@-webkit-keyframes pulser{
    0%{
        box-shadow: 0 0 0 0 black; 
    }

}

@keyframes pulser {
    0%{
        box-shadow: 0 0 0 0 black; 
    }

}


.perfil-header{

    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    font-weight: bold;
    width: 100%;
    background: black;
    font-size: 25px;
    text-align: center;
    color: white;
    font-family: sans-serif;

} 



/*comienza el account verification codecheck*/

.codecheck-box{
    position: relative;
    width: 400px;

    margin: auto auto;
    margin-bottom: 15px;
    background: black;
    color: red;
    text-align: center;
    box-shadow: 10px 15px 17px rgba(0,0,0,0.8);
    border: none;
    border-radius: 7px;
}  

.ui-panel-titlebar{
    background: red;
    border: none;
    width: 100%;
    margin: 0 0;
    text-align: center;
    color: white;
}

.p-boton{
    width: 120px!important;
    height: 40px!important;
    background: red!important;
    color: white!important;
    font-weight: bold!important;
    font-size: 20px!important;
    border: none!important;
    cursor: pointer!important;
    border-radius: 3px!important;
    text-align: center!important;
} 

.pdf-button{
    background: black!important;
    color: white!important;
}




.p-boton:hover,.p-boton:focus{
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0  0.6em rgba(0,0,0, 0);
    cursor: pointer;
    color: black!important;
}

@-webkit-keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 red; 
    }

}

@keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 red; 
    }

}


.pdf-button:hover,.pdf-button:focus{
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0  0.6em rgba(0,0,0, 0);
    cursor: pointer;
}

@-webkit-keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 black; 
    }

}

@keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 black; 
    }

}

.p-link-boton{
    padding: 12px;
    background: red!important;
    color: white!important;
    font-weight: bold!important;
    font-size: 20px!important;
    border: none!important;
    cursor: pointer!important;
    border-radius: 3px!important;
    text-align: center!important;
}    


.p-link-boton:hover,.p-link-boton:focus{
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0  0.6em rgba(0,0,0, 0);
    cursor: pointer;
    color: black!important;
    text-decoration: none!important;
}

@-webkit-keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 red; 
    }

}

@keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 red; 
    }

}


.p-link{
    padding: 5px;
    background: red!important;
    color: white!important;
    font-weight: bold!important;
    font-size: 20px!important;
    border: none!important;
    cursor: pointer!important;
    border-radius: 3px!important;
    text-align: center!important;
}  

.p-link:hover,.p-link:focus{
    text-decoration: none;
    color: black;
}  

/* comienza update form*/
.back-btn-upd{
    position: relative; right: 23px; color: white; 
}


@media screen and (max-width: 480px) {



    .btn-menu{
        display: block;
        text-align: center;
        width: 60px;
        background: red;
        height: 60px;
        position: absolute;
        right: 30px;
        bottom: 160px;
        border-radius: 7px;

    } 

    .slideshow{
        width: 100%;
        position: relative;
    }

    .slider h1{
        font-size: 25px;
        width: 100%;
    }

    .slider .caption p{
        width: 100%;
        font-size: 12px;
    }



    .navbar{
        background: black;
        width: 100%;
        height: 400px;

    }

    .navbar ul li {

        width: 100%;   
        position: relative;
        text-align: center;
        margin: 15px 0;
    }

    .img-btn-mnu{
        position: relative; top:
            2px; color: white;
        left: 0;
        font-size: 25px;

    }

    .head-img1{
        width: 300px;
        margin: 25px;
        height: 75px;
    }
    .head-img2{
        width: 300px;
        margin: 25px;
        height: 75px;
    }


    .size{
        position: relative;
        bottom: 0;
    }

    .slider li img{
        width: 100%;
        height: 400px;
    }

    .saludo{
        position: relative; bottom: 0;
    }

    .box-footer{
        width: 100%;
        margin-top: 0.5%;
        margin-left: 0.5%;
        margin-right: 0.5%;        
        justify-content: center;
        align-items: center;
        text-align: center;

    }


    .login-box{
        width: 95%;
        height: 400px;
        background: black;
        opacity: 0.9;
        border-radius: 7px;
        box-shadow: 10px 15px 20px rgba(0,0,0, 0.8); 
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        font-family: sans-serif;
        color: white;

    }
    /*comienza recuperar contraseña*/
    .contraseña-box{
        width: 95%;
        height: 300px;
        background: black;
        opacity: 0.9;
        border-radius: 7px;
        box-shadow: 10px 15px 20px rgba(0,0,0, 0.8); 
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        font-family: sans-serif;
        color: white; 
    }


    /*comienza crear cuenta */
    .over-input{
        position: relative;
        right: 50px;
        color: red;

    }

    .over-input1{
        position: relative;
        right: 57px;
        color: red;

    }

    .log-question{
        color: red;
        position: relative; left: 85px;          
    }
    .contra{
        color: white;
        position: relative;
        right: 90px;
    }



    .panel-ingreso{
        border: #000 2px solid;
        border-radius: 7px;
        padding: 0;
        color: black;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        width: 900px;
        text-align: center;
        box-shadow: 10px 15px 17px rgba(0,0,0, 0.8);
        font-weight: bold; 
        font-size: 20px;
    }

    .panel-ingreso{
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
        box-shadow: 10px 15px 17px rgba(0,0,0, 0.8);
        font-weight: bold; 
        font-size: 15px;
    }


    .header-registro{
        height: 70px;
        font-size: 20px;
    }



    .aplication-box{
        width: 100%;
        height: 600px;
        margin-bottom: 10px;
    }



    .aplication-box .aplication-header h1{
        font-size: 25px;
    }



    .ui-messages-fatal{
        background: black;
        color: white;
        width: 100%;
        font-size: 18px;
        font-weight: bold;

    }


    .ui-messages-info.ui-corner-all{
        background: black;
        color: white;
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border-radius: 7px;
        border: none;
        box-shadow: 10px 15px 20px rgba(0,0,0, 0.8); 
        margin-bottom: 10px;
    }

    .ui-selectonemenu{
        width: 210px!important;
    }

    .ui-wizard-step-title{
        width: 100%!important;
        text-align: center !important;
    }



    .ui-datepicker-trigger{
        position: relative;
        bottom: 1px;
        left: 89%;
    }



    .subir-img{

        position: relative;
        bottom: 20px;
    }  

    .photo-label{
        position: relative;
        right: 0;
    }

    .foto-accordion{
        width:170px; height: 150px; position: relative; top: 0; right: 0;
    }

    .label-foto-a{
        position: relative; left: 0;
    }

    .move-left-btn{
        position: relative;
        left: 150px;
        margin-bottom: 5px;
    }


    .move-down-btn{
        position: relative;
        top: 35px;
    }

    .small-data-table{
        color: red;
    }
}

