.ui-datepicker-week-end{

    color: white!important;
    background:#d7ccc8   !important; 
}
.ui-datepicker-unselectable{
    color: white!important;
    opacity: .99 !important;
    filter: Alpha(Opacity=35);
    background:#ccff90;
    /*    background:white;*/
    box-shadow: none;
    text-shadow:none;
}  
.ui-widget-header {
    color: white!important;
    background:#3f51b5 !important;
}
.ui-datepicker th {
    background-color: #337ab7 !important;
    border: solid 1px !important;
    color: white!important;
    font-size: 20px !important;
}
.event a {
    opacity: .88 !important;
    background-color: #e57373   !important;
    color: #ffffff !important;
}
.ui-datepicker table {
    border: solid 1px !important;
    font-size: 30px !important;
    border-collapse: collapse;
    margin: 0 0 .4em;
    width: 100%;
}
.ui-datepicker{
    border: solid 1px !important;
    font-size: 30px !important;
    border-collapse: collapse;
    margin: 0 0 .4em;
    width: 100%;
}