<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Vivienda</title>
</h:head>
<h:body>
	<br />
	<br />

	<h2 align="center">Registro de Viviendas</h2>
	<h:form id="ce">
		<center>
			<p:fieldset legend="Registro de Viviendas" style="width:50%">
				<h:panelGrid columns="2">
					<p:outputLabel value="Lugar " />
					<p:inputText value="#{carteraVivienda.vivienda.lugar}" />
					<p:outputLabel value="N° de Habitaciones " />
					<p:inputText value="#{carteraVivienda.vivienda.habitaciones}" />
					<p:outputLabel value="N° de Baños " />
					<p:inputText value="#{carteraVivienda.vivienda.banio}" />
					<h:inputHidden />
					<p:commandButton value="Crear"
						actionListener="#{carteraVivienda.crear()}"
						oncomplete="PF('ce').hide();" update="ce" />
				</h:panelGrid>
			</p:fieldset>
		</center>
	</h:form>
	<br />
	<hr />
	<br />
	<br />
	<center>
		<p:button value="Ver lista de viviendas" outcome="index"
			style="width:50%" />
	</center>
</h:body>
</html>