<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Vivienda</title>
</h:head>
<h:body>
	<br />
	<br />

	<h2 align="center">Listado de Viviendas</h2>
	<h:form id="table" style="align-content:center;text-align:center">
		<p:dataTable var="v" value="#{carteraVivienda.listVivienda}"
			emptyMessage="No hay datos en la lista">
			<p:column headerText="Codigo">
				<p:outputLabel value="#{v.id}" />
			</p:column>
			<p:column headerText="Lugar">
				<p:outputLabel value="#{v.lugar}" />
			</p:column>
			<p:column headerText="Habitaciones">
				<p:outputLabel value="#{v.habitaciones}" />
			</p:column>
			<p:column headerText="Baños">
				<p:outputLabel value="#{v.banio}" />
			</p:column>
			<p:column headerText="Opciones">
				<p:commandButton value="Editar"
					actionListener="#{carteraVivienda.llenar(v)}" update=":ce"
					oncomplete="PF('ce').show();" />
				<p:commandButton value="Eliminar" update="table"
					actionListener="#{carteraVivienda.eliminar(v)}" />
			</p:column>
		</p:dataTable>
	</h:form>
	<br />
	<hr />
	<br />
	<br />
	<center>
		<p:button value="Crear un nuevo registro" outcome="crear"
			style="width:50%" />
	</center>
	<p:dialog modal="true" widgetVar="ce" showEffect="explode">
		<p:ajax listener="#{carteraVivienda.init()}" event="close"
			update=":ce" />
		<h:form id="ce">
			<h:panelGrid columns="2">
				<p:outputLabel value="Codigo " />
				<p:outputLabel value="#{carteraVivienda.vivienda.id}" />
				<p:outputLabel value="Lugar " />
				<p:inputText value="#{carteraVivienda.vivienda.lugar}" />
				<p:outputLabel value="N° de Habitaciones " />
				<p:inputText value="#{carteraVivienda.vivienda.habitaciones}" />
				<p:outputLabel value="N° de Baños " />
				<p:inputText value="#{carteraVivienda.vivienda.banio}" />
				<h:inputHidden />
				<p:commandButton value="Editar"
					actionListener="#{carteraVivienda.editar()}"
					oncomplete="PF('ce').hide();" update=":table ce" />
			</h:panelGrid>
		</h:form>
	</p:dialog>
</h:body>
</html>