ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-state-hover
	{
	background: none;
	border: 1px solid rgba(0, 0, 0, .075);
	border-color: transparent;
	background: transparent;
	font-weight: bold;
	color: black;
	outline: none;
}

ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-state-focus ui-state-active
	{
	background: none;
	border: 1px solid rgba(0, 0, 0, .075);
	border-color: transparent;
	background: transparent;
	font-weight: bold;
	color: black;
	outline: none;
}

.ui-button {
	background: transparent;
	font-weight: bold;
	color: black;
	border: none;
	border-color: transparent;
}

.ui-button:active {
	background: transparent;
	font-weight: bold;
	color: black;
	outline: none;
}

.ui-icon {
	position: static;
	overflow: visible;
}

.ui-state:hover ui-icon {
	background-image: none;
}

.ui-button-icon-only .ui-icon.fas {
	margin-top: -15px;
}

.ui-button-icon-only .ui-icon {
	left: 50%;
	margin-left: -15px;
}

.ui-inputfield {
	border: 1px solid #1484e6;
	border-radius: 15px;
	background: #fff;
	-moz-box-shadow: inset 0 2px 2px #8f8f8f;
	-webkit-box-shadow: inset 0 20px 2px #8f8f8f;
	box-shadow: inset 0 3.5px 2px #8f8f8f;
	color: #2293f7;
	padding: 10px;
	font-size: 20px;
}

#line {
	box-shadow: 3px 9px 10px 6px rgba(0, 0, 0, 0.51);
	border-top: 10px solid rgba(0, 0, 0, .1);
}

#linee {
	box-shadow: 1px -12px 15px 5px rgba(0, 0, 0, 0.42);
	border-top: 10px solid rgba(0, 0, 0, .1);
	margin-top: -52px;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
}

.card {
	width: 450px;
	height: 400px;
	background-color: #fff;
	background: linear-gradient(#f8f8f8, #fff);
	box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
	border-radius: 6px;
	overflow: hidden;
	position: relative;
	margin: 1.7rem;
}

.card h1 {
	text-align: center;
}

.card .additionalM {
	position: absolute;
	width: 150px;
	height: 100%;
	background: linear-gradient(#506ebf, #6583c9);
	transition: width 0.4s;
	overflow: hidden;
	z-index: 2;
}

.card .additionalF {
	position: absolute;
	width: 150px;
	height: 100%;
	background: linear-gradient(#dE685E, #EE786E);
	transition: width 0.4s;
	overflow: hidden;
	z-index: 2;
}

.card .general {
	width: 300px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	box-sizing: border-box;
	padding: 1rem;
	padding-top: 0;
}

.card .additionalM .user-card .level, .card .additionalM .user-card .points
	{
	top: 15%;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: bold;
	background: rgba(0, 0, 0, 0.15);
	padding: 0.125rem 0.75rem;
	border-radius: 100px;
	white-space: nowrap;
}

.card .additionalM .user-card .points {
	top: 85%;
}

.card .additionalM .user-card {
	width: 150px;
	height: 100%;
	position: relative;
	float: left;
}

.card .additionalF .user-card .level, .card .additionalF .user-card .points
	{
	top: 15%;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: bold;
	background: rgba(0, 0, 0, 0.15);
	padding: 0.125rem 0.75rem;
	border-radius: 100px;
	white-space: nowrap;
}

.card .additionalF .user-card .points {
	top: 85%;
}

.card .additionalF .user-card {
	width: 150px;
	height: 100%;
	position: relative;
	float: left;
}

body .ui-datatable thead th {
	background: #486e5c !important;
	color: white;
	border: none;
}

body .ui-datatable thead th .ui-column-title {
	font-weight: 300 !important;
	color: white !important;
	text-shadow: none;
	border: #486e5c;
	border-style: none;
}

.ui-datatable-tablewrapper {
	overflow: inherit;
}

ui-datatable-data ui-widget-content {
	border-style: none;
}

body .ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td,
	.ui-datatable tfoot th {
	padding: 4px 10px;
	overflow: hidden;
	border-width: 1px;
	border-style: none;
	text-align: center;
}

ui-dialog-titlebar ui-widget-header {
	background: white;
}

.ui-draggable .ui-dialog-titlebar {
	cursor: move;
	BACKGROUND: NONE;
}

.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	background: white;
	font-weight: bold;
	color: black;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

.ui-selectonemenu .ui-selectonemenu-label {
	border: background;
	white-space: nowrap;
	width: 100%;
	text-align: left;
	font-size: 15px;
}

body dialog #ab table {
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: grey;
	background-color: #486e5c !important;
}