/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-20-2019, 11:00:26 AM
    Author     : amanda.ayalausam
*/
.tablas {
    max-width: 1140px;
    margin: 0px auto;
    clear:both;
    font-family: Arial, Georgia, Serif;
}

.tabla {
    margin: 1em .5em 1.625em;
    padding: .25em 0 2em;
    background: #0F1012; /* Color de fondo remplace por su favorito */
    color: #f9f9f9;
    text-align: center;
    border:none;
}

@media (min-width: 40em) {
    .tabla {
        width:30%;
        float:left;
        -webkit-transition: all .25s;
        -moz-transition: all .25s;
        -ms-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s;
    }



}

/* Efecto de zoom al pasar el mouse puede modificar la scala */
.tabla:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    background:#656565;
}


div.precio {
    width:100px;
    height:100px;
    margin:0px auto;
    background:#FFF;
    border-radius: 50%;
    border: 10px solid #808080;
    color:#000;
    margin-top:20px;
    font-size: 24px;
    line-height:20px;
    font-family: "Oswald", "Arial", sans-serif;
    color: #ff8400;
    font-weight: bold;
}

div.precio p {
    margin:30px 0px 0px 0px;
    padding:0px;
}

div.precio sup {
    font-size:50%;
}

div.precio span {
    font-size: 12px;
    color: #a1a7b0;
    margin:0px;
    padding:0px;
}


.titulo1 {
    margin: .5em 0;
    padding: .33em 0;
    background: #c05805;
    font-size: 250%;
    color: #000;
}

.titulo2 {
    margin: .5em 0;
    padding: .25em 0;
    font-size: 250%;
    color: #000;
    background: #db9501;
}

.titulo3 {
    margin: .5em 0;
    padding: .28em 0;
    background: #c05805;
    font-size: 250%;
    color: #000;
}

.titulo4 {
    margin: .5em 0;
    padding: .28em 0;
    background: #c05805;
    font-size: 250%;
    color: #000;
}

.titulo5 {
    margin: .5em 0;
    padding: .20em 0;
    font-size: 250%;
    color: #000;
    background: #db9501;
}

.titulo6 {
    margin: .5em 0;
    padding: .25em 0;
    background: #c05805;
    font-size: 250%;
    color: #000;
}

.caracteristica {
    margin: 0px auto;
    padding: 0;
    list-style-type: none;
    color: #fefefe;
    width:95%;
}

.caracteristica li {
    padding: 10px 0px;
    border-bottom: 1px dotted #ccc;
}

.span {
    padding: 10px 0px !important;
    border-bottom: 0px dotted #ccc !important;
}

.caracteristica .comprar {
    border:none !important;
} 

.tabla .comprar {
    margin: 30px 0px 0px;
}

.tabla .comprar a {
    padding: 1em 3.25em;
    border: none;
    border-radius: 40px;
    background: #292b2e;
    color: #f9f9f9;
    cursor: pointer;
    text-decoration: none;
}

.tabla .comprar a:hover {
    background: #000;
    color: #666666;
}

body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
