<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Clientes</title>
    </h:head>
    <h:body style="justify-content: center;text-align: center;align-content: center">
        <p:dialog modal="true" showEffect="explode" hideEffect="explode" widgetVar="new">
            <p:ajax listener="#{clientes.init()}" event="close" update=":new"/>
            <h:form id="new">
                <h:panelGrid columns="4">
                    <p:outputLabel value="Nombre: &nbsp;"/>
                    <p:inputText value="#{clientes.cliente.nombre}"/>
                    <p:outputLabel value="Apellido: &nbsp;"/>
                    <p:inputText value="#{clientes.cliente.apellido}"/>
                    <p:outputLabel value="Direccion: &nbsp;"/>
                    <p:inputTextarea value="#{clientes.cliente.direccion}" cols="20" rows="5"/>
                    <p:outputLabel value="Fecha de Nacimiento: &nbsp;"/>
                    <p:calendar value="#{clientes.cliente.fechaNacimiento}"/>
                    <p:outputLabel value="Telefono: &nbsp;"/>
                    <p:inputText value="#{clientes.cliente.telefono}"/>
                    <p:outputLabel value="Email: &nbsp;"/>
                    <p:inputText value="#{clientes.cliente.email}"/>
                    <p:column/><p:column/>
                    <p:commandButton value="Registrar" actionListener="#{clientes.crear()}" update=":table new" oncomplete="PF('new').hide();"/>
                </h:panelGrid>
            </h:form>
        </p:dialog>
        <h:form id="table">
            <p:dataTable value="#{clientes.listClientes}" var="c">
                <p:column>
                    <f:facet name="header">ID</f:facet>
                    <p:outputLabel value="#{c.idCliente}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">Nombre Completo</f:facet>
                    <p:outputLabel value="#{c.nombre}, #{cl.apellido}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">Datos Perosnales</f:facet>
                    <p:outputLabel value="EMAIL: #{c.email}"/><br/><br/>
                    <p:outputLabel value="DIRECCION: #{c.direccion}"/><br/><br/>
                    <p:outputLabel value="FECHA DE NACIMIENTO: #{c.fechaNacimiento}"/><br/><br/>
                    <p:outputLabel value="N° DE TELEFONO: #{c.telefono}"/><br/><br/>
                </p:column>
                <p:column>
                    <f:facet name="header">OPCIONES</f:facet>
                    <p:commandButton value="Editar" actionListener="#{clientes.llenarid(c)}" update=":edit" oncomplete="PF('edit').show();"/>
                    <p:commandButton value="Eliminar" actionListener="#{clientes.eliminar(c)}" update=":table"/>
                </p:column>
            </p:dataTable>
        </h:form><br/><br/>
        <p:separator/><br/><br/>
        <p:commandButton oncomplete="PF('new').show();" value="Registrar un Nuevo Cliente"/>
        
        <p:dialog modal="true" showEffect="explode" hideEffect="explode" widgetVar="edit">
            <p:ajax listener="#{clientes.init()}" event="close" update=":edit"/>
            <h:form id="edit">
                <h:panelGrid columns="4">
                    <p:outputLabel value="Nombre: &nbsp;"/>
                    <p:inputText value="#{clientes.cliente.nombre}"/>
                    <p:outputLabel value="Apellido: &nbsp;"/>
                    <p:inputText value="#{clientes.cliente.apellido}"/>
                    <p:outputLabel value="Direccion: &nbsp;"/>
                    <p:inputTextarea value="#{clientes.cliente.direccion}" cols="20" rows="5"/>
                    <p:outputLabel value="Fecha de Nacimiento: &nbsp;"/>
                    <p:calendar value="#{clientes.cliente.fechaNacimiento}"/>
                    <p:outputLabel value="Telefono: &nbsp;"/>
                    <p:inputText value="#{clientes.cliente.telefono}"/>
                    <p:outputLabel value="Email: &nbsp;"/>
                    <p:inputText value="#{clientes.cliente.email}"/>
                    <p:column/><p:column/>
                    <p:commandButton value="Editar" actionListener="#{clientes.editar()}" update=":table edit" oncomplete="PF('edit').hide();"/>
                </h:panelGrid>
            </h:form>
        </p:dialog>
    </h:body>
</html>

