<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Inicio</title>
    </h:head><br/><br/>
    <h:body style="justify-content: center;text-align: center;align-content: center">
        <p:button value="Ver los clientes registrados" outcome="clientes"/>
        <p:button value="Ver los productos registrados" outcome="productos"/>
    </h:body>
</html>

