<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body style="justify-content: center;text-align: center;align-content: center">
        <p:dialog modal="true" showEffect="explode" hideEffect="explode" widgetVar="new">
            <p:ajax listener="#{productos.init()}" event="close" update=":new"/>
            <h:form id="new">
                <h:panelGrid columns="4">
                    <p:outputLabel value="Nombre: &nbsp;"/>
                    <p:inputText value="#{productos.producto.nombre}"/>
                    <p:outputLabel value="Precio: &nbsp;"/>
                    <p:inputText value="#{productos.producto.precio}"/>
                    <p:outputLabel value="Stock: &nbsp;"/>
                    <p:inputTextarea value="#{productos.producto.stock}" cols="20" rows="5"/>
                    <p:outputLabel value="Categoria: &nbsp;"/>
                    <p:selectOneMenu value="#{productos.categoria.idCategoria}">
                        <f:selectItems value="#{productos.listCategoria}" var="cp" itemLabel="#{cp.nombre}" itemValue="#{cp.idCategoria}"/>
                    </p:selectOneMenu>
                    <p:commandButton value="Registrar" actionListener="#{productos.crearProductos()}" update=":table new" oncomplete="PF('new').hide();"/>
                </h:panelGrid>
            </h:form>
        </p:dialog>
        <h:form id="table">
            <p:dataTable value="#{productos.listarProductos()}" var="p">
                <p:column>
                    <f:facet name="header">ID</f:facet>
                    <p:outputLabel value="#{p.idProducto}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">Nombre del Producto</f:facet>
                    <p:outputLabel value="#{p.nombre}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">Datos</f:facet>
                    <p:outputLabel value="Precio: #{p.precio}"/><br/><br/>
                    <p:outputLabel value="Stock: #{p.stock}"/><br/><br/>
                    <p:outputLabel value="Categoria: #{p.idCategoria.nombre}"/><br/><br/>
                </p:column>
                <p:column>
                    <f:facet name="header">OPCIONES</f:facet>
                    <p:commandButton value="Editar" actionListener="#{productos.llenarIdCategoria(p)}" update=":edit" oncomplete="PF('edit').show();"/>
                    <p:commandButton value="Eliminar" actionListener="#{productos.eliminarProductos(p)}" update=":table"/>
                </p:column>
            </p:dataTable>
        </h:form><br/><br/>
        <p:separator/><br/><br/>
        <p:commandButton oncomplete="PF('new').show();" value="Registrar un Nuevo Cliente"/>

        <p:dialog modal="true" showEffect="explode" hideEffect="explode" widgetVar="new">
            <p:ajax listener="#{productos.init()}" event="close" update=":edit"/>
            <h:form id="edit">
                <h:panelGrid columns="4">
                    <p:outputLabel value="Nombre: &nbsp;"/>
                    <p:inputText value="#{productos.producto.nombre}"/>
                    <p:outputLabel value="Precio: &nbsp;"/>
                    <p:inputText value="#{productos.producto.precio}"/>
                    <p:outputLabel value="Stock: &nbsp;"/>
                    <p:inputTextarea value="#{productos.producto.stock}" cols="20" rows="5"/>
                    <p:outputLabel value="Categoria: &nbsp;"/>
                    <p:selectOneMenu value="#{productos.categoria.idCategoria}">
                        <f:selectItems value="#{productos.listCategoria}" var="cp" itemLabel="#{cp.nombre}" itemValue="#{cp.idCategoria}"/>
                    </p:selectOneMenu>
                    <p:commandButton value="Editar" actionListener="#{productos.editarProductos()}" update=":table edit" oncomplete="PF('edit').hide();"/>
                </h:panelGrid>
            </h:form>
        </p:dialog>
    </h:body>
</html>

