<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>Asignacion Seguro de Vida</title>
	<f:event type="preRenderView" listener="#{usuariosC.verificarSesion()}" />
	<meta charset="UTF-8" />
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"></link>
	<meta Http-Equiv="Cache-Control" Content="no-cache"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"></link>
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous"></link>
	<link rel="icon" href="resources/favicon.ico" type="image/x-icon" />
	<style>
body .ui-datatable thead th {
	background: rgba(0, 0, 0, 0.75) !important;
	color: white;
	border: solid 1px #ffffff;
}

body .ui-datatable thead th .ui-column-title {
	font-weight: 200 !important;
	color: white !important;
	font-family: Segoe UI;
}

.ui-widget-content {
	background: rgba(32, 131, 238, 0.05);
	color: rgba(0, 0, 0, 0.75);
	border: #ffffff;
}

.boton {
	border-radius: 5px;
	background: #ffffff !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	box-shadow: 1px 1px 1px 1px rgba(34, 81, 235, 0.75);
}

.ui-datatable tbody.ui-datatable-data {
	outline: 0;
	border-collapse: collapse;
} /*Letra Tabla*/
.ui-widget-content {
	background: #fff;
	color: #4f4f4f;
	border: white;
}

.ui-datatable-tablewrapper {
	overflow: hidden;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	border-color: #7096ab;
	background: #E0D9D9;
	color: #313131;
	text-shadow: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	border: 0px solid #7096ab;
	background: #E0D9D9;
	color: #313131;
	box-shadow: 4px 4px 4px 4px #85b2cb;
}

.ui-datatable thead tr {
	display: table-row;
	vertical-align: inherit;
	background: #E25050;
	border: #4f4f4f;
}

/* titulo filas */
body .ui-datatable thead th {
	background: #1c1b1b !important;
	color: white;
	border: #1c1b1b;
}

body .ui-datatable thead th .ui-column-title {
	font-weight: 300 !important;
	color: white !important;
	text-shadow: none;
	border: #4f4f4f;;
}

.ui-inputfield.ui-widget.ui-state-default.ui-corner-all.hasDatepicker {
	border: none;
	border-color: background;
	background: white;
	box-shadow: none;
}

.ui-calendar.form-control.ui-trigger-calendar {
	height: 45px;
}

.ui-datepicker-trigger.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only
	{
	background: white;
	color: black;
}

.ui-button-icon-left.ui-icon.ui-icon-calendar {
	font-size: 5em;
}

.ui-datepicker-calendar {
	background: none;
}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all
	{
	background: transparent;
}

.table:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

.table:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}

nav {
	padding: 24px;
	text-align: center;
	font-family: Raleway;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-1 {
	background: #ffffff;
}

.link-1 {
	transition: 0.3s ease;
	background: #ffffff;
	color: #000000;
	font-size: 20px;
	text-decoration: none;
	border-top: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
	padding: 20px 0;
	margin: 0 20px;
	text-decoration: none;
}

.link-1:hover {
	border-top: 4px solid #336b87;
	border-bottom: 4px solid #336b87;
	padding: 6px 0;
	text-decoration: none;
}

body div nav .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left
	{
	background: black;
	color: white;
	border: background;
	border-radius: 10px;
}

body div nav .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.ui-state-hover
	{
	background: white;
	color: black;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

a:hover {
	text-decoration: none;
	color: black;
}

.navbar {
	overflow: hidden;
	background-color: #333;
}

#nav-1 .subnav  a {
	float: left;
	font-size: 20px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#nav-1 .subnav {
	float: left;
	overflow: hidden;
}

.subnav .subnavbtn {
	font-size: 16px;
	color: white;
	background-color: black;
	margin: 0;
}

.subnav:hover .subnavbtn {
	background-color: white;
	color: black;
}

.subnav-content {
	position: absolute;
	left: 0;
	background-color: black;
	width: 100%;
	display: none;
	z-index: 3;
	border-radius: 10px;
}

.subnav-content a {
	float: left;
	color: white;
	text-decoration: none;
}

.subnav-content a:hover {
	background-color: white;
	color: black;
}

.subnav:hover .subnav-content {
	display: block;
	margin: 1px 0px;
}

.subnav .ui-button:hover {
	box-shadow: none;
	border-color: gray;
	border: solid 0.5px gray;
}

.ui-dialog-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-top.ui-draggable-handle
	{
	background: black;
	color: white;
}
</style>
</h:head>
<h:body>
	<h:panelGroup
		rendered="#{us.personas.tipoUsuarios.id eq '2' or us.personas.tipoUsuarios.id eq '3'}">
		<meta http-equiv="Refresh" content="0;url=Error404.xhtml" />
	</h:panelGroup>

	<!-- Validacion de la vista -->
	<h:panelGroup
		rendered="#{us.personas.tipoUsuarios.id != '2' and us.personas.tipoUsuarios.id != '3'}">

		<!-- Validación del Menu -->

		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '1'}">
			<div id="main">
				<h:form>
					<nav id="nav-1"> <a class="link-1"
						href="registroPersona.xhtml">Registro de Personas</a> <a
						class="link-1" href="incubierta.xhtml">Incidencias Cubiertas</a> <a
						class="link-1" href="registroVehiculo.xhtml">Registro de
						Vehiculos</a> <a class="link-1" href="menu.xhtml">Inicio</a> <a
						class="link-1" href="asignacionSeguroAuto.xhtml">Asignacion
						Seguro de Vehiculos</a> <a class="link-1" href="taller.xhtml">Registro
						de Talleres</a> &nbsp;&nbsp;&nbsp; <p:commandButton value="Logout"
						action="#{usuariosC.close()}" icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>
		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '4'}">
			<div id="main">
				<h:form>
					<nav id="nav-1"> <a class="link-1"
						href="registroPersona.xhtml">Registro de Personas</a> <a
						class="link-1" href="registroVehiculo.xhtml">Registro de
						Vehiculos</a> <a class="link-1" href="menu.xhtml">Inicio</a> <a
						class="link-1" href="asignacionSeguroVida.xhtml">Asignacion
						Seguro de Vida</a> <a class="link-1" href="asignacionSeguroAuto.xhtml">Asignacion
						Seguro de Vehiculos</a>
					<div class="subnav">
						<p:commandButton value="Configuración" icon="fa fa-cogs"
							styleClass="subnavbtn" />
						<div class="subnav-content">
							<a class="a" href="beneficiarios.xhtml">Beneficiarios</a><a
								class="a" href="tipoAutos.xhtml">Tipos de Autos</a><a class="a"
								href="CrearUsuario.xhtml">Usuarios</a><a href="incidencia.xhtml">Incidencias</a>
							<a href="incubierta.xhtml">Incidencias cubiertas</a><a
								href="taller.xhtml">Registro de Talleres</a><a
								href="menuE.xhtml">Ver Estadísticas</a>
						</div>
					</div>
					<p:commandButton value="Logout" action="#{usuariosC.close()}"
						icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>
		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '5'}">
			<div id="main">
				<h:form>
					<nav id="nav-1">
					<div class="subnav">
						<p:commandButton value="Configuración" icon="fa fa-cogs"
							styleClass="subnavbtn" />
						<div class="subnav-content">
							<a class="a" href="modelos.xhtml">Modelos Vehiculos</a><a
								href="pagos.xhtml">Pagos</a><a class="a"
								href="beneficiarios.xhtml">Beneficiarios</a> <a class="a"
								href="tipoAutos.xhtml">Tipos de Autos</a> <a class="a"
								href="tipoSeguro.xhtml">Tipo de Seguros</a> <a class="a"
								href="Personas.xhtml">Registro de empleados</a> <a class="a"
								href="CrearUsuario.xhtml">Usuarios</a><a href="incidencia.xhtml">Incidencias</a>
							<a href="incubierta.xhtml">Incidencias cubiertas</a><a
								href="taller.xhtml">Registro de Talleres</a><a
								href="menuE.xhtml">Ver Estadísticas</a>
						</div>
					</div>

					<a class="link-1" href="registroPersona.xhtml">Registro de
						Personas</a> <a class="link-1" href="registroVehiculo.xhtml">Registro
						de Vehiculos</a> <a class="link-1" href="menu.xhtml">Inicio</a> <a
						class="link-1" href="asignacionSeguroVida.xhtml">Asignacion
						Seguro de Vida</a> <a class="link-1" href="asignacionSeguroAuto.xhtml">Asignacion
						Seguro de Vehiculos</a> &nbsp;&nbsp;&nbsp; <p:commandButton
						value="Logout" action="#{usuariosC.close()}"
						style="position:relative" icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>


		<p:growl id="msj" />
		<div class="jumbotron jumbotron-fluid"
			style="background-color: #336b87">
			<div class="container">
				<h1 class="display-4"
					style="font-family: Georgia; text-align: center; color: white">Asignación
					Seguro de Vida</h1>
			</div>
		</div>
		<h:form id="datos">
			<div class="container mt-3">
				<div class="row">
					<div class="form-group col-lg-4">
						<p:outputLabel value="Tipo de Seguro:">
							<h:selectOneMenu value="#{asignacion_Seguros.tipoSeguros.id}"
								class="form-control" style="border: ridge">
								<f:selectItem itemLabel="Seguro de Vida" itemValue="2" />
							</h:selectOneMenu>
						</p:outputLabel>
					</div>
					<div class="form-group col-lg-4">
						<p:outputLabel value="Seleccione una Persona:">
							<h:selectOneMenu value="#{asignacion_Seguros.personas.id}"
								class="form-control" style="border: ridge">
								<f:selectItem itemValue="0" noSelectionOption="true"
									itemLabel=" " />
								<f:selectItems value="#{asignacion_Seguros.listaClientes2}"
									var="var" itemLabel="#{var.nombre}#{var.apellido}"
									itemValue="#{var.id}" />
								<p:ajax listener="#{asignacion_Seguros.actbene()}" />
							</h:selectOneMenu>
						</p:outputLabel>
					</div>
					<div class="form-group col-lg-4">
						<p:outputLabel value="Seleccione Beneficiario:">
							<h:selectOneMenu id="bnet"
								value="#{asignacion_Seguros.beneficiarios.id}"
								class="form-control" style="border: ridge">

								<f:selectItems value="#{asignacion_Seguros.listactbene}"
									var="be" itemLabel="#{be.nombre}" itemValue="#{be.id}" />
							</h:selectOneMenu>
						</p:outputLabel>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-lg-4">
						<p:outputLabel value="Seleccione un Paquete:">
							<h:selectOneMenu value="#{asignacion_Seguros.paquetes.id}"
								class="form-control" style="border: ridge">
								<f:selectItem itemValue="0" noSelectionOption="true"
									itemLabel=" " />
								<f:selectItem itemLabel="Básico" itemValue="4" />
								<f:selectItem itemLabel="Plus" itemValue="5" />
								<f:selectItem itemLabel="Premium" itemValue="6" />
							</h:selectOneMenu>
						</p:outputLabel>
					</div>
					<div class="form-group col-lg-4">
						<p:outputLabel value="Seleccione Sucursal:">
							<h:selectOneMenu value="#{asignacion_Seguros.sucursales.id}"
								class="form-control" style="border: ridge">
								<f:selectItem itemValue="0" noSelectionOption="true"
									itemLabel=" " />
								<f:selectItems value="#{asignacion_Seguros.listaSucursales}"
									var="su" itemLabel="#{su.nombre}" itemValue="#{su.id}" />
							</h:selectOneMenu>
						</p:outputLabel>
					</div>
					<div class="form-group col-lg-4">
						<p:outputLabel value="Persona:">
							<h:selectOneMenu value="#{asignacion_Seguros.usuarios.id}"
								class="form-control" style="border: ridge">
								<f:selectItem itemLabel="Cliente" itemValue="2" />
							</h:selectOneMenu>
						</p:outputLabel>

					</div>
					<div class="form-group col-lg-4">
						<p:commandButton class="btn btn-outline-primary" value="Guardar"
							actionListener="#{asignacion_Seguros.crearAsignacionSegurosVida()}"
							update=":tabla :msj" />

					</div>

				</div>
			</div>
		</h:form>
		<h:form id="tabla">
			<center>
				<h:panelGroup
					rendered="#{us.personas.tipoUsuarios.id eq '5' or us.personas.tipoUsuarios.id eq '4'}">
					<p:dataTable styleClass="table"
						style="width: 85% !important; padding: 0; margin: 0 auto !important; border:2px double black !important"
						class="table text-white " value="#{asignacion_Seguros.listaSV}"
						var="v">
						<p:column style="text-align: center; width: 8%">
							<f:facet name="header">Póliza</f:facet>
							<p:outputLabel value="#{v.poliza}" />
						</p:column>
						<p:column style="text-align: center">
							<f:facet name="header">Persona</f:facet>
							<p:outputLabel value="#{v.personas.nombre}" />
						</p:column>
						<p:column>
							<f:facet name="header">Tipo de Seguro</f:facet>
							<p:outputLabel value="#{v.tipoSeguros.nombre}" />
						</p:column>
						<p:column>
							<f:facet name="header">Beneficiario</f:facet>
							<p:outputLabel value="#{v.beneficiarios.nombre}" />
						</p:column>
						<p:column style="text-align: center">
							<f:facet name="header">Paquete</f:facet>
							<p:outputLabel value="#{v.paquetes.nombre}" />
						</p:column>
						<p:column>
							<f:facet name="header">Sucursal</f:facet>
							<p:outputLabel value="#{v.sucursales.nombre}" />
						</p:column>
						<p:column style="text-align: center">
							<f:facet name="header">Estado</f:facet>
							<p:outputLabel value="Activo" rendered="#{v.estado ==true}"
								style="color:blue" />
							<p:outputLabel value="Inactivo" rendered="#{v.estado !=true}"
								style="color:red" />
						</p:column>
						<p:column style="text-align: center">
							<f:facet name="header">Persona que lo Registro</f:facet>
							<p:outputLabel value="#{v.usuarios.personas.nombre}" />
						</p:column>
						<p:column>
							<f:facet name="header">Fecha</f:facet>
							<p:outputLabel value="#{v.fecha}">
								<f:convertDateTime pattern="d/M/yyyy 'a las' hh:mm a"
									locale="es_SV" timeZone="GMT-6" type="both" />
							</p:outputLabel>
						</p:column>

						<p:column style="text-align: center">
							<f:facet name="header">Acciones</f:facet>
							<p:commandButton value="Editar" oncomplete="PF('java').show();"
								action="#{asignacion_Seguros.cargarAsignacionSegurosV(v)}"
								styleClass="boton ui-priority-primary" update=":editar" />
							<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '5'}">
								<h:panelGroup rendered="#{v.estado == true}">
									<p:commandButton value="Eliminar"
										actionListener="#{asignacion_Seguros.eliminarAsignacionSeguros(v)}"
										styleClass="boton ui-priority-primary" update=":tabla" />
								</h:panelGroup>
							</h:panelGroup>
						</p:column>
					</p:dataTable>
				</h:panelGroup>

				<h:panelGroup
					rendered="#{us.personas.tipoUsuarios.id != '5' and us.personas.tipoUsuarios.id != '4'}">
					<p:dataTable styleClass="table"
						style="width: 85% !important; padding: 0; margin: 0 auto !important; border:2px double black !important"
						class="table text-white " value="#{asignacion_Seguros.listaSV}"
						var="v">
						<p:column style="text-align: center; width: 8%">
							<f:facet name="header">Póliza</f:facet>
							<p:outputLabel value="#{v.poliza}" />
						</p:column>
						<p:column style="text-align: center">
							<f:facet name="header">Persona</f:facet>
							<p:outputLabel value="#{v.personas.nombre}" />
						</p:column>
						<p:column>
							<f:facet name="header">Tipo de Seguro</f:facet>
							<p:outputLabel value="#{v.tipoSeguros.nombre}" />
						</p:column>
						<p:column>
							<f:facet name="header">Beneficiario</f:facet>
							<p:outputLabel value="#{v.beneficiarios.nombre}" />
						</p:column>
						<p:column style="text-align: center">
							<f:facet name="header">Paquete</f:facet>
							<p:outputLabel value="#{v.paquetes.nombre}" />
						</p:column>
						<p:column>
							<f:facet name="header">Sucursal</f:facet>
							<p:outputLabel value="#{v.sucursales.nombre}" />
						</p:column>
						<p:column style="text-align: center">
							<f:facet name="header">Estado</f:facet>
							<p:outputLabel value="Activo" rendered="#{v.estado ==true}"
								style="color:blue" />
							<p:outputLabel value="Inactivo" rendered="#{v.estado !=true}"
								style="color:red" />
						</p:column>
						<p:column style="text-align: center">
							<f:facet name="header">Usuario</f:facet>
							<p:outputLabel value="#{v.usuarios.usuario}" />
						</p:column>
						<p:column>
							<f:facet name="header">Fecha</f:facet>
							<p:outputLabel value="#{v.fecha}">
								<f:convertDateTime pattern="d/M/yyyy 'a las' hh:mm a"
									locale="es_SV" timeZone="GMT-6" type="both" />
							</p:outputLabel>
						</p:column>
					</p:dataTable>
				</h:panelGroup>
			</center>
		</h:form>
		<h:form id="editar">
			<p:dialog widgetVar="java" modal="true" header="Editar"
				showEffect="explode" resizable="false">
				<p:panelGrid columns="1">
					<p:outputLabel value="Póliza">
						<p:inputText value="#{asignacion_Seguros.cancelarSeguros.poliza}"
							class="form-control" readonly="true" />
					</p:outputLabel>
					<p:outputLabel value="Seleccione una Persona">
						<h:selectOneMenu id="pe" value="#{asignacion_Seguros.personas.id}"
							class="form-control" style="border: ridge">
							<f:selectItems value="#{asignacion_Seguros.listaPersonas}"
								var="var" itemLabel="#{var.nombre} #{var.apellido}"
								itemValue="#{var.id}" />
						</h:selectOneMenu>
					</p:outputLabel>
					<p:outputLabel value="Seleccione Beneficiario">
						<h:selectOneMenu value="#{asignacion_Seguros.beneficiarios.id}"
							class="form-control" style="border: ridge">
							<f:selectItems value="#{asignacion_Seguros.listaBeneficiario}"
								var="be" itemLabel="#{be.nombre}" itemValue="#{be.id}" />
						</h:selectOneMenu>
					</p:outputLabel>
					<p:outputLabel value="Seleccione un Paquete">
						<h:selectOneMenu value="#{asignacion_Seguros.paquetes.id}"
							class="form-control" style="border: ridge">
							<f:selectItem itemLabel="Básico" itemValue="4" />
							<f:selectItem itemLabel="Plus" itemValue="5" />
							<f:selectItem itemLabel="Premium" itemValue="6" />
						</h:selectOneMenu>
					</p:outputLabel>
					<p:outputLabel value="Seleccione Sucursal">
						<h:selectOneMenu value="#{asignacion_Seguros.sucursales.id}"
							class="form-control" style="border: ridge">
							<f:selectItems value="#{asignacion_Seguros.listaSucursales}"
								var="su" itemLabel="#{su.nombre}" itemValue="#{su.id}" />
						</h:selectOneMenu>
					</p:outputLabel>
					<p:outputLabel value="Fecha">
						<p:calendar navigator="true" pattern="yyyy/MM/dd hh:mm a"
							mask="?9999/99/99 99:99 aa" showOn="button" buttonTabindex="-1"
							value="#{asignacion_Seguros.cancelarSeguros.fecha}"
							timeZone="GMT-6" class="form-control" />
					</p:outputLabel>
					<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '5'}">
						<p:outputLabel value="Estado" />
						<p:selectBooleanButton id="estado"
							value="#{asignacion_Seguros.cancelarSeguros.estado}"
							onLabel="Activo" offLabel="Inactivo" class="form-control" />
					</h:panelGroup>

					<p:commandButton value="Guardar Cambios"
						actionListener="#{asignacion_Seguros.editarAsignacionSegurosVida()}"
						oncomplete="PF('java').hide();" update=":tabla :msj"
						styleClass="boton ui-priority-primary" />
				</p:panelGrid>
			</p:dialog>
		</h:form>
	</h:panelGroup>
</h:body>
</html>

