<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Beneficiarios</title>
	<f:event type="preRenderView" listener="#{usuariosC.verificarSesion()}" />
	<meta charset="UTF-8" />
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
	<meta Http-Equiv="Cache-Control" Content="no-cache"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"></link>
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous"></link>
	<link rel="icon" href="resources/favicon.ico" type="image/x-icon" />
	<style>
body .ui-datatable thead th {
	background: rgba(0, 0, 0, 0.75) !important;
	color: white;
	border: solid 1px #ffffff;
}

body .ui-datatable thead th .ui-column-title {
	font-weight: 200 !important;
	color: white !important;
	font-family: Segoe UI;
}

.ui-widget-content {
	background: rgba(32, 131, 238, 0.05);
	color: rgba(0, 0, 0, 0.75);
	border: #ffffff;
}

.boton {
	border-radius: 5px;
	background: #F6F8FB !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	box-shadow: 1px 1px 1px 1px rgba(34, 81, 235, 0.75);
}

.ui-datatable tbody.ui-datatable-data {
	outline: 0;
	border-collapse: collapse;
} /*Letra Tabla*/
.ui-widget-content {
	background: #fff;
	color: #4f4f4f;
	border: white;
}

.ui-datatable-tablewrapper {
	overflow: hidden;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	border-color: #7096ab;
	background: #E0D9D9;
	color: #313131;
	text-shadow: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	border: 0px solid #7096ab;
	background: #E0D9D9;
	color: #313131;
	box-shadow: 4px 4px 4px 4px #85b2cb;
}

.ui-datatable thead tr {
	display: table-row;
	vertical-align: inherit;
	background: #E25050;
	border: #4f4f4f;
}

/* titulo filas */
body .ui-datatable thead th {
	background: #1c1b1b !important;
	color: white;
	border: #1c1b1b;
}

body .ui-datatable thead th .ui-column-title {
	font-weight: 300 !important;
	color: white !important;
	text-shadow: none;
	border: #4f4f4f;;
}

.table:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

.table:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}

nav {
	padding: 24px;
	text-align: center;
	font-family: Raleway;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-1 {
	background: #ffffff;
}

.link-1 {
	transition: 0.3s ease;
	background: #ffffff;
	color: #000000;
	font-size: 20px;
	text-decoration: none;
	border-top: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
	padding: 20px 0;
	margin: 0 20px;
	text-decoration: none;
}

.link-1:hover {
	border-top: 4px solid #336b87;
	border-bottom: 4px solid #336b87;
	padding: 6px 0;
	text-decoration: none;
}

body div nav .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left
	{
	background: black;
	color: white;
	border: background;
	border-radius: 10px;
}

body div nav .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.ui-state-hover
	{
	background: white;
	color: black;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

a:hover {
	text-decoration: none;
	color: black;
}

.navbar {
	overflow: hidden;
	background-color: #333;
}

#nav-1 .subnav  a {
	float: left;
	font-size: 20px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#nav-1 .subnav {
	float: left;
	overflow: hidden;
}

.subnav .subnavbtn {
	font-size: 16px;
	color: white;
	background-color: black;
	margin: 0;
}

.subnav:hover .subnavbtn {
	background-color: white;
	color: black;
}

.subnav-content {
	position: absolute;
	left: 0;
	background-color: black;
	width: 100%;
	display: none;
	z-index: 3;
	border-radius: 10px;
}

.subnav-content a {
	float: left;
	color: white;
	text-decoration: none;
}

.subnav-content a:hover {
	background-color: white;
	color: black;
}

.subnav:hover .subnav-content {
	display: block;
	margin: 1px 0px;
}

.subnav .ui-button:hover {
	box-shadow: none;
	border-color: gray;
	border: solid 0.5px gray;
}

.ui-dialog-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-top.ui-draggable-handle
	{
	background: black;
	color: white;
}
</style>
</h:head>
<h:body>

	<h:panelGroup
		rendered="#{us.personas.tipoUsuarios.id eq '2' or us.personas.tipoUsuarios.id eq '3'}">
		<meta http-equiv="Refresh" content="0;url=Error404.xhtml" />
	</h:panelGroup>

	<!-- Validacion de la vista -->
	<h:panelGroup
		rendered="#{us.personas.tipoUsuarios.id != '2' and us.personas.tipoUsuarios.id != '3'}">

		<!-- Validación del Menu -->
		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '1'}">
			<div id="main">
				<h:form>
					<nav id="nav-1"> <a class="link-1"
						href="registroPersona.xhtml">Registro de Personas</a> <a
						class="link-1" href="incubierta.xhtml">Incidencias</a> <a
						class="link-1" href="registroVehiculo.xhtml">Registro de
						Vehiculos</a> <a class="link-1" href="menu.xhtml">Inicio</a> <a
						class="link-1" href="asignacionSeguroVida.xhtml">Seguro de
						Vida</a> <a class="link-1" href="asignacionSeguroAuto.xhtml">Seguro
						de Vehiculos</a> <a class="link-1" href="taller.xhtml">Talleres</a>
					&nbsp;&nbsp;&nbsp; <p:commandButton value="Logout"
						action="#{usuariosC.close()}" icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>
		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '4'}">
			<div id="main">
				<h:form>
					<nav id="nav-1"> <a class="link-1"
						href="registroPersona.xhtml">Registro de Personas</a> <a
						class="link-1" href="registroVehiculo.xhtml">Registro de
						Vehiculos</a> <a class="link-1" href="menu.xhtml">Inicio</a> <a
						class="link-1" href="asignacionSeguroVida.xhtml">Asignacion
						Seguro de Vida</a> <a class="link-1" href="asignacionSeguroAuto.xhtml">Asignacion
						Seguro de Vehiculos</a>
					<div class="subnav">
						<p:commandButton value="Configuración" icon="fa fa-cogs"
							styleClass="subnavbtn" />
						<div class="subnav-content">
							<a class="a" href="beneficiarios.xhtml">Beneficiarios</a><a
								class="a" href="tipoAutos.xhtml">Tipos de Autos</a><a class="a"
								href="CrearUsuario.xhtml">Usuarios</a><a href="incidencia.xhtml">Incidencias</a>
							<a href="incubierta.xhtml">Incidencias cubiertas</a><a
								href="taller.xhtml">Registro de Talleres</a><a
								href="menuE.xhtml">Ver Estadísticas</a>
						</div>
					</div>
					<p:commandButton value="Logout" action="#{usuariosC.close()}"
						icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>
		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '5'}">
			<div id="main">
				<h:form>
					<nav id="nav-1">
					<div class="subnav">
						<p:commandButton value="Configuración" icon="fa fa-cogs"
							styleClass="subnavbtn" />
						<div class="subnav-content">
							<a class="a" href="modelos.xhtml">Modelos Vehiculos</a><a
								href="pagos.xhtml">Pagos</a><a class="a"
								href="beneficiarios.xhtml">Beneficiarios</a> <a class="a"
								href="tipoAutos.xhtml">Tipos de Autos</a> <a class="a"
								href="tipoSeguro.xhtml">Tipo de Seguros</a> <a class="a"
								href="Personas.xhtml">Registro de empleados</a> <a class="a"
								href="CrearUsuario.xhtml">Usuarios</a><a href="incidencia.xhtml">Incidencias</a>
							<a href="incubierta.xhtml">Incidencias cubiertas</a><a
								href="taller.xhtml">Registro de Talleres</a><a
								href="menuE.xhtml">Ver Estadísticas</a>
						</div>
					</div>

					<a class="link-1" href="registroPersona.xhtml">Registro de
						Personas</a> <a class="link-1" href="registroVehiculo.xhtml">Registro
						de Vehiculos</a> <a class="link-1" href="menu.xhtml">Inicio</a> <a
						class="link-1" href="asignacionSeguroVida.xhtml">Asignacion
						Seguro de Vida</a> <a class="link-1" href="asignacionSeguroAuto.xhtml">Asignacion
						Seguro de Vehiculos</a> &nbsp;&nbsp;&nbsp; <p:commandButton
						value="Logout" action="#{usuariosC.close()}"
						style="position:relative" icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>


		<p:growl id="msj" />
		<div class="jumbotron jumbotron-fluid"
			style="background-color: #336b87">
			<div class="container">
				<h1 class="display-4"
					style="font-family: Georgia; text-align: center; color: white">Registro
					de Beneficiarios</h1>

			</div>
		</div>
		<h:form id="datos">
			<div class="container mt-3">
				<div class="row">
					<div class="form-group col-lg-4">
						<p:outputLabel value="Nombre:" />
						<p:inputText value="#{asignacion_Seguros.beneficiarios.nombre}"
							class="form-control" placeholder="Nombre" />
					</div>
					<div class="form-group col-lg-4">
						<p:outputLabel value="Apellido:" />
						<p:inputText value="#{asignacion_Seguros.beneficiarios.apellido}"
							class="form-control" placeholder="Apellido" />
					</div>
					<div class="form-group col-lg-4">
						<p:outputLabel value="Fecha Nacimiento:" style="padding-left: 5%" />
						<p:calendar locale="de" navigator="true"
							value="#{asignacion_Seguros.beneficiarios.fechaNacimiento}"
							pattern="dd-MM-yyyy" placeholder="Fecha de Nacimiento" />
					</div>
				</div>
				<div class="row">
					<div class="form-group col-lg-4">
						<p:outputLabel value="DUI:" />
						<p:inputMask mask="99999999-9"
							value="#{asignacion_Seguros.beneficiarios.dui}"
							class="form-control" placeholder="DUI" />
					</div>
					<div class="form-group col-lg-4">
						<p:outputLabel value="Direccion:" />
						<p:inputText value="#{asignacion_Seguros.beneficiarios.direccion}"
							class="form-control" placeholder="Direccion" />
					</div>
					<div class="form-group col-lg-4">
						<p:outputLabel value="Telefono:" />
						<p:inputMask mask="9999-9999" style="width: 50%"
							value="#{asignacion_Seguros.beneficiarios.telefono}"
							class="form-control" placeholder="Telefono:" />
					</div>
				</div>
				<div class="row">
					<div class="form-group col-lg-4">
						<p:outputLabel value="Seleccione Persona:">
							<p:outputLabel
								value="#{asignacion_Seguros.personas.nombre} #{asignacion_Seguros.personas.apellido}"
								class="form-control" style="border: ridge;width:120%"
								readonly="true">
							</p:outputLabel>
						</p:outputLabel>
					</div>
					<div class="form-group col-lg-4">
						<p:outputLabel value="Parentesco" />
						<p:inputText
							value="#{asignacion_Seguros.beneficiarios.parentesco}"
							class="form-control" placeholder="Parentesco" />
					</div>
					<div class="form-group col-lg-3">
						<p:outputLabel value="Porcentaje" />
						<p:inputNumber
							value="#{asignacion_Seguros.beneficiarios.porcentaje}"
							inputStyleClass="form-control" decimalPlaces="2"
							maxValue="100.00" minValue="00.00" placeholder="Porcentaje" />
					</div>
					<div class="col-lg-4" style="padding-left: 40%">
						<p:commandButton class="btn btn-outline-primary" value="Guardar"
							update=":tabla :msj :datos"
							actionListener="#{asignacion_Seguros.crearBeneficiario()}" />
					</div>
				</div>
			</div>
		</h:form>

		<h:form id="tabla">
			<center>
				<h:panelGroup
					rendered="#{us.personas.tipoUsuarios.id != '4' and us.personas.tipoUsuarios.id != '5'}">
					<p:dataTable styleClass="table"
						style="width: 85% !important; padding: 0; margin: 0 auto !important; border:2px double black !important"
						class="table text-white"
						value="#{asignacion_Seguros.listaBeneficiario}" var="be">
						<p:column>
							<f:facet name="header">Nombre</f:facet>
							<p:outputLabel value="#{be.nombre}" />
						</p:column>
						<p:column>
							<f:facet name="header">Apellido</f:facet>
							<p:outputLabel value="#{be.apellido}" />
						</p:column>
						<p:column>
							<f:facet name="header">Fecha de Nacimiento</f:facet>
							<p:outputLabel value="#{be.fechaNacimiento}">
								<f:convertDateTime pattern="dd-MM-yyyy" />
							</p:outputLabel>
						</p:column>
						<p:column>
							<f:facet name="header">Dui</f:facet>
							<p:outputLabel value="#{be.dui}" />
						</p:column>
						<p:column>
							<f:facet name="header">Dirección</f:facet>
							<p:outputLabel value="#{be.direccion}" />
						</p:column>
						<p:column>
							<f:facet name="header">Telefono</f:facet>
							<p:outputLabel value="#{be.telefono}" />
						</p:column>
						<p:column>
							<f:facet name="header">Persona</f:facet>
							<p:outputLabel value="#{be.personas.nombre}" />
						</p:column>
						<p:column style="text-align: center">
							<f:facet name="header">Parentesco</f:facet>
							<p:outputLabel value="#{be.parentesco}" />
						</p:column>
						<p:column style="text-align: center">
							<f:facet name="header">Porcentaje</f:facet>
							<p:outputLabel value="#{be.porcentaje}" />
						</p:column>
						<p:column style="text-align: center">
							<f:facet name="header">Estado</f:facet>
							<p:outputLabel value="Activo" rendered="#{be.estado==true}"
								style="color: blue" />
							<p:outputLabel value="Inactivo" rendered="#{be.estado!=true}"
								style="color:red" />
						</p:column>
					</p:dataTable>
				</h:panelGroup>
				<h:panelGroup
					rendered="#{us.personas.tipoUsuarios.id eq '4' or us.personas.tipoUsuarios.id eq '5'}">
					<p:dataTable styleClass="table"
						style="width: 85% !important; padding: 0; margin: 0 auto !important; border:2px double black !important"
						class="table text-white"
						value="#{asignacion_Seguros.listaBeneficiario}" var="be">
						<p:column>
							<f:facet name="header">Nombre</f:facet>
							<p:outputLabel value="#{be.nombre}" />
						</p:column>
						<p:column>
							<f:facet name="header">Apellido</f:facet>
							<p:outputLabel value="#{be.apellido}" />
						</p:column>
						<p:column>
							<f:facet name="header">Fecha de Nacimiento</f:facet>
							<p:outputLabel value="#{be.fechaNacimiento}">
								<f:convertDateTime pattern="dd-MM-yyyy" />
							</p:outputLabel>
						</p:column>
						<p:column>
							<f:facet name="header">Dui</f:facet>
							<p:outputLabel value="#{be.dui}" />
						</p:column>
						<p:column>
							<f:facet name="header">Dirección</f:facet>
							<p:outputLabel value="#{be.direccion}" />
						</p:column>
						<p:column>
							<f:facet name="header">Telefono</f:facet>
							<p:outputLabel value="#{be.telefono}" />
						</p:column>
						<p:column>
							<f:facet name="header">Persona</f:facet>
							<p:outputLabel value="#{be.personas.nombre}" />
						</p:column>
						<p:column style="text-align: center">
							<f:facet name="header">Parentesco</f:facet>
							<p:outputLabel value="#{be.parentesco}" />
						</p:column>
						<p:column style="text-align: center">
							<f:facet name="header">Porcentaje</f:facet>
							<p:outputLabel value="#{be.porcentaje}" />
						</p:column>
						<p:column style="text-align: center">
							<f:facet name="header">Estado</f:facet>
							<p:outputLabel value="Activo" rendered="#{be.estado==true}"
								style="color: blue" />
							<p:outputLabel value="Inactivo" rendered="#{be.estado!=true}"
								style="color:red" />
						</p:column>

						<p:column>
							<f:facet name="header">Acciones</f:facet>
							<p:commandButton value="Editar" oncomplete="PF('java').show();"
								action="#{asignacion_Seguros.cargarBeneficiario(be)}"
								styleClass="boton ui-priority-primary" update=":editar" />
							<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '5'}">
								<h:panelGroup rendered="#{be.estado == true}">
									<p:commandButton value="Eliminar"
										actionListener="#{asignacion_Seguros.eliminarBeneficiario(be)}"
										styleClass="boton ui-priority-primary" update=":tabla" />
								</h:panelGroup>
							</h:panelGroup>
						</p:column>
					</p:dataTable>
				</h:panelGroup>

			</center>
		</h:form>
		<h:form id="editar">
			<p:dialog widgetVar="java" modal="true" header="Editar"
				showEffect="explode" resizable="false">
				<p:panelGrid columns="2">
					<p:outputLabel value="Nombre">
						<br></br>
						<p:inputText value="#{asignacion_Seguros.beneficiarios.nombre}" />
					</p:outputLabel>
					<p:outputLabel value="Apellido">
						<br></br>
						<p:inputText value="#{asignacion_Seguros.beneficiarios.apellido}" />
					</p:outputLabel>
					<p:outputLabel value="Fecha de Nacimiento">
						<br></br>
						<p:calendar
							value="#{asignacion_Seguros.beneficiarios.fechaNacimiento}"
							pattern="yyyy-MM-dd" />
					</p:outputLabel>
					<p:outputLabel value="Dui">
						<br></br>
						<p:inputMask mask="99999999-9"
							value="#{asignacion_Seguros.beneficiarios.dui}" />
					</p:outputLabel>
					<p:outputLabel value="Dirección">
						<br></br>
						<p:inputText value="#{asignacion_Seguros.beneficiarios.direccion}" />
					</p:outputLabel>
					<p:outputLabel value="Telefono">
						<br></br>
						<p:inputMask mask="9999-9999"
							value="#{asignacion_Seguros.beneficiarios.telefono}" />
					</p:outputLabel>
					<p:outputLabel value="Persona">
						<br></br>
						<h:selectOneMenu value="#{asignacion_Seguros.personas.id}"
							title="municipios" class="form-control" style="border: ridge">
							<f:selectItems value="#{asignacion_Seguros.listaPersonas}"
								var="pe" itemLabel="#{pe.nombre}" itemValue="#{pe.id}" />
						</h:selectOneMenu>
					</p:outputLabel>
					<p:outputLabel value="Parentesco">
						<br></br>
						<p:inputText
							value="#{asignacion_Seguros.beneficiarios.parentesco}" />
					</p:outputLabel>
					<p:outputLabel value="Porcentaje">
						<br></br>
						<p:inputText
							value="#{asignacion_Seguros.beneficiarios.porcentaje}" />
					</p:outputLabel>
					<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '5'}">
						<p:outputLabel value="Estado">&nbsp;
					<p:selectBooleanButton styleClass="boton ui-priority-primary"
								id="estado" value="#{asignacion_Seguros.beneficiarios.estado}"
								onLabel="Activo" offLabel="Inactivo" />
						</p:outputLabel>
					</h:panelGroup>
					<p:commandButton value="Editar"
						styleClass="boton ui-priority-primary"
						actionListener="#{asignacion_Seguros.editarBeneficiario()}"
						oncomplete="PF('java').hide();" update=":tabla :msj" />
				</p:panelGrid>
			</p:dialog>
		</h:form>
	</h:panelGroup>
</h:body>
</html>
