<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>Crear Usuario</title>
	<f:event type="preRenderView" listener="#{usuariosC.verificarSesion()}" />
	<meta charset="UTF-8" />
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
	<meta Http-Equiv="Cache-Control" Content="no-cache"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"></link>
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous"></link>
	<link rel="icon" href="resources/favicon.ico" type="image/x-icon" />

	<style>
body .ui-datatable thead th {
	background: rgba(0, 0, 0, 0.75) !important;
	color: white;
	border: solid 1px #ffffff;
}

body .ui-datatable thead th .ui-column-title {
	font-weight: 200 !important;
	color: white !important;
	font-family: Segoe UI;
}

.ui-widget-content {
	background: rgba(32, 131, 238, 0.05);
	color: rgba(0, 0, 0, 0.75);
	border: #ffffff;
}

.boton {
	border-radius: 5px;
	background: #F6F8FB !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	box-shadow: 1px 1px 1px 1px rgba(34, 81, 235, 0.75);
}

.ui-datatable tbody.ui-datatable-data {
	outline: 0;
	border-collapse: collapse;
} /*Letra Tabla*/
.ui-widget-content {
	background: #fff;
	color: #4f4f4f;
	border: white;
}

.ui-datatable-tablewrapper {
	overflow: hidden;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	border-color: #7096ab;
	background: #E0D9D9;
	color: #313131;
	text-shadow: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	border: 0px solid #7096ab;
	background: #E0D9D9;
	color: #313131;
	box-shadow: 4px 4px 4px 4px #85b2cb;
}

.ui-datatable thead tr {
	display: table-row;
	vertical-align: inherit;
	background: #E25050;
	border: #4f4f4f;
}

/* titulo filas */
body .ui-datatable thead th {
	background: #1c1b1b !important;
	color: white;
	border: #1c1b1b;
}

body .ui-datatable thead th .ui-column-title {
	font-weight: 300 !important;
	color: white !important;
	text-shadow: none;
	border: #4f4f4f;;
}

.table:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

.table:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}

nav {
	padding: 24px;
	text-align: center;
	font-family: Raleway;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-1 {
	background: #ffffff;
}

.link-1 {
	transition: 0.3s ease;
	background: #ffffff;
	color: #000000;
	font-size: 20px;
	text-decoration: none;
	border-top: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
	padding: 20px 0;
	margin: 0 20px;
}

.link-1:hover {
	border-top: 4px solid #336b87;
	border-bottom: 4px solid #336b87;
	padding: 6px 0;
}

nav {
	padding: 24px;
	text-align: center;
	font-family: Raleway;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-1 {
	background: #ffffff;
}

.link-1 {
	transition: 0.3s ease;
	background: #ffffff;
	color: #000000;
	font-size: 20px;
	text-decoration: none;
	border-top: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
	padding: 20px 0;
	margin: 0 20px;
	text-decoration: none;
}

.link-1:hover {
	border-top: 4px solid #336b87;
	border-bottom: 4px solid #336b87;
	padding: 6px 0;
	text-decoration: none;
}

body div nav .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left
	{
	background: black;
	color: white;
	border: background;
	border-radius: 10px;
}

body div nav .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.ui-state-hover
	{
	background: white;
	color: black;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

a:hover {
	text-decoration: none;
	color: black;
}

.navbar {
	overflow: hidden;
	background-color: #333;
}

#nav-1 .subnav  a {
	float: left;
	font-size: 20px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#nav-1 .subnav {
	float: left;
	overflow: hidden;
}

.subnav .subnavbtn {
	font-size: 16px;
	color: white;
	background-color: black;
	margin: 0;
}

.subnav:hover .subnavbtn {
	background-color: white;
	color: black;
}

.subnav-content {
	position: absolute;
	left: 0;
	background-color: black;
	width: 100%;
	display: none;
	z-index: 3;
	border-radius: 10px;
}

.subnav-content a {
	float: left;
	color: white;
	text-decoration: none;
}

.subnav-content a:hover {
	background-color: white;
	color: black;
}

.subnav:hover .subnav-content {
	display: block;
	margin: 1px 0px;
}

.subnav .ui-button:hover {
	box-shadow: none;
	border-color: gray;
	border: solid 0.5px gray;
}

.ui-dialog-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-top.ui-draggable-handle
	{
	background: black;
	color: white;
}
</style>

</h:head>
<h:body>

	<h:panelGroup
		rendered="#{us.personas.tipoUsuarios.id != '4' and us.personas.tipoUsuarios.id != '5'}">
		<meta http-equiv="Refresh" content="0;url=Error404.xhtml" />
	</h:panelGroup>

	<h:panelGroup
		rendered="#{us.personas.tipoUsuarios.id eq '4' or us.personas.tipoUsuarios.id eq '5'}">
		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '4'}">
			<div id="main">
				<h:form>
					<nav id="nav-1"> <a class="link-1"
						href="registroPersona.xhtml">Registro de Personas</a> <a
						class="link-1" href="registroVehiculo.xhtml">Registro de
						Vehiculos</a> <a class="link-1" href="menu.xhtml">Inicio</a> <a
						class="link-1" href="asignacionSeguroVida.xhtml">Asignacion
						Seguro de Vida</a> <a class="link-1" href="asignacionSeguroAuto.xhtml">Asignacion
						Seguro de Vehiculos</a>
					<div class="subnav">
						<p:commandButton value="Configuración" icon="fa fa-cogs"
							styleClass="subnavbtn" />
						<div class="subnav-content">
							<a class="a" href="beneficiarios.xhtml">Beneficiarios</a><a
								class="a" href="tipoAutos.xhtml">Tipos de Autos</a><a class="a"
								href="CrearUsuario.xhtml">Usuarios</a><a href="incidencia.xhtml">Incidencias</a>
							<a href="incubierta.xhtml">Incidencias cubiertas</a><a
								href="taller.xhtml">Registro de Talleres</a><a
								href="menuE.xhtml">Ver Estadísticas</a>
						</div>
					</div>
					<p:commandButton value="Logout" action="#{usuariosC.close()}"
						icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>
		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '5'}">
			<div id="main">
				<h:form>
					<nav id="nav-1">
					<div class="subnav">
						<p:commandButton value="Configuración" icon="fa fa-cogs"
							styleClass="subnavbtn" />
						<div class="subnav-content">
							<a class="a" href="modelos.xhtml">Modelos Vehiculos</a><a
								href="pagos.xhtml">Pagos</a><a class="a"
								href="beneficiarios.xhtml">Beneficiarios</a> <a class="a"
								href="tipoAutos.xhtml">Tipos de Autos</a> <a class="a"
								href="tipoSeguro.xhtml">Tipo de Seguros</a> <a class="a"
								href="Personas.xhtml">Registro de empleados</a> <a class="a"
								href="CrearUsuario.xhtml">Usuarios</a><a href="incidencia.xhtml">Incidencias</a>
							<a href="incubierta.xhtml">Incidencias cubiertas</a><a
								href="taller.xhtml">Registro de Talleres</a><a
								href="menuE.xhtml">Ver Estadísticas</a>
						</div>
					</div>

					<a class="link-1" href="registroPersona.xhtml">Registro de
						Personas</a> <a class="link-1" href="registroVehiculo.xhtml">Registro
						de Vehiculos</a> <a class="link-1" href="menu.xhtml">Inicio</a> <a
						class="link-1" href="asignacionSeguroVida.xhtml">Asignacion
						Seguro de Vida</a> <a class="link-1" href="asignacionSeguroAuto.xhtml">Asignacion
						Seguro de Vehiculos</a> &nbsp;&nbsp;&nbsp; <p:commandButton
						value="Logout" action="#{usuariosC.close()}"
						style="position:relative" icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>

		<p:growl id="msj" />
		<div class="jumbotron jumbotron-fluid"
			style="background-color: #336b87">
			<div class="container">
				<h1 class="display-4"
					style="font-family: Georgia; text-align: center; color: white">Crear
					Nuevo Usuario</h1>

			</div>
		</div>
		<h:form id="datos">
			<div class="container mt-3">
				<div class="row">
					<div class="form-group col-lg-2">
						<p:outputLabel value="Persona" />
						<h:selectOneMenu value="#{usuariosC.personas.id}"
							class="form-control" style="border: ridge">
							<f:selectItems value="#{usuariosC.listaEmpleados}" var="per"
								itemLabel="#{per.nombre}" itemValue="#{per.id}" />
						</h:selectOneMenu>
					</div>
					<div class="form-group col-lg-4">
						<p:outputLabel value="Usuario"
							style="margin-left: 10%; padding: 2%">
							<br />
							<p:inputText value="#{usuariosC.usuarios.usuario}"
								class="form-control" />
						</p:outputLabel>
					</div>
					<div class="form-group col-lg-4">
						<p:outputLabel value="password" style="padding: 2%">&nbsp;
							<p:password value="#{usuariosC.usuarios.pass}"
								class="form-control" />
						</p:outputLabel>
					</div>
					<div class="form-group col-lg-4">
						<p:commandButton value="Guardar"
							actionListener="#{usuariosC.insertuser()}"
							class="btn btn-outline-primary" update="datos :tabla :msj"
							oncomplete="PF('java').hide();" />
					</div>

				</div>
			</div>
		</h:form>



		<h:form id="tabla">

			<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '4'}">
				<center>
					<p:dataTable styleClass="table"
						style=" align-content: center;text-align: center;width: 55% !important; padding: 0; margin: 0 auto !important; border:2px double black !important"
						class="table text-white" value="#{usuariosC.listausuarios}"
						var="us">
						<p:column headerText="Personas">
							<h:outputLabel value="#{us.personas.nombre}" />
						</p:column>
						<p:column headerText="Usuario">
							<h:outputLabel value="#{us.usuario}" />
						</p:column>
						<p:column style="text-align: center">
							<f:facet name="header">Estado</f:facet>
							<p:outputLabel value="Activo" rendered="#{us.estado ==true}"
								style="color:blue" />
							<p:outputLabel value="Inactivo" rendered="#{us.estado !=true}"
								style="color:red" />
						</p:column>
					</p:dataTable>
				</center>
			</h:panelGroup>
			<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '5'}">
				<center>
					<p:dataTable stickyHeader="true"
						style="text-align:center;align-content:center;width: 60% !important; padding: 0; margin: 0 auto !important; border: double; overflow-y: scroll !important; height: 500px !important"
						value="#{usuariosC.listausuarios}" var="us">
						<p:column headerText="Personas">
							<h:outputLabel
								value="#{us.personas.nombre} #{us.personas.apellido}" />
						</p:column>
						<p:column headerText="Usuario">
							<h:outputLabel value="#{us.usuario}" />
						</p:column>
						<p:column style="text-align: center;width:15%">
							<f:facet name="header">Estado</f:facet>
							<p:outputLabel value="Activo" rendered="#{us.estado ==true}"
								style="color:blue" />
							<p:outputLabel value="Inactivo" rendered="#{us.estado !=true}"
								style="color:red" />
						</p:column>
						<p:column headerText="Acciones">
							<p:commandButton value="Editar"
								actionListener="#{usuariosC.cargarporIDusuario(us)}"
								styleClass="boton ui-priority-primary" update="editar"
								oncomplete="PF('java').show();" />
							<h:panelGroup rendered="#{us.estado == true}">
								<p:commandButton value="Eliminar"
									actionListener="#{usuariosC.eliminarusuario(us)}"
									styleClass="boton ui-priority-primary" update=":tabla :msj" />
							</h:panelGroup>
						</p:column>
					</p:dataTable>
				</center>
			</h:panelGroup>

		</h:form>
		<br></br>
		<h:form id="editar">
			<p:dialog widgetVar="java" showEffect="explode">
				<p:panelGrid columns="1">
					<p:outputLabel value="Persona">
						<br></br>
						<h:selectOneMenu value="#{usuariosC.personas.id}"
							class="form-control" style="border: ridge">
							<f:selectItem itemValue="0" noSelectionOption="true"
								itemLabel=" " />
							<f:selectItems value="#{usuariosC.listaEmpleados}" var="per"
								itemLabel="#{per.nombre}" itemValue="#{per.id}" />
						</h:selectOneMenu>
					</p:outputLabel>
					<p:outputLabel value="Usuario">
						<br></br>
						<p:inputText value="#{usuariosC.usuarios.usuario}" />
					</p:outputLabel>
					<p:outputLabel value="Password">
						<br></br>
						<p:password value="#{usuariosC.usuarios.pass}" />
					</p:outputLabel>
					<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '5'}">
						<p:outputLabel value="Estado">
							<br></br>
							<p:selectBooleanButton styleClass="boton ui-priority-primary"
								id="estado" value="#{usuariosC.usuarios.estado}"
								onLabel="activo" offLabel="inactivo" />
						</p:outputLabel>
					</h:panelGroup>
					<p:commandButton value="Editar"
						styleClass="boton ui-priority-primary"
						actionListener="#{usuariosC.editarusuario()}"
						oncomplete="PF('java').hide()" update=":tabla :msj" />
				</p:panelGrid>
			</p:dialog>
		</h:form>
	</h:panelGroup>
</h:body>
</html>