<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<title>Página no encontrada</title>
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
	<link rel="icon" href="resources/favicon.ico" type="image/x-icon" />
	<style>
.ui-button {
	background: black;
	color: white;
	border: background;
	border-radius: 10px;
}

.ui-button:hover {
	background: white;
	color: black;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.spin-earth-on-hover {
	transition: ease 200s !important;
	transform: rotate(-3600deg) !important;
}

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Standard syntax */
}

.bg-purple {
	background: black;
	background-size: cover;
	background-position: left top;
	height: 100%;
	overflow: hidden;
}

.btn-go-home {
	position: relative;
	z-index: 200;
	margin: 15px auto;
	width: 100px;
	padding: 10px 15px;
	border: 1px solid #FFCB39;
	border-radius: 100px;
	font-weight: 400;
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	letter-spacing: 2px;
	font-size: 11px;
	font: bold;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.btn-go-home:hover {
	background-color: white;
	color: black;
	transform: scale(1.09);
	box-shadow: 0px 20px 20px 5px rgba(234, 233, 210, 0.23);
	border-color: white;
}

.central-body {
	/*    width: 100%;*/
	padding: 17% 5% 10% 5%;
	text-align: center;
}

.stars {
	background: url(http://salehriaz.com/404Page/img/overlay_stars.svg);
	background-repeat: repeat;
	background-size: contain;
	background-position: left top;
}

.glowing_stars .star {
	position: absolute;
	border-radius: 100%;
	background-color: white;
	width: 3px;
	height: 3px;
	opacity: 0.3;
	will-change: opacity;
}

.glowing_stars .star:nth-child(1) {
	top: 80%;
	left: 25%;
	animation: glow-star 2s infinite ease-in-out alternate 1s;
}

.glowing_stars .star:nth-child(2) {
	top: 20%;
	left: 40%;
	animation: glow-star 2s infinite ease-in-out alternate 3s;
}

.glowing_stars .star:nth-child(3) {
	top: 25%;
	left: 25%;
	animation: glow-star 2s infinite ease-in-out alternate 5s;
}

.glowing_stars .star:nth-child(4) {
	top: 75%;
	left: 80%;
	animation: glow-star 2s infinite ease-in-out alternate 7s;
}

.glowing_stars .star:nth-child(5) {
	top: 90%;
	left: 50%;
	animation: glow-star 2s infinite ease-in-out alternate 9s;
}
</style>
</h:head>
<h:body class="bg-purple">

	<div class="stars">
		<h:form>
			<div class="central-body">
				<h2 style="color: white; font: sans-serif">
					PÁGINA NO ENCONTRADA<br />
				</h2>
				<h:panelGroup rendered="#{us.personas.tipoUsuarios.id != '2'}">
					<a href="menu.xhtml" class="btn-go-home">REGRESAR&nbsp; AL
						&nbsp;INICIO</a>
				</h:panelGroup>
				<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '2'}">
					<p:commandButton style="width:125px" styleClass="btn-go-home"
						value="CERRAR SESIÓN" action="#{usuariosC.close()}"
						icon="fas fa-sign-out-alt" />
				</h:panelGroup>
				<h4 style="color: white; font: sans-serif">Al parecer ha
					ocurrido un problema, por favor notifique a su supervisor.</h4>
			</div>
			<div class="glowing_stars">
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>

			</div>
			<div class="glowing_stars">
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>

			</div>
			<div class="glowing_stars">
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>

			</div>
			<div class="glowing_stars">
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>

			</div>
			<div class="glowing_stars">
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
			</div>
		</h:form>
	</div>
	<div class="glowing_stars">
		<div class="star"></div>
		<div class="star"></div>
		<div class="star"></div>
		<div class="star"></div>
		<div class="star"></div>

	</div>
</h:body>
</html>