<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>Ventas por Mes</title>
	<f:event type="preRenderView" listener="#{usuariosC.verificarSesion()}" />
	<meta charset="UTF-8" />
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
	<meta Http-Equiv="Cache-Control" Content="no-cache"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"></link>
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous"></link>
	<link rel="icon" href="resources/favicon.ico" type="image/x-icon" />
</h:head>
<h:body>
	<style>
body .ui-datatable thead th {
	background: rgba(0, 0, 0, 0.75) !important;
	color: white;
	border: solid 1px #ffffff;
}

body .ui-datatable thead th .ui-column-title {
	font-weight: 200 !important;
	color: white !important;
	font-family: Segoe UI;
}

.ui-widget-content {
	background: rgba(32, 131, 238, 0.05);
	color: rgba(0, 0, 0, 0.75);
	border: #ffffff;
}

.boton {
	border-radius: 5px;
	background: #F6F8FB !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	box-shadow: 1px 1px 1px 1px rgba(34, 81, 235, 0.75);
}

.ui-datatable tbody.ui-datatable-data {
	outline: 0;
	border-collapse: collapse;
} /*Letra Tabla*/
.ui-widget-content {
	background: #fff;
	color: #4f4f4f;
	border: white;
}

.ui-datatable-tablewrapper {
	overflow: hidden;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	border-color: #7096ab;
	background: #E0D9D9;
	color: #313131;
	text-shadow: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	border: 0px solid #7096ab;
	background: #E0D9D9;
	color: #313131;
	box-shadow: 4px 4px 4px 4px #85b2cb;
}

.ui-datatable thead tr {
	display: table-row;
	vertical-align: inherit;
	background: #E25050;
	border: #4f4f4f;
}

/* titulo filas */
body .ui-datatable thead th {
	background: #1c1b1b !important;
	color: white;
	border: #1c1b1b;
}

body .ui-datatable thead th .ui-column-title {
	font-weight: 300 !important;
	color: white !important;
	text-shadow: none;
	border: #4f4f4f;;
}

.table:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

.table:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}

nav {
	padding: 24px;
	text-align: center;
	font-family: Raleway;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-1 {
	background: #ffffff;
}

.link-1 {
	transition: 0.3s ease;
	background: #ffffff;
	color: #000000;
	font-size: 20px;
	text-decoration: none;
	border-top: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
	padding: 20px 0;
	margin: 0 20px;
}

.link-1:hover {
	border-top: 4px solid #336b87;
	border-bottom: 4px solid #336b87;
	padding: 6px 0;
}

nav {
	padding: 24px;
	text-align: center;
	font-family: Raleway;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-1 {
	background: #ffffff;
}

.link-1 {
	transition: 0.3s ease;
	background: #ffffff;
	color: #000000;
	font-size: 20px;
	text-decoration: none;
	border-top: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
	padding: 20px 0;
	margin: 0 20px;
	text-decoration: none;
}

.link-1:hover {
	border-top: 4px solid #336b87;
	border-bottom: 4px solid #336b87;
	padding: 6px 0;
	text-decoration: none;
}

body div nav .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left
	{
	background: black;
	color: white;
	border: background;
	border-radius: 10px;
}

body div nav .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.ui-state-hover
	{
	background: white;
	color: black;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

a:hover {
	text-decoration: none;
	color: black;
}

.navbar {
	overflow: hidden;
	background-color: #333;
}

#nav-1 .subnav  a {
	float: left;
	font-size: 20px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#nav-1 .subnav {
	float: left;
	overflow: hidden;
}

.subnav .subnavbtn {
	font-size: 16px;
	color: white;
	background-color: black;
	margin: 0;
}

.subnav:hover .subnavbtn {
	background-color: white;
	color: black;
}

.subnav-content {
	position: absolute;
	left: 0;
	background-color: black;
	width: 100%;
	display: none;
	z-index: 3;
	border-radius: 10px;
}

.subnav-content a {
	float: left;
	color: white;
	text-decoration: none;
}

.subnav-content a:hover {
	background-color: white;
	color: black;
}

.subnav:hover .subnav-content {
	display: block;
	margin: 1px 0px;
}

.subnav .ui-button:hover {
	box-shadow: none;
	border-color: gray;
	border: solid 0.5px gray;
}

.ui-dialog-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-top.ui-draggable-handle
	{
	background: black;
	color: white;
}
</style>
	<style type="text/css">
.right div {
	float: right;
}
</style>
	<h:panelGroup
		rendered="#{us.personas.tipoUsuarios.id != '5' and us.personas.tipoUsuarios.id != '4'}">
		<meta http-equiv="Refresh" content="0;url=Error404.xhtml" />
	</h:panelGroup>
	<h:panelGroup
		rendered="#{us.personas.tipoUsuarios.id eq '5' or us.personas.tipoUsuarios.id eq '4'}">
		<!-- Validación del Menu -->

		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '4'}">
			<div id="main">
				<h:form>
					<nav id="nav-1">
					<div class="subnav">
						<p:commandButton value="Ir al Inicio"
							action="menu?faces-redirect=true" icon="fas fa-home"
							styleClass="subnavbtn" />
					</div>
					<a class="link-1" href="estadisticaSA.xhtml">Paquetes Vendidos</a>
					<a class="link-1" href="estadisticaTS.xhtml">Total Recaudado</a> <a
						class="link-1" href="menuE.xhtml">Menú de Estadísticas</a> <a
						class="link-1" href="estadisticaTTS.xhtml">Total de Ventas de
						Seguro</a> <a class="link-1" href="estadisticaVS.xhtml">Ventas por
						Sucursal </a> &nbsp;&nbsp;&nbsp; <p:commandButton value="Logout"
						action="#{usuariosC.close()}" style="position:relative"
						icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>
		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '5'}">
			<div id="main">
				<h:form>
					<nav id="nav-1">
					<div class="subnav">
						<p:commandButton value="Ir al Inicio"
							action="menu?faces-redirect=true" icon="fas fa-home"
							styleClass="subnavbtn" />
					</div>
					<a class="link-1" href="estadisticaSA.xhtml">Paquetes Vendidos</a>
					<a class="link-1" href="estadisticaTS.xhtml">Total Recaudado</a> <a
						class="link-1" href="menuE.xhtml">Menú de Estadísticas</a> <a
						class="link-1" href="estadisticaTTS.xhtml">Total de Ventas de
						Seguro</a> <a class="link-1" href="estadisticaVS.xhtml">Ventas por
						Sucursal </a> &nbsp;&nbsp;&nbsp; <p:commandButton value="Logout"
						action="#{usuariosC.close()}" style="position:relative"
						icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>

		<p:growl id="msj" />
		<div class="jumbotron jumbotron-fluid"
			style="background-color: #336b87">
			<div class="container">
				<h1 class="display-4"
					style="font-family: Georgia; text-align: center; color: white">Ventas
					por Mes</h1>
			</div>
		</div>
		<br></br>
		<center>
			<h:form id="formN">
				<b><h5>Ingrese Año:</h5></b>
				<p:inputText value="#{asignacion_Seguros.a}" />

				<p:commandButton value="Consultar"
					action="#{asignacion_Seguros.comparartipo()}"
					styleClass="boton ui-priority-primary" style="margin-left: 10px"
					update=":tC1 :tC2 :bar :bor" />
			</h:form>

			<br></br>
			<p:chart id="bar" type="bar" model="#{asignacion_Seguros.grafico1}"
				style="width:auto;height:300px; margin-left:100px; margin-right:100px;" />
			<br></br>
			<p:dataTable id="tC1" value="#{asignacion_Seguros.listatuple1}"
				var="e" style="width: 35%">
				<p:column>
					<f:facet name="header">Mes</f:facet>
					<center>
						<p:outputLabel value="#{e.get(0)}" />
					</center>
				</p:column>
				<p:column>
					<f:facet name="header">Ventas</f:facet>
					<center>
						<p:outputLabel value="#{e.get(1)}" />
					</center>
				</p:column>

			</p:dataTable>
			<br></br> <br></br>
			<p:chart id="bor" type="bar" model="#{asignacion_Seguros.grafico2}"
				style="width:auto;height:300px; margin-left:100px; margin-right:100px;" />
			<br></br>
			<p:dataTable id="tC2" value="#{asignacion_Seguros.listatuple2}"
				var="e" style="width: 35%">
				<p:column>
					<f:facet name="header">Mes</f:facet>
					<center>
						<p:outputLabel value="#{e.get(0)}" />
					</center>
				</p:column>
				<p:column>
					<f:facet name="header">Ventas</f:facet>
					<center>
						<p:outputLabel value="#{e.get(1)}" />
					</center>
				</p:column>

			</p:dataTable>



		</center>
		<br />
		<br />
		<p:separator />
		<br />
	</h:panelGroup>
</h:body>
</html>

