<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>Incidencias</title>
	<f:event type="preRenderView" listener="#{usuariosC.verificarSesion()}" />
	<meta charset="UTF-8" />
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
	<meta Http-Equiv="Cache-Control" Content="no-cache"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"></link>
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous"></link>
	<link rel="icon" href="resources/favicon.ico" type="image/x-icon" />
	<style>
body .ui-datatable thead th {
	background: rgba(0, 0, 0, 0.75) !important;
	color: white;
	border: solid 1px #ffffff;
}

body .ui-datatable thead th .ui-column-title {
	font-weight: 200 !important;
	color: white !important;
	font-family: Segoe UI;
}

.ui-widget-content {
	background: rgba(32, 131, 238, 0.05);
	color: rgba(0, 0, 0, 0.75);
	border: #ffffff;
}

.boton {
	border-radius: 5px;
	background: #F6F8FB !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	box-shadow: 1px 1px 1px 1px rgba(34, 81, 235, 0.75);
}

.ui-datatable tbody.ui-datatable-data {
	outline: 0;
	border-collapse: collapse;
} /*Letra Tabla*/
.ui-widget-content {
	background: #fff;
	color: #4f4f4f;
	border: white;
}

.ui-datatable-tablewrapper {
	overflow: hidden;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	border-color: #7096ab;
	background: #E0D9D9;
	color: #313131;
	text-shadow: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	border: 0px solid #7096ab;
	background: #E0D9D9;
	color: #313131;
	box-shadow: 4px 4px 4px 4px #85b2cb;
}

.ui-datatable thead tr {
	display: table-row;
	vertical-align: inherit;
	background: #E25050;
	border: #4f4f4f;
}

/* titulo filas */
body .ui-datatable thead th {
	background: #1c1b1b !important;
	color: white;
	border: #1c1b1b;
}

body .ui-datatable thead th .ui-column-title {
	font-weight: 300 !important;
	color: white !important;
	text-shadow: none;
	border: #4f4f4f;;
}

.table:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

.table:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}

nav {
	padding: 24px;
	text-align: center;
	font-family: Raleway;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-1 {
	background: #ffffff;
}

.link-1 {
	transition: 0.3s ease;
	background: #ffffff;
	color: #000000;
	font-size: 20px;
	text-decoration: none;
	border-top: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
	padding: 20px 0;
	margin: 0 20px;
}

.link-1:hover {
	border-top: 4px solid #336b87;
	border-bottom: 4px solid #336b87;
	padding: 6px 0;
}

nav {
	padding: 24px;
	text-align: center;
	font-family: Raleway;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-1 {
	background: #ffffff;
}

.link-1 {
	transition: 0.3s ease;
	background: #ffffff;
	color: #000000;
	font-size: 20px;
	text-decoration: none;
	border-top: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
	padding: 20px 0;
	margin: 0 20px;
	text-decoration: none;
}

.link-1:hover {
	border-top: 4px solid #336b87;
	border-bottom: 4px solid #336b87;
	padding: 6px 0;
	text-decoration: none;
}

body div nav .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left
	{
	background: black;
	color: white;
	border: background;
	border-radius: 10px;
}

body div nav .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.ui-state-hover
	{
	background: white;
	color: black;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

a:hover {
	text-decoration: none;
	color: black;
}

.navbar {
	overflow: hidden;
	background-color: #333;
}

#nav-1 .subnav  a {
	float: left;
	font-size: 20px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#nav-1 .subnav {
	float: left;
	overflow: hidden;
}

.subnav .subnavbtn {
	font-size: 16px;
	color: white;
	background-color: black;
	margin: 0;
}

.subnav:hover .subnavbtn {
	background-color: white;
	color: black;
}

.subnav-content {
	position: absolute;
	left: 0;
	background-color: black;
	width: 100%;
	display: none;
	z-index: 3;
	border-radius: 10px;
}

.subnav-content a {
	float: left;
	color: white;
	text-decoration: none;
}

.subnav-content a:hover {
	background-color: white;
	color: black;
}

.subnav:hover .subnav-content {
	display: block;
	margin: 1px 0px;
}

.subnav .ui-button:hover {
	box-shadow: none;
	border-color: gray;
	border: solid 0.5px gray;
}

.ui-dialog-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-top.ui-draggable-handle
	{
	background: black;
	color: white;
}
</style>
</h:head>
<h:body>
	<h:panelGroup
		rendered="#{us.personas.tipoUsuarios.id != '4' and us.personas.tipoUsuarios.id != '5'}">
		<meta http-equiv="Refresh" content="0;url=Error404.xhtml" />
	</h:panelGroup>

	<!-- Validacion de la vista -->
	<h:panelGroup
		rendered="#{us.personas.tipoUsuarios.id eq '4' or us.personas.tipoUsuarios.id eq '5'}">
		<!-- Validación del Menu -->

		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '4'}">
			<div id="main">
				<h:form>
					<nav id="nav-1"> <a class="link-1"
						href="registroPersona.xhtml">Registro de Personas</a> <a
						class="link-1" href="registroVehiculo.xhtml">Registro de
						Vehiculos</a> <a class="link-1" href="menu.xhtml">Inicio</a> <a
						class="link-1" href="asignacionSeguroVida.xhtml">Asignacion
						Seguro de Vida</a> <a class="link-1" href="asignacionSeguroAuto.xhtml">Asignacion
						Seguro de Vehiculos</a>
					<div class="subnav">
						<p:commandButton value="Configuración" icon="fa fa-cogs"
							styleClass="subnavbtn" />
						<div class="subnav-content">
							<a class="a" href="beneficiarios.xhtml">Beneficiarios</a><a
								class="a" href="tipoAutos.xhtml">Tipos de Autos</a><a class="a"
								href="CrearUsuario.xhtml">Usuarios</a><a href="incidencia.xhtml">Incidencias</a>
							<a href="incubierta.xhtml">Incidencias cubiertas</a><a
								href="taller.xhtml">Registro de Talleres</a><a
								href="menuE.xhtml">Ver Estadísticas</a>
						</div>
					</div>
					<p:commandButton value="Logout" action="#{usuariosC.close()}"
						icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>
		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '5'}">
			<div id="main">
				<h:form>
					<nav id="nav-1">
					<div class="subnav">
						<p:commandButton value="Configuración" icon="fa fa-cogs"
							styleClass="subnavbtn" />
						<div class="subnav-content">
							<a class="a" href="modelos.xhtml">Modelos Vehiculos</a><a
								href="pagos.xhtml">Pagos</a><a class="a"
								href="beneficiarios.xhtml">Beneficiarios</a> <a class="a"
								href="tipoAutos.xhtml">Tipos de Autos</a> <a class="a"
								href="tipoSeguro.xhtml">Tipo de Seguros</a> <a class="a"
								href="Personas.xhtml">Registro de empleados</a> <a class="a"
								href="CrearUsuario.xhtml">Usuarios</a><a href="incidencia.xhtml">Incidencias</a>
							<a href="incubierta.xhtml">Incidencias cubiertas</a><a
								href="taller.xhtml">Registro de Talleres</a><a
								href="menuE.xhtml">Ver Estadísticas</a>
						</div>
					</div>

					<a class="link-1" href="registroPersona.xhtml">Registro de
						Personas</a> <a class="link-1" href="registroVehiculo.xhtml">Registro
						de Vehiculos</a> <a class="link-1" href="menu.xhtml">Inicio</a> <a
						class="link-1" href="asignacionSeguroVida.xhtml">Asignacion
						Seguro de Vida</a> <a class="link-1" href="asignacionSeguroAuto.xhtml">Asignacion
						Seguro de Vehiculos</a> &nbsp;&nbsp;&nbsp; <p:commandButton
						value="Logout" action="#{usuariosC.close()}"
						style="position:relative" icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>


		<p:growl id="msj" />

		<div class="jumbotron jumbotron-fluid"
			style="background-color: #336b87">
			<div class="container">
				<h1 class="display-4"
					style="font-family: Georgia; text-align: center; color: white">Registro
					incidencias</h1>
			</div>
		</div>&nbsp;
				<p:commandButton value="Nueva Incidencia"
			oncomplete="PF('java').show();"
			styleClass="boton ui-priority-primary" />


		<p:dialog widgetVar="java" header="Incidencia" modal="true"
			resizable="false" showEffect="clip">
			<p:ajax event="close" listener="#{incidenciasA.init()}" update="" />
			<h:form id="datos">
				<p:panelGrid columns="1">
					<p:outputLabel value="Codigo:">
						<br></br>
						<p:inputText value="#{incidenciasA.incidencia.codigo}" />
					</p:outputLabel>
					<p:outputLabel value="Descripcion:">
						<br></br>
						<p:inputTextarea rows="6" cols="33"
							value="#{incidenciasA.incidencia.descripcion}" />
					</p:outputLabel>

					<p:commandButton value="Guardar"
						actionListener="#{incidenciasA.crearIncidncia()}"
						styleClass="boton ui-priority-primary" update="datos :tabla :msj"
						oncomplete="PF('java').hide();" />
				</p:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog widgetVar="java1" header="Incidencia" modal="true"
			resizable="false" showEffect="clip">
			<p:ajax event="close" listener="#{incidenciasA.init()}" update="" />
			<h:form id="datos1">
				<p:panelGrid columns="1">
					<p:inputText value="#{incidenciasA.incidencia.id}" type="hidden" />
					<p:outputLabel value="Codigo:">
						<br></br>
						<p:inputText value="#{incidenciasA.incidencia.codigo}" />
					</p:outputLabel>
					<p:outputLabel value="Descripcion:">
						<br></br>
						<p:inputTextarea rows="6" cols="33"
							value="#{incidenciasA.incidencia.descripcion}" />
					</p:outputLabel>

					<p:commandButton value="Editar"
						styleClass="boton ui-priority-primary"
						actionListener="#{incidenciasA.editarIncidencia()}"
						update="datos :tabla :msj" oncomplete="PF('java1').hide();" />
				</p:panelGrid>
			</h:form>
		</p:dialog>

		<h:form id="tabla">

			<p:dataTable styleClass="table"
				value="#{incidenciasA.listaIncidencias}" var="in"
				stickyHeader="true"
				style="width: 55% !important; padding: 0; margin: 0 auto !important; border:2px double black !important; overflow-y: scroll !important; height: 450px !important">

				<p:column headerText="Codigo de Incidencia">
					<center>
						<h:outputText value="#{in.codigo}" />
					</center>
				</p:column>
				<p:column headerText="Descripcion">
					<h:outputText value="#{in.descripcion}" />
				</p:column>

				<p:column headerText="Acciones">
					<center>
						<p:commandButton value="Editar"
							styleClass="boton ui-priority-primary"
							actionListener="#{incidenciasA.cargarIncidencia(in)}"
							update=":datos1" oncomplete="PF('java1').show();" />
						<p:commandButton value="Eliminar"
							styleClass="boton ui-priority-primary"
							actionListener="#{incidenciasA.eliminarIncidencia(in)}"
							update=":tabla :msj" />
					</center>
				</p:column>
			</p:dataTable>

		</h:form>
	</h:panelGroup>
</h:body>
</html>

