<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>Incidencias Cubiertas</title>
	<f:event type="preRenderView" listener="#{usuariosC.verificarSesion()}" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"></link>
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous"></link>
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
		crossorigin="anonymous" />
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
	<link rel="icon" href="resources/favicon.ico" type="image/x-icon" />
	<style>
body .ui-datatable thead th {
	background: rgba(0, 0, 0, 0.75) !important;
	color: white;
	border: solid 1px #ffffff;
}

body .ui-datatable thead th .ui-column-title {
	font-weight: 200 !important;
	color: white !important;
	font-family: Segoe UI;
}

.ui-widget-content {
	background: rgba(32, 131, 238, 0.05);
	color: rgba(0, 0, 0, 0.75);
	border: #ffffff;
}

.boton {
	border-radius: 5px;
	background: #F6F8FB !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	box-shadow: 1px 1px 1px 1px rgba(34, 81, 235, 0.75);
}

.ui-datatable tbody.ui-datatable-data {
	outline: 0;
	border-collapse: collapse;
} /*Letra Tabla*/
.ui-widget-content {
	background: #fff;
	color: #4f4f4f;
	border: white;
}

.ui-datatable-tablewrapper {
	overflow: hidden;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	border-color: #7096ab;
	background: #E0D9D9;
	color: #313131;
	text-shadow: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	border: 0px solid #7096ab;
	background: #E0D9D9;
	color: #313131;
	box-shadow: 4px 4px 4px 4px #85b2cb;
}

.ui-datatable thead tr {
	display: table-row;
	vertical-align: inherit;
	background: #E25050;
	border: #4f4f4f;
}

/* titulo filas */
body .ui-datatable thead th {
	background: #1c1b1b !important;
	color: white;
	border: #1c1b1b;
}

body .ui-datatable thead th .ui-column-title {
	font-weight: 300 !important;
	color: white !important;
	text-shadow: none;
	border: #4f4f4f;;
}

.table:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

.table:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}

nav {
	padding: 24px;
	text-align: center;
	font-family: Raleway;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-1 {
	background: #ffffff;
}

.link-1 {
	transition: 0.3s ease;
	background: #ffffff;
	color: #000000;
	font-size: 20px;
	text-decoration: none;
	border-top: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
	padding: 20px 0;
	margin: 0 20px;
}

.link-1:hover {
	border-top: 4px solid #336b87;
	border-bottom: 4px solid #336b87;
	padding: 6px 0;
}

nav {
	padding: 24px;
	text-align: center;
	font-family: Raleway;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-1 {
	background: #ffffff;
}

.link-1 {
	transition: 0.3s ease;
	background: #ffffff;
	color: #000000;
	font-size: 20px;
	text-decoration: none;
	border-top: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
	padding: 20px 0;
	margin: 0 20px;
	text-decoration: none;
}

.link-1:hover {
	border-top: 4px solid #336b87;
	border-bottom: 4px solid #336b87;
	padding: 6px 0;
	text-decoration: none;
}

body div nav .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left
	{
	background: black;
	color: white;
	border: background;
	border-radius: 10px;
}

body div nav .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.ui-state-hover
	{
	background: white;
	color: black;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

a:hover {
	text-decoration: none;
	color: black;
}

.navbar {
	overflow: hidden;
	background-color: #333;
}

#nav-1 .subnav  a {
	float: left;
	font-size: 20px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#nav-1 .subnav {
	float: left;
	overflow: hidden;
}

.subnav .subnavbtn {
	font-size: 16px;
	color: white;
	background-color: black;
	margin: 0;
}

.subnav:hover .subnavbtn {
	background-color: white;
	color: black;
}

.subnav-content {
	position: absolute;
	left: 0;
	background-color: black;
	width: 100%;
	display: none;
	z-index: 3;
	border-radius: 10px;
}

.subnav-content a {
	float: left;
	color: white;
	text-decoration: none;
}

.subnav-content a:hover {
	background-color: white;
	color: black;
}

.subnav:hover .subnav-content {
	display: block;
	margin: 1px 0px;
}

.subnav .ui-button:hover {
	box-shadow: none;
	border-color: gray;
	border: solid 0.5px gray;
}

.ui-dialog-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-top.ui-draggable-handle
	{
	background: black;
	color: white;
}
</style>
</h:head>
<h:body>
	<h:panelGroup
		rendered="#{us.personas.tipoUsuarios.id eq '2' or us.personas.tipoUsuarios.id eq '3'}">
		<meta http-equiv="Refresh" content="0;url=Error404.xhtml" />
	</h:panelGroup>

	<!-- Validacion de la vista -->
	<h:panelGroup
		rendered="#{us.personas.tipoUsuarios.id != '2' and us.personas.tipoUsuarios.id != '3'}">
		<!-- Validación del Menu -->

		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '1'}">
			<div id="main">
				<h:form>
					<nav id="nav-1"> <a class="link-1"
						href="registroPersona.xhtml">Registro de Personas</a> <a
						class="link-1" href="incubierta.xhtml">Incidencias Cubiertas</a> <a
						class="link-1" href="registroVehiculo.xhtml">Registro de
						Vehiculos</a> <a class="link-1" href="menu.xhtml">Inicio</a> <a
						class="link-1" href="asignacionSeguroVida.xhtml">Seguro de
						Vida</a> <a class="link-1" href="asignacionSeguroAuto.xhtml">
						Seguro de Vehiculos</a> <a class="link-1" href="taller.xhtml">Registro
						de Talleres</a> &nbsp;&nbsp;&nbsp; <p:commandButton value="Logout"
						action="#{usuariosC.close()}" icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>
		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '4'}">
			<div id="main">
				<h:form>
					<nav id="nav-1"> <a class="link-1"
						href="registroPersona.xhtml">Registro de Personas</a> <a
						class="link-1" href="registroVehiculo.xhtml">Registro de
						Vehiculos</a> <a class="link-1" href="menu.xhtml">Inicio</a> <a
						class="link-1" href="asignacionSeguroVida.xhtml">Asignacion
						Seguro de Vida</a> <a class="link-1" href="asignacionSeguroAuto.xhtml">Asignacion
						Seguro de Vehiculos</a>
					<div class="subnav">
						<p:commandButton value="Configuración" icon="fa fa-cogs"
							styleClass="subnavbtn" />
						<div class="subnav-content">
							<a class="a" href="beneficiarios.xhtml">Beneficiarios</a><a
								class="a" href="tipoAutos.xhtml">Tipos de Autos</a><a class="a"
								href="CrearUsuario.xhtml">Usuarios</a><a href="incidencia.xhtml">Incidencias</a>
							<a href="incubierta.xhtml">Incidencias cubiertas</a><a
								href="taller.xhtml">Registro de Talleres</a><a
								href="menuE.xhtml">Ver Estadísticas</a>
						</div>
					</div>
					<p:commandButton value="Logout" action="#{usuariosC.close()}"
						icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>
		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '5'}">
			<div id="main">
				<h:form>
					<nav id="nav-1">
					<div class="subnav">
						<p:commandButton value="Configuración" icon="fa fa-cogs"
							styleClass="subnavbtn" />
						<div class="subnav-content">
							<a class="a" href="modelos.xhtml">Modelos Vehiculos</a><a
								href="pagos.xhtml">Pagos</a><a class="a"
								href="beneficiarios.xhtml">Beneficiarios</a> <a class="a"
								href="tipoAutos.xhtml">Tipos de Autos</a> <a class="a"
								href="tipoSeguro.xhtml">Tipo de Seguros</a> <a class="a"
								href="Personas.xhtml">Registro de empleados</a> <a class="a"
								href="CrearUsuario.xhtml">Usuarios</a><a href="incidencia.xhtml">Incidencias</a>
							<a href="incubierta.xhtml">Incidencias cubiertas</a><a
								href="taller.xhtml">Registro de Talleres</a><a
								href="menuE.xhtml">Ver Estadísticas</a>
						</div>
					</div>

					<a class="link-1" href="registroPersona.xhtml">Registro de
						Personas</a> <a class="link-1" href="registroVehiculo.xhtml">Registro
						de Vehiculos</a> <a class="link-1" href="menu.xhtml">Inicio</a> <a
						class="link-1" href="asignacionSeguroVida.xhtml">Asignacion
						Seguro de Vida</a> <a class="link-1" href="asignacionSeguroAuto.xhtml">Asignacion
						Seguro de Vehiculos</a> &nbsp;&nbsp;&nbsp; <p:commandButton
						value="Logout" action="#{usuariosC.close()}"
						style="position:relative" icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>

		<p:growl id="msj" />
		<div class="jumbotron jumbotron-fluid"
			style="background-color: #336b87">
			<div class="container">
				<h1 class="display-4"
					style="font-family: Georgia; text-align: center; color: white">Incidencias
					Cubiertas</h1>
			</div>
		</div>

		<h:form id="datos">
			<div class="container mt-3">
				<div class="row">
					<div class="form-group col-lg-4">
						<p:outputLabel value="No. Poliza" />
						<br></br>
						<h:selectOneMenu value="#{incidenciasA.asSeguro.id}"
							class="form-control" style="border: ridge">
							<f:selectItem itemValue="0" noSelectionOption="true"
								itemLabel=" " />
							<f:selectItems value="#{incidenciasA.listaA}" var="inccu"
								itemLabel="#{inccu.poliza}" itemValue="#{inccu.id}" />
						</h:selectOneMenu>
						<br></br>
						<p:outputLabel value="Codigo de Incidencia" />
						<br></br>
						<h:selectOneMenu value="#{incidenciasA.incidencia.id}"
							class="form-control" style="border: ridge">
							<f:selectItem itemValue="0" noSelectionOption="true"
								itemLabel=" " />
							<f:selectItems value="#{incidenciasA.listaIncidencias}" var="inc"
								itemLabel="#{inc.codigo}" itemValue="#{inc.id}" />
						</h:selectOneMenu>
						<br></br>
						<p:outputLabel value="Taller" />
						<br></br>
						<h:selectOneMenu value="#{incidenciasA.taller.id}"
							class="form-control" style="border: ridge">
							<f:selectItem itemValue="0" noSelectionOption="true"
								itemLabel=" " />
							<f:selectItems value="#{incidenciasA.listaTalleres}" var="ta"
								itemLabel="#{ta.nombreTaller}" itemValue="#{ta.id}" />
						</h:selectOneMenu>
						<br></br>

						<p:outputLabel value="Estado">
							<h:selectOneMenu value="#{incidenciasA.iCubierta.estado}"
								class="form-control" style="border: ridge">
								<f:selectItem itemValue="0" noSelectionOption="true"
									itemLabel=" " />
								<f:selectItem itemValue="EP" itemLabel="En proceso" />
								<f:selectItem itemValue="F" itemLabel="Finalizado" />
							</h:selectOneMenu>
						</p:outputLabel>
						<br></br>
						<p:commandButton value="Crear"
							actionListener="#{incidenciasA.crearICubiertas()}"
							update=":tabla :msj" class="form-control btn btn-outline-primary" />
					</div>
					<div class="form-group col-lg-4"></div>
					<div class="form-group col-lg-4">
						<p:outputLabel value="Busqueda de Incidencias por estado" />
						<h:selectOneMenu value="#{incidenciasA.estado}"
							class="form-control" style="border: ridge; width: 200px">
							<f:selectItem itemLabel="En Proceso" itemValue="EP" />
							<f:selectItem itemLabel="Finalizado" itemValue="F" />
						</h:selectOneMenu>
						<br></br>
						<p:commandButton value="consultar"
							actionListener="#{incidenciasA.buscarxestado()}"
							update=":tEstado :datos" oncomplete="PF('java2').show();"
							styleClass="boton ui-priority-primary" />
					</div>
				</div>
				<p></p>
			</div>
		</h:form>

		<p:dialog widgetVar="java1" header="Incidencia Cubierta" modal="true"
			resizable="false" showEffect="clip">
			<h:form id="datos1">
				<p:panelGrid columns="1">
					<p:outputLabel value="No. Poliza">
						<h:selectOneMenu value="#{incidenciasA.asSeguro.id}"
							class="form-control" style="border: ridge">
							<f:selectItems value="#{incidenciasA.listaA}" var="sa"
								itemLabel="#{sa.poliza}" itemValue="#{sa.id}" />
						</h:selectOneMenu>
					</p:outputLabel>
					<p:outputLabel value="Codigo de Incidencia">
						<h:selectOneMenu value="#{incidenciasA.incidencia.id}"
							class="form-control" style="border: ridge">
							<f:selectItems value="#{incidenciasA.listaIncidencias}" var="inc"
								itemLabel="#{inc.codigo}" itemValue="#{inc.id}" />
						</h:selectOneMenu>
					</p:outputLabel>
					<p:outputLabel value="Fecha">
						<br></br>
						<p:calendar locale="es" pattern="dd-MM-yyyy" style="border: 1px;"
							value="#{incidenciasA.iCubierta.fecha}" />
					</p:outputLabel>
					<p:outputLabel value="Taller">
						<h:selectOneMenu value="#{incidenciasA.taller.id}"
							class="form-control" style="border: ridge">
							<f:selectItems value="#{incidenciasA.listaTalleres}" var="t"
								itemLabel="#{t.nombreTaller}" itemValue="#{t.id}" />
						</h:selectOneMenu>
					</p:outputLabel>
					<p:outputLabel value="Estado">
						<h:selectOneMenu value="#{incidenciasA.iCubierta.estado}"
							class="form-control" style="border: ridge">
							<f:selectItem itemValue="EP" itemLabel="En proceso" />
							<f:selectItem itemValue="F" itemLabel="Finalizado" />
						</h:selectOneMenu>
					</p:outputLabel>

					<p:commandButton value="Editar"
						actionListener="#{incidenciasA.editarICubiertas()}"
						update="datos1 :datos :tabla :msj"
						styleClass="boton ui-priority-primary"
						oncomplete="PF('java1').hide();" />
				</p:panelGrid>
			</h:form>
		</p:dialog>

		<p:dialog widgetVar="java2" modal="true" header="Incidencia Cubierta"
			showEffect="explode">
			<p:dataTable id="tEstado" value="#{incidenciasA.listic}" var="t">

				<p:column headerText="Poliza">
					<p:outputLabel value="#{t.asignacionSeguros.poliza}" />
				</p:column>
				<p:column headerText="Placa">
					<p:outputLabel value="#{t.asignacionSeguros.vehiculos.placa}" />
				</p:column>
				<p:column headerText="Incidencia">
					<p:outputLabel value="#{t.incidencias.descripcion}" />
				</p:column>
				<p:column headerText="Taller">
					<p:outputLabel value="#{t.talleres.nombreTaller}" />
				</p:column>
				<p:column headerText="Direccion de Taller">
					<p:outputLabel value="#{t.talleres.direccion}" />
				</p:column>
				<p:column headerText="Fecha">
					<p:outputLabel value="#{t.fecha}">
						<f:convertDateTime pattern="dd-MM-yyyy" />
					</p:outputLabel>
				</p:column>
			</p:dataTable>
		</p:dialog>

		<h:form id="tabla">
			<center>
				<p:dataTable styleClass="table"
					style="width: 1200px !important; padding: 0; margin: 0 auto !important; border:2px double black !important;"
					value="#{incidenciasA.listaICubiertas}" var="inCu">
					<p:column headerText="Numero de Poliza">
						<h:outputLabel value="#{inCu.asignacionSeguros.poliza}" />
					</p:column>
					<p:column headerText="Codigo de Incidencia">
						<h:outputLabel value="#{inCu.incidencias.codigo}" />
					</p:column>
					<p:column headerText="Fecha">
						<h:outputLabel value="#{inCu.fecha}">
							<f:convertDateTime pattern="dd-MM-yyyy" />
						</h:outputLabel>
					</p:column>
					<p:column headerText="Nombre de Taller">
						<h:outputLabel value="#{inCu.talleres.nombreTaller}" />
					</p:column>
					<p:column headerText="Estado">
						<h:outputLabel value="En Proceso" rendered="#{inCu.estado=='EP'}" />
						<h:outputLabel value="Finalizado" rendered="#{inCu.estado=='F'}" />
					</p:column>
					<p:column headerText="Acciones">
						<p:commandButton value="Editar"
							actionListener="#{incidenciasA.cargarICubierta(inCu)}"
							oncomplete="PF('java1').show();"
							styleClass="boton ui-priority-primary" update=":datos1" />
					</p:column>
				</p:dataTable>

			</center>
		</h:form>
	</h:panelGroup>
</h:body>
</html>

