<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<title>Inicio de Sesion</title>
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous" />
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://codeseven.github.com/toastr/toastr.js"></script>
	<link href="http://codeseven.github.com/toastr/toastr.css"
		rel="stylesheet" />
	<link href="http://codeseven.github.com/toastr/toastr-responsive.css"
		rel="stylesheet" />
	<link rel="icon" href="resources/favicon.ico" type="image/x-icon" />
	<style>
.p {
	font: oblique bold 250%;
}

body {
	background-image: url("resources/img/fondologin.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.abs-center {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.form {
	width: 450px;
}
</style>
</h:head>
<h:body>
	<header id="cabecera"> <ui:insert name="cabecera">
		<h1 class="text-center p"
			style="background-color: rgba(41, 55, 70, 0.70); color: #3498DB;">Inicio
			de Sesión</h1>
	</ui:insert> </header>
	<p:growl id="msj" />
	<div class="container"
		style="background-color: rgba(20, 149, 188, 0.33)">
		<div class="abs-center">
			<div class="container card"
				style="width: 40%; height: 80%; padding: 60px; background-color: rgba(41, 55, 70, 0.70)">

				<h:form>
					<div class="row">
						<div class="col-lg-12">
							<p:outputLabel value="Usuario:" style="color:  #b3d7ff">
							</p:outputLabel>
							<h:inputText class="form-control" value="#{usuariosC.usuario}" />
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<p:outputLabel value="Contraseña:" style="color:  #b3d7ff">
							</p:outputLabel>
							<p:password class="form-control" value="#{usuariosC.pass}" />
						</div>
					</div>
					<div class="row mt-4">
						<div class="col-lg-12">
							<p:commandButton action="#{usuariosC.access()}"
								class="btn btn-block"
								style=" color: indigo; background-color: deepskyblue"
								value="Ingresar" update=":msj" />
						</div>
					</div>
				</h:form>
			</div>
		</div>
	</div>
</h:body>
</html>