<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>Estadísticas</title>
	<f:event type="preRenderView" listener="#{usuariosC.verificarSesion()}" />
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Lato" />
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://codeseven.github.com/toastr/toastr.js"></script>
	<link href="http://codeseven.github.com/toastr/toastr.css"
		rel="stylesheet" />
	<h:outputStylesheet library="css" name="menu.css" />
	<h:outputStylesheet library="css" name="tabs.css" />
	<link rel="icon" href="resources/favicon.ico" type="image/x-icon" />
	<style>
nav {
	padding: 24px;
	text-align: center;
	font-family: Raleway;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-1 {
	background: #ffffff;
}

.link-1 {
	transition: 0.3s ease;
	background: #ffffff;
	color: #000000;
	font-size: 20px;
	text-decoration: none;
	border-top: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
	padding: 20px 0;
	margin: 0 20px;
}

.link-1:hover {
	border-top: 4px solid #336b87;
	border-bottom: 4px solid #336b87;
	padding: 6px 0;
}

.ui-button {
	background: black;
	color: white;
	border: background;
	border-radius: 10px;
}

.ui-button:hover {
	background: white;
	color: black;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.navbar {
	overflow: hidden;
	background-color: #333;
}

#nav-1 .subnav  a {
	float: left;
	font-size: 20px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#nav-1 .subnav {
	float: left;
	overflow: hidden;
}

.subnav .subnavbtn {
	font-size: 16px;
	color: white;
	background-color: black;
	margin: 0;
}

.subnav:hover .subnavbtn {
	background-color: white;
	color: black;
}

.subnav-content {
	position: absolute;
	left: 0;
	background-color: black;
	width: 100%;
	display: none;
	z-index: 3;
	border-radius: 10px;
}

.subnav-content a {
	float: left;
	color: white;
	text-decoration: none;
}

.subnav-content a:hover {
	background-color: white;
	color: black;
}

.subnav:hover .subnav-content {
	display: block;
	margin: 1px 0px;
}

.subnav .ui-button:hover {
	box-shadow: none;
	border-color: gray;
	border: solid 0.5px gray;
}
</style>
</h:head>
<h:body>
	<h:panelGroup
		rendered="#{us.personas.tipoUsuarios.id != '5' and us.personas.tipoUsuarios.id != '4'}">
		<meta http-equiv="Refresh" content="0;url=Error404.xhtml" />
	</h:panelGroup>
	<h:panelGroup
		rendered="#{us.personas.tipoUsuarios.id eq '5' or us.personas.tipoUsuarios.id eq '4'}">
		<!-- Validación del Menu -->

		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '4'}">
			<div id="main">
				<h:form>
					<nav id="nav-1"> <a class="link-1"
						href="registroPersona.xhtml">Registro de Personas</a> <a
						class="link-1" href="registroVehiculo.xhtml">Registro de
						Vehiculos</a> <a class="link-1" href="asignacionSeguroVida.xhtml">Asignacion
						Seguro de Vida</a> <a class="link-1" href="asignacionSeguroAuto.xhtml">Asignacion
						Seguro de Vehiculos</a>
					<div class="subnav">
						<p:commandButton value="Configuración" icon="fa fa-cogs"
							styleClass="subnavbtn" />

					</div>
					<p:commandButton value="Logout" action="#{usuariosC.close()}"
						icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>
		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '5'}">
			<div id="main">
				<h:form>
					<nav id="nav-1">
					<div class="subnav">
						<p:commandButton value="Ir al Inicio"
							action="menu?faces-redirect=true" icon="fas fa-home"
							styleClass="subnavbtn" />
					</div>
					<a class="link-1" href="estadisticaSA.xhtml">Paquetes Vendidos</a>
					<a class="link-1" href="estadisticaTS.xhtml">Total Recaudado</a> <a
						class="link-1" href="estadisticaTTS.xhtml">Total de Ventas de
						Seguro</a> <a class="link-1" href="estadisticaVS.xhtml">Ventas por
						Sucursal </a> <a class="link-1" href="estadisticasTP.xhtml">Ventas
						de Seguros por Mes</a> &nbsp;&nbsp;&nbsp; <p:commandButton
						value="Logout" action="#{usuariosC.close()}"
						style="position:relative" icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>
		<!-- 	Imagen -->
		<div class="w3-display-container">
			<h:graphicImage library="img" name="imagen2.jpg"
				style="filter: blur(2px)" styleClass="bgimg-1 " />
			<div class="w3-display-middle bg-text">
				<p>Estadísticas</p>
			</div>
		</div>
	</h:panelGroup>
</h:body>
</html>

