<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>MENÚ</title>
	<f:event type="preRenderView" listener="#{usuariosC.verificarSesion()}" />
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Lato" />
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://codeseven.github.com/toastr/toastr.js"></script>
	<link href="http://codeseven.github.com/toastr/toastr.css"
		rel="stylesheet" />
	<h:outputStylesheet library="css" name="menu.css" />
	<h:outputStylesheet library="css" name="tabs.css" />
	<link rel="icon" href="resources/favicon.ico" type="image/x-icon" />
	<style>
nav {
	padding: 24px;
	text-align: center;
	font-family: Raleway;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-1 {
	background: #ffffff;
}

.link-1 {
	transition: 0.3s ease;
	background: #ffffff;
	color: #000000;
	font-size: 20px;
	text-decoration: none;
	border-top: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
	padding: 20px 0;
	margin: 0 20px;
}

.link-1:hover {
	border-top: 4px solid #336b87;
	border-bottom: 4px solid #336b87;
	padding: 6px 0;
}

.ui-button {
	background: black;
	color: white;
	border: background;
	border-radius: 10px;
}

.ui-button:hover {
	background: white;
	color: black;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.navbar {
	overflow: hidden;
	background-color: #333;
}

#nav-1 .subnav  a {
	float: left;
	font-size: 20px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#nav-1 .subnav {
	float: left;
	overflow: hidden;
}

.subnav .subnavbtn {
	font-size: 16px;
	color: white;
	background-color: black;
	margin: 0;
}

.subnav:hover .subnavbtn {
	background-color: white;
	color: black;
}

.subnav-content {
	position: absolute;
	left: 0;
	background-color: black;
	width: 100%;
	display: none;
	z-index: 3;
	border-radius: 10px;
}

.subnav-content a {
	float: left;
	color: white;
	text-decoration: none;
}

.subnav-content a:hover {
	background-color: white;
	color: black;
}

.subnav:hover .subnav-content {
	display: block;
	margin: 1px 0px;
}

.subnav .ui-button:hover {
	box-shadow: none;
	border-color: gray;
	border: solid 0.5px gray;
}

.subnav -subnav-content .ui-button:hover {
	box-shadow: none;
	border-color: gray;
	border: solid 0.5px gray;
}

.subnav -subnav-content .ui-button {
	background: yellow;
}
</style>
</h:head>
<h:body>
	<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '2'}">
		<meta http-equiv="Refresh" content="0;url=Error404.xhtml" />
	</h:panelGroup>
	<h:panelGroup rendered="#{us.personas.tipoUsuarios.id != '2'}">
		<!-- Validación del Menu -->
		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '3'}">
			<div id="main">
				<h:form>
					<nav id="nav-1"> <a class="link-1" href="pagos.xhtml">Pagos</a>
					&nbsp;&nbsp;&nbsp; <p:commandButton value="Logout"
						action="#{usuariosC.close()}" icon="fas fa-sign-out-alt" /> </nav>
				</h:form>

			</div>
		</h:panelGroup>
		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '1'}">
			<div id="main">
				<h:form>
					<nav id="nav-1"> <a class="link-1"
						href="registroPersona.xhtml">Registro de Personas</a> <a
						class="link-1" href="registroVehiculo.xhtml">Registro de
						Vehiculos</a> <a class="link-1" href="asignacionSeguroVida.xhtml">Asignacion
						Seguro de Vida</a> <a class="link-1" href="asignacionSeguroAuto.xhtml">Asignacion
						Seguro de Vehiculos</a> <a class="link-1" href="taller.xhtml">Registro
						de Talleres</a> &nbsp;&nbsp;&nbsp; <p:commandButton value="Logout"
						action="#{usuariosC.close()}" icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>
		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '4'}">
			<div id="main">
				<h:form>
					<nav id="nav-1"> <a class="link-1"
						href="registroPersona.xhtml">Registro de Personas</a> <a
						class="link-1" href="registroVehiculo.xhtml">Registro de
						Vehiculos</a> <a class="link-1" href="asignacionSeguroVida.xhtml">Asignacion
						Seguro de Vida</a> <a class="link-1" href="asignacionSeguroAuto.xhtml">Asignacion
						Seguro de Vehiculos</a>
					<div class="subnav">
						<p:commandButton value="Configuración" icon="fa fa-cogs"
							styleClass="subnavbtn" />
						<div class="subnav-content">
							<a class="a" href="beneficiarios.xhtml">Beneficiarios</a><a
								class="a" href="tipoAutos.xhtml">Tipos de Autos</a><a class="a"
								href="CrearUsuario.xhtml">Usuarios</a><a href="incidencia.xhtml">Incidencias</a>
							<a href="incubierta.xhtml">Incidencias cubiertas</a><a
								href="taller.xhtml">Registro de Talleres</a><a
								href="menuE.xhtml">Ver Estadísticas</a>
						</div>
					</div>
					<p:commandButton value="Logout" action="#{usuariosC.close()}"
						icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>
		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '5'}">
			<div id="main">
				<h:form>
					<nav id="nav-1">
					<div class="subnav">
						<p:commandButton value="Configuración" icon="fa fa-cogs"
							styleClass="subnavbtn" />
						<div class="subnav-content">
							<a class="a" href="modelos.xhtml">Modelos Vehiculos</a> <a
								class="a" href="beneficiarios.xhtml">Beneficiarios</a> <a
								class="a" href="tipoAutos.xhtml">Tipos de Autos</a> <a class="a"
								href="tipoSeguro.xhtml">Tipo de Seguros</a> <a class="a"
								href="Personas.xhtml">Registro de empleados</a> <a class="a"
								href="CrearUsuario.xhtml">Usuarios</a><a href="incidencia.xhtml">Incidencias</a>
							<a href="incubierta.xhtml">Incidencias cubiertas</a><a
								href="taller.xhtml">Registro de Talleres</a><a
								href="menuE.xhtml">Ver Estadísticas</a>
							<p:commandButton value="Reportes PDF" styleClass="a"
								actionListener="#{jasper.reportesPDF()}" ajax="false" />

						</div>
					</div>

					<a class="link-1" href="registroPersona.xhtml">Registro de
						Personas</a> <a class="link-1" href="registroVehiculo.xhtml">Registro
						de Vehiculos</a> <a class="link-1" href="asignacionSeguroVida.xhtml">Asignacion
						Seguro de Vida</a> <a class="link-1" href="asignacionSeguroAuto.xhtml">Asignacion
						Seguro de Vehiculos</a> <a class="link-1" href="pagos.xhtml">Pagos</a>
					&nbsp;&nbsp;&nbsp; <p:commandButton value="Logout"
						action="#{usuariosC.close()}" style="position:relative"
						icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>

		<!-- 	Imagen -->
		<div class="w3-display-container">
			<h:graphicImage library="img" name="imagen1.jpg"
				style="filter: blur(2px)" styleClass="bgimg-1 " />
			<div class="w3-display-middle bg-text">
				<p>SEGUROS WEB</p>
			</div>
		</div>

		<!--Contenedor (sobre la sección)-->
		<div class="w3-content w3-container w3-padding-64" id="about1">
			<h2 class="w3-center" style="text-decoration: underline;">SEGURO
				DE VIDA</h2>
			<p></p>

			<div class="w3-row">
				<div class="w3-col m6 w3-center w3-padding-large">
					<h:graphicImage library="img" name="segurodevida.jpg"
						class="w3-round w3-image" width="500" height="333" />
				</div>
				<div class="w3-col m6 w3-hide-small w3-padding-large">
					<p>Es un seguro de Vida Individual renovable anualmente, cubre
						tu vida en caso de fallecimiento por enfermedad o accidentes
						cubiertos, garantizando la calidad de vida y protección que tu
						familia merece.</p>

				</div>

			</div>
		</div>


		<div class="w3-row w3-center w3-padding-16"
			style="background: #336b87">
			<h2 class="w3-center" style="color: white">PAQUETES SEGURO DE
				VIDA</h2>
			<div class="tablas">
				<div class="tabla">
					<div class="precio">
						<p>
							$104<sup>.17</sup>
						</p>
						<span>Mensual</span>
					</div>
					<div class="titulo1">Plan Básico</div>
					<div class="contenido">
						<ul class="caracteristica">
							<li>Muerte Accidental</li>
							<li>Servicio de Ambulancia</li>
							<li>Gastos Funerarios</li>
							<li>Gastos Médicos</li>
							<li class="span"></li>
							<li class="span"></li>
							<li class="span"></li>
							<li class="span"></li>
							<li class="comprar"><h:link outcome="asignacionSeguroVida"> Seleccionar </h:link></li>
						</ul>
					</div>
				</div>
				<div class="tabla">
					<div class="precio">
						<p>
							$194<sup>.45</sup>
						</p>
						<span>Mensual</span>
					</div>
					<div class="titulo2">Plan Premium</div>
					<div class="contenido">
						<ul class="caracteristica">
							<li>Muerte Accidental</li>
							<li>Servicio de Ambulancia</li>
							<li>Protesis</li>
							<li>Maternidad</li>
							<li>Gastos Funerarios</li>
							<li>Gastos Médicos</li>
							<li class="comprar"><h:link outcome="asignacionSeguroVida"> Seleccionar </h:link></li>
						</ul>
					</div>
				</div>
				<div class="tabla">
					<div class="precio">
						<p>
							$166<sup>.67</sup>
						</p>
						<span>Mensual</span>
					</div>
					<div class="titulo3">Plan Plus</div>
					<div class="contenido">
						<ul class="caracteristica">
							<li>Muerte Accidental</li>
							<li>Servicio de Ambulancia</li>
							<li>Gastos Funerarios</li>
							<li>Gastos Médicos</li>
							<li>Maternidad</li>
							<li class="span"></li>
							<li class="span"></li>
							<li class="comprar"><h:link outcome="asignacionSeguroVida"> Seleccionar </h:link></li>
						</ul>
					</div>
				</div>

			</div>
		</div>

		<div class="w3-content w3-container w3-padding-64" id="about">
			<h2 class="w3-center" style="text-decoration: underline;">SEGURO
				DE AUTOS</h2>
			<p></p>
			<div class="w3-row">
				<div class="w3-col m6 w3-center w3-padding-large ">
					<p:graphicImage library="img" name="seguroautos.jpg"
						class="w3-round w3-image" width="500" height="333" />
				</div>
				<div class="w3-col m6 w3-hide-small w3-padding-large">
					<p>Ponemos a tu disposición un equipo altamente calificado para
						que te asista en los asuntos relacionados con tu automóvil</p>
				</div>
			</div>
		</div>

		<div class="w3-row w3-center w3-padding-16"
			style="background: #336b87">
			<h2 class="w3-center" style="color: white">PAQUETES SEGURO DE
				AUTO</h2>
			<div class="tablas">
				<div class="tabla">
					<div class="precio">
						<p>
							$69<sup>.45</sup>
						</p>
						<span>Mensual</span>
					</div>
					<div class="titulo4">Plan Básico</div>
					<div class="contenido">
						<ul class="caracteristica">
							<li>Daños a Terceros en Bienes</li>
							<li>Daños a Terceros en personas</li>
							<li>Daños Superior</li>
							<li class="span"></li>
							<li class="span"></li>
							<li class="span"></li>
							<li class="span"></li>
							<li class="comprar"><h:link outcome="asignacionSeguroAuto"> Seleccionar </h:link></li>
						</ul>
					</div>
				</div>
				<div class="tabla">
					<div class="precio">
						<p>
							$250<sup>.00</sup>
						</p>
						<span>Mensual</span>
					</div>
					<div class="titulo5">Plan Premium</div>
					<div class="contenido">
						<ul class="caracteristica">
							<li>Daños a Terceros</li>
							<li>Servicio de Grúa</li>
							<li>Daño Superior</li>
							<li>Reposición de Llave</li>
							<li>Daños a Terceros a personas</li>
							<li class="comprar"><h:link outcome="asignacionSeguroAuto"> Seleccionar </h:link></li>
						</ul>
					</div>
				</div>
				<div class="tabla">
					<div class="precio">
						<p>
							$178<sup>.00</sup>
						</p>
						<span>Mensual</span>
					</div>
					<div class="titulo6">Plan Plus</div>
					<div class="contenido">
						<ul class="caracteristica">
							<li>Daños a Terceros</li>
							<li>Servicio de Grúa</li>
							<li>Daños a Terceros a personas</li>
							<li>Daños a Terceros en Bienes</li>
							<li class="span"></li>
							<li class="span"></li>
							<li class="comprar"><h:link outcome="asignacionSeguroAuto">Seleccionar</h:link></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<footer class="w3-display-container w3-black w3-padding-32">
		<span class="footer__description footer__description__address"
			style="font-weight: 700; padding: 20px">Dirección oficina
			central:</span>
		<p style="padding-left: 20px">Séptima, Av Norte 3-5A Centro Santa
			Tecla,</p>
		<p style="padding-left: 20px">San Salvador, El Salvador.</p>
		<span class="footer__description footer__description__address"
			style="font-weight: 700; padding: 20px">Horario de atención</span>
		<p style="padding-left: 20px">8:30 a.m. a 5:00 p.m. sin cerrar la
			mediodía.</p>
		<a id="sign" href="#main" class="w3-button w3-display-middle"
			style="margin-right: 5%; border: 3px solid #ccc"><i
			class="fa fa-arrow-up"> INICIO</i></a></footer>
	</h:panelGroup>
	<script type="text/javascript">
        toastr.options = {
  "debug": false,
  "positionClass": "toast-bottom-right",
  "onclick": null,
  "fadeIn": 5000,
  "fadeOut": 50,
  "timeOut": 5000,
  "extendedTimeOut": 1000
}

		var showToastrs = false;

function toastrs() {
  if (!showToastrs) {
	  if(#{us.personas.sexo eq 'Masculino'}){
    toastr.success('#{us.personas.nombre} #{us.personas.apellido}', 'Bienvenido');
	  }else{
		  toastr.success('#{us.personas.nombre}', 'Bienvenida');  }
  } else {
    toastr.error('no se puede!\'t.', 'Otro error crítico');
  }
}

		// Definimos los callback cuando el TOAST le da un fade in/out:
		toastr.options.onFadeIn = function() {
			showToastrs = true;
		};
		toastr.options.onFadeOut = function() {
			showToastrs = false;
		};

		window.addEventListener("load", toastrs());
	</script>
</h:body>
</html>

