<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>Pago</title>
	<f:event type="preRenderView" listener="#{usuariosC.verificarSesion()}" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous" />
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
		crossorigin="anonymous" />
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
	<link rel="icon" href="resources/favicon.ico" type="image/x-icon" />
	<style>
button:focus {
	outline: none;
}

.ui-widget-header {
	outline: none;
	background: #486e5c;
	color: white;
	font-weight: lighter;
}

.ui-widget {
	font-family: Arial, sans-serif;
}

.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next,
	.ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first,
	.ui-paginator .ui-paginator-prev {
	cursor: pointer;
	background: white;
	font-size: 15px;
}

.ui-selectonemenu .ui-selectonemenu-label {
	border: background;
	white-space: nowrap;
	text-align: left;
	font-size: 15px;
	box-shadow: none;
}

nav {
	padding: 24px;
	text-align: center;
	font-family: Raleway;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-1 {
	background: #ffffff;
}

.link-1 {
	transition: 0.3s ease;
	background: #ffffff;
	color: #000000;
	font-size: 20px;
	text-decoration: none;
	border-top: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
	padding: 20px 0;
	margin: 0 20px;
	text-decoration: none;
}

.link-1:hover {
	border-top: 4px solid #336b87;
	border-bottom: 4px solid #336b87;
	padding: 6px 0;
	text-decoration: none;
}

body div nav .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left
	{
	background: black;
	color: white;
	border: background;
	border-radius: 10px;
}

body div nav .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.ui-state-hover
	{
	background: white;
	color: black;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

a:hover {
	text-decoration: none;
	color: black;
}

.navbar {
	overflow: hidden;
	background-color: #333;
}

#nav-1 .subnav  a {
	float: left;
	font-size: 20px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#nav-1 .subnav {
	float: left;
	overflow: hidden;
}

.subnav .subnavbtn {
	font-size: 16px;
	color: white;
	background-color: black;
	margin: 0;
}

.subnav:hover .subnavbtn {
	background-color: white;
	color: black;
}

.subnav-content {
	position: absolute;
	left: 0;
	background-color: black;
	width: 100%;
	display: none;
	z-index: 3;
	border-radius: 10px;
}

.subnav-content a {
	float: left;
	color: white;
	text-decoration: none;
}

.subnav-content a:hover {
	background-color: white;
	color: black;
}

.subnav:hover .subnav-content {
	display: block;
	margin: 1px 0px;
}

.subnav .ui-button:hover {
	box-shadow: none;
	border-color: gray;
	border: solid 0.5px gray;
}

@media ( min-width : 576px) {
	.card-columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		-webkit-column-gap: 1.25rem;
		-moz-column-gap: 1.25rem;
		column-gap: 1.25rem;
		orphans: 1;
		widows: 1;
		margin-right: 30px;
	}
}
</style>
</h:head>
<h:body>
	<p:growl id="msj" />
	<h:panelGroup
		rendered="#{us.personas.tipoUsuarios.id != '3' and us.personas.tipoUsuarios.id != '5'}">
		<meta http-equiv="Refresh" content="0;url=Error404.xhtml" />
	</h:panelGroup>

	<!-- Validacion de la vista -->
	<h:panelGroup
		rendered="#{us.personas.tipoUsuarios.id eq '3' or us.personas.tipoUsuarios.id eq '5'}">

		<!-- Validación del Menu -->
		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '3'}">
			<div id="main">
				<h:form>
					<nav id="nav-1"> <a class="link-1" href="pagos.xhtml">Pagos</a>
					<a class="link-1" href="menu.xhtml">Inicio</a> &nbsp;&nbsp;&nbsp; <p:commandButton
						value="Logout" action="#{usuariosC.close()}"
						icon="fas fa-sign-out-alt" /> </nav>
				</h:form>

			</div>
		</h:panelGroup>

		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '5'}">
			<div id="main">
				<h:form>
					<nav id="nav-1">
					<div class="subnav">
						<p:commandButton value="Configuración" icon="fa fa-cogs"
							styleClass="subnavbtn" />
						<div class="subnav-content">
							<a class="a" href="modelos.xhtml">Modelos Vehiculos</a><a
								href="pagos.xhtml">Pagos</a><a class="a"
								href="beneficiarios.xhtml">Beneficiarios</a> <a class="a"
								href="tipoAutos.xhtml">Tipos de Autos</a> <a class="a"
								href="tipoSeguro.xhtml">Tipo de Seguros</a> <a class="a"
								href="Personas.xhtml">Registro de empleados</a> <a class="a"
								href="CrearUsuario.xhtml">Usuarios</a><a href="incidencia.xhtml">Incidencias</a>
							<a href="incubierta.xhtml">Incidencias cubiertas</a><a
								href="taller.xhtml">Registro de Talleres</a><a
								href="menuE.xhtml">Ver Estadísticas</a>
						</div>
					</div>

					<a class="link-1" href="registroPersona.xhtml">Registro de
						Personas</a> <a class="link-1" href="registroVehiculo.xhtml">Registro
						de Vehiculos</a> <a class="link-1" href="menu.xhtml">Inicio</a> <a
						class="link-1" href="asignacionSeguroVida.xhtml">Asignacion
						Seguro de Vida</a> <a class="link-1" href="asignacionSeguroAuto.xhtml">Asignacion
						Seguro de Vehiculos</a> &nbsp;&nbsp;&nbsp; <p:commandButton
						value="Logout" action="#{usuariosC.close()}"
						style="position:relative" icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>

		<div class="jumbotron jumbotron-fluid"
			style="background-color: #336b87">
			<div class="container">
				<h1 class="display-4"
					style="font-family: Georgia; text-align: center; color: white">Pagos</h1>
			</div>
		</div>
		<br />
		<h:form id="datos">
			<hr id="linee" />
			<br />
			<div class="container mt-3">
				<p:inputText value="#{cobros.pol}" style="width:95%;height:45px"
					placeholder="Introduzca el número de poliza">
					<p:ajax event="keyup" update=":view"
						listener="#{cobros.buscarPoliza(cobros.pol)}" />
				</p:inputText>

			</div>
			<br />
			<br />
			<hr id="line" />
		</h:form>
		<h:form id="view">
			<br />
			<h:panelGroup rendered="#{!empty cobros.listAS}">
				<center>
					<div class="card-columns" style="margin-right: 30 px;">
						<p:repeat var="as" value="#{cobros.listAS}">
							<h:panelGroup rendered="#{as.tipoSeguros.id eq 2}">
								<div class="card">
									<h:panelGroup rendered="#{as.personas.sexo eq 'Masculino'}">
										<div class="additionalM">
											<div class="user-card">
												<div class="level center">
													<h3>#{as.poliza}</h3>
												</div>
												<div class="points center">#{as.tipoSeguros.nombre}</div>
												<h2></h2>
											</div>
										</div>
									</h:panelGroup>
									<h:panelGroup rendered="#{as.personas.sexo eq 'Femenino'}">
										<div class="additionalF">
											<div class="user-card">
												<div class="level center">
													<h3>#{as.poliza}</h3>
												</div>
												<div class="points center">#{as.tipoSeguros.nombre}</div>
											</div>
										</div>
									</h:panelGroup>
									<h:panelGroup rendered="#{as.personas.sexo eq 'Masculino'}">
										<div class="general">
											<center>
												<h3>#{as.personas.nombre} #{as.personas.apellido}</h3>
											</center>
											<p>
												<b>N° de DUI:</b> #{as.personas.dui}.<br /> <b>N° de
													telefono:</b> #{as.personas.telefono}.<br /> <b>Correo:</b>
												#{as.personas.correo}.<br /> <br /> <b>Paquete
													suscrito:</b> #{as.paquetes.nombre}

											</p>
											<p:commandButton value="&nbsp;Abonar"
												actionListener="#{cobros.llenar(as)}"
												icon="fas fa-cash-register" oncomplete="PF('ab').show();" />
											<br />
											<p:commandButton value="&nbsp;Ver historial de pagos"
												actionListener="#{cobros.list(as.poliza,as.paquetes.nombre,as.paquetes.id)}"
												update=":ta" icon="fas fa-history"
												oncomplete="PF('his').show();" />
											<br /> <br />
											<h:panelGroup
												rendered="#{us.personas.tipoUsuarios.id eq '5'}">
												<p:commandButton icon="fas fa-edit"
													action="#{cobros.editar(as.poliza)}" value="Editar" />
											</h:panelGroup>

										</div>
									</h:panelGroup>
									<h:panelGroup rendered="#{as.personas.sexo eq 'Femenino'}">
										<div class="general">
											<center>
												<h3>#{as.personas.nombre} #{as.personas.apellido}</h3>
											</center>
											<p>
												<b>N° de DUI:</b> #{as.personas.dui}.<br /> <b>N° de
													telefono:</b> #{as.personas.telefono}.<br /> <b>Correo:</b>
												#{as.personas.correo}.<br /> <br /> <b>Paquete
													suscrita:</b> #{as.paquetes.nombre}

											</p>
											<p:commandButton value="&nbsp;Abonar"
												actionListener="#{cobros.llenar(as)}"
												icon="fas fa-cash-register" oncomplete="PF('ab').show();" />
											<br />
											<p:commandButton value="&nbsp;Ver historial de pagos"
												actionListener="#{cobros.list(as.poliza,as.paquetes.nombre,as.paquetes.id)}"
												update=":ta" icon="fas fa-history"
												oncomplete="PF('his').show();" />
											<br /> <br />
											<h:panelGroup
												rendered="#{us.personas.tipoUsuarios.id eq '5'}">
												<p:commandButton icon="fas fa-edit"
													action="#{cobros.editar(as.poliza)}" value="Editar" />
											</h:panelGroup>
										</div>
									</h:panelGroup>
								</div>
							</h:panelGroup>
							<h:panelGroup rendered="#{as.tipoSeguros.id eq 1}">
								<div class="card">
									<h:panelGroup rendered="#{as.personas.sexo eq 'Masculino'}">
										<div class="additionalM">
											<div class="user-card">
												<div class="level center">
													<h3>#{as.poliza}</h3>
												</div>
												<div class="points center">#{as.tipoSeguros.nombre}</div>
												<h2></h2>
											</div>
										</div>
									</h:panelGroup>
									<h:panelGroup rendered="#{as.personas.sexo eq 'Femenino'}">
										<div class="additionalF">
											<div class="user-card">
												<div class="level center">
													<h3>#{as.poliza}</h3>
												</div>
												<div class="points center">#{as.tipoSeguros.nombre}</div>
											</div>
										</div>
									</h:panelGroup>
									<h:panelGroup rendered="#{as.personas.sexo eq 'Masculino'}">
										<div class="general">
											<center>
												<h3>#{as.vehiculos.placa}</h3>
											</center>
											<p>
												<b>Nombre:</b> #{as.personas.nombre} #{as.personas.apellido}<b></b><br />
												<br /> <b>Color:</b> #{as.vehiculos.color}.<br /> <b>Modelo:</b>
												#{as.vehiculos.modelos.modelo}.<br /> <b>Marca:</b>
												#{as.vehiculos.modelos.marcas.marca}.<br /> <b>Tipo:</b>
												#{as.vehiculos.tipoAutos.nombre}.<br /> <br /> <b>Paquete
													suscrito:</b> #{as.paquetes.nombre}

											</p>
											<p:commandButton value="&nbsp;Abonar"
												actionListener="#{cobros.llenar(as)}"
												icon="fas fa-cash-register" oncomplete="PF('ab').show();" />
											<br />
											<p:commandButton value="&nbsp;Ver historial de pagos"
												actionListener="#{cobros.list(as.poliza,as.paquetes.nombre,as.paquetes.id)}"
												update=":ta" icon="fas fa-history"
												oncomplete="PF('his').show();" />
											<br /> <br />
											<h:panelGroup
												rendered="#{us.personas.tipoUsuarios.id eq '5'}">
												<p:commandButton icon="fas fa-edit"
													action="#{cobros.editar(as.poliza)}" value="Editar" />
											</h:panelGroup>
										</div>
									</h:panelGroup>
									<h:panelGroup rendered="#{as.personas.sexo eq 'Femenino'}">
										<div class="general">
											<center>
												<h3>#{as.vehiculos.placa}</h3>
											</center>
											<p>
												<b>Nombre:</b> #{as.personas.nombre},
												#{as.personas.apellido}<b></b><br /> <br /> <b>Color:</b>
												#{as.vehiculos.color}.<br /> <b>Modelo:</b>
												#{as.vehiculos.modelos.modelo}.<br /> <b>Marca:</b>
												#{as.vehiculos.modelos.marcas.marca}.<br /> <b>Tipo:</b>
												#{as.vehiculos.tipoAutos.nombre}.<br /> <br /> <b>Paquete
													suscrita:</b> #{as.paquetes.nombre}

											</p>
											<p:commandButton value="&nbsp;Abonar"
												actionListener="#{cobros.llenar(as)}"
												icon="fas fa-cash-register" oncomplete="PF('ab').show();" />
											<br />
											<p:commandButton value="&nbsp;Ver historial de pagos"
												actionListener="#{cobros.list(as.poliza,as.paquetes.nombre,as.paquetes.id)}"
												update=":ta" icon="fas fa-history"
												oncomplete="PF('his').show();" />
											<br /> <br />
											<h:panelGroup
												rendered="#{us.personas.tipoUsuarios.id eq '5'}">
												<p:commandButton icon="fas fa-edit"
													action="#{cobros.editar(as.poliza)}" value="Editar" />
											</h:panelGroup>
										</div>
									</h:panelGroup>
								</div>
							</h:panelGroup>
						</p:repeat>
					</div>
				</center>
			</h:panelGroup>
			<h:panelGroup rendered="#{empty cobros.listAS}">
				<div class="container mt-auto">
					<h1 class="display-4">"No se ha encontrado el resultado de tu
						busqueda del número de poliza: #{cobros.pol}"</h1>
					<p>
						<h3>•Asegúrate de que el número de la poliza estén escritas
							correctamente.</h3>
						<br />
						<h3>•Asegúrate de que el número de la poliza exista.</h3>
						<br />
					</p>
				</div>
			</h:panelGroup>
		</h:form>
		<p:dialog id="a" modal="true" width="30%" dynamic="true"
			widgetVar="ab" position="center middle" resizable="false">
			<p:ajax update=":ab" event="close" listener="#{cobros.init()}" />
			<center>
				<h:form id="ab">
					<h:panelGrid columns="2">
						<p:outputLabel value="Cantidad: " />
						<p:inputNumber decimalPlaces="2" style="height:10px"
							value="#{cobros.pago.cantidad}" />
						<p:outputLabel value="Seleccione Sucursal: " />
						<h:selectOneMenu
							style="height:50px;font-size:15px;border-radius: 5px;"
							value="#{cobros.sucursal.id}">
							<f:selectItems value="#{asignacion_Seguros.listaSucursales}"
								var="su" itemLabel="#{su.nombre}" itemValue="#{su.id}" />
						</h:selectOneMenu>
						<p:commandButton value="Abonar" action="#{cobros.create}"
							update=":ab :msj" oncomplete="PF('ab').hide();" />
					</h:panelGrid>
				</h:form>
			</center>
		</p:dialog>
		<p:dialog modal="true" width="75%" height="75%" dynamic="true"
			widgetVar="his" position="center middle" resizable="false">
			<p:ajax update=":ta" event="close" listener="#{cobros.init()}" />
			<center>
				<h:form id="ta">
					<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '5'}">
						<p:dataTable paginator="true" rows="5" globalFilter=""
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							currentPageReportTemplate="Mostrando los datos del {startRecord} al {endRecord} de {totalRecords}"
							paginatorPosition="top" style="width:90%" value="#{cobros.listT}"
							var="t"
							emptyMessage="Este número de poliza no ha realizado ningun pago">
							<p:column>
								<f:facet name="header">Cuotas</f:facet>
								<p:outputLabel value="$#{t.get(0)}"></p:outputLabel>
							</p:column>
							<p:column>
								<f:facet name="header">Fecha</f:facet>
								<p:outputLabel value="#{t.get(1)}">
									<f:convertDateTime locale="es_SV"
										pattern="EEEE d 'de' MMMM 'de' yyyy hh:mm:ss a"
										timeZone="GMT-6" />
								</p:outputLabel>
							</p:column>
							<p:column>
								<f:facet name="header">Usuario que lo ingreso</f:facet>
								<p:outputLabel value="#{t.get(2)}, #{t.get(3)}" />
							</p:column>
						</p:dataTable>
						<p:dataTable style="width:90%" value="#{cobros.listTD}" var="ta"
							emptyMessage="Este número de poliza no ha realizado ningun pago">
							<p:column>
								<f:facet name="header">Total Pagado</f:facet>
								<p:outputLabel value="$#{ta.get(0)}"></p:outputLabel>
							</p:column>
							<p:column>
								<f:facet name="header">Total a Pagar</f:facet>
								<p:outputLabel value="$#{ta.get(1)}"></p:outputLabel>
							</p:column>
						</p:dataTable>
					</h:panelGroup>
					<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '3'}">
						<p:dataTable paginator="true" rows="10"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							currentPageReportTemplate="Mostrando los datos del {startRecord} al {endRecord} de {totalRecords}"
							rowsPerPageTemplate="10,15" paginatorPosition="top"
							style="width:90%" value="#{cobros.listT}" var="t"
							emptyMessage="Este número de poliza no ha realizado ningun pago">
							<p:column>
								<f:facet name="header">Cuotas</f:facet>
								<p:outputLabel value="$#{t.get(0)}"></p:outputLabel>
							</p:column>
							<p:column>
								<f:facet name="header">Fecha</f:facet>
								<p:outputLabel value="#{t.get(1)}">
									<f:convertDateTime locale="es_SV"
										pattern="EEEE d 'de' MMMM 'de' yyyy hh:mm:ss a"
										timeZone="GMT-6" />
								</p:outputLabel>
							</p:column>
						</p:dataTable>
						<p:dataTable style="width:90%" value="#{cobros.listTD}" var="ta"
							emptyMessage="Este número de poliza no ha realizado ningun pago">
							<p:column>
								<f:facet name="header">Total Pagado</f:facet>
								<p:outputLabel value="$#{ta.get(0)}"></p:outputLabel>
							</p:column>
							<p:column>
								<f:facet name="header">Total a Pagar</f:facet>
								<p:outputLabel value="$#{ta.get(1)}"></p:outputLabel>
							</p:column>
						</p:dataTable>
					</h:panelGroup>
				</h:form>
			</center>
			<br />
		</p:dialog>
	</h:panelGroup>
</h:body>
<h:outputStylesheet library="css" name="primeFace.css" />
</html>