<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>Pago</title>
	<f:event type="preRenderView" listener="#{usuariosC.verificarSesion()}" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous" />
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
		crossorigin="anonymous" />
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
	<link rel="icon" href="resources/favicon.ico" type="image/x-icon" />
	<style>
button:focus {
	outline: none;
}

.ui-widget-header {
	outline: none;
	background: black;
	color: white;
	font-weight: lighter;
}

.ui-widget {
	font-family: Arial, sans-serif;
}

.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next,
	.ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first,
	.ui-paginator .ui-paginator-prev {
	cursor: pointer;
	background: white;
	font-size: 15px;
}

.ui-selectonemenu .ui-selectonemenu-label {
	border: background;
	white-space: nowrap;
	text-align: left;
	font-size: 15px;
	box-shadow: none;
}

nav {
	padding: 24px;
	text-align: center;
	font-family: Raleway;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-1 {
	background: #ffffff;
}

.link-1 {
	transition: 0.3s ease;
	background: #ffffff;
	color: #000000;
	font-size: 20px;
	text-decoration: none;
	border-top: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
	padding: 20px 0;
	margin: 0 20px;
	text-decoration: none;
}

.link-1:hover {
	border-top: 4px solid #336b87;
	border-bottom: 4px solid #336b87;
	padding: 6px 0;
	text-decoration: none;
}

body div nav .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left
	{
	background: black;
	color: white;
	border: background;
	border-radius: 10px;
}

body div nav .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.ui-state-hover
	{
	background: white;
	color: black;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

a:hover {
	text-decoration: none;
	color: black;
}

.navbar {
	overflow: hidden;
	background-color: #333;
}

#nav-1 .subnav  a {
	float: left;
	font-size: 20px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#nav-1 .subnav {
	float: left;
	overflow: hidden;
}

.subnav .subnavbtn {
	font-size: 16px;
	color: white;
	background-color: black;
	margin: 0;
}

.subnav:hover .subnavbtn {
	background-color: white;
	color: black;
}

.subnav-content {
	position: absolute;
	left: 0;
	background-color: black;
	width: 100%;
	display: none;
	z-index: 3;
	border-radius: 10px;
}

.subnav-content a {
	float: left;
	color: white;
	text-decoration: none;
}

.subnav-content a:hover {
	background-color: white;
	color: black;
}

.subnav:hover .subnav-content {
	display: block;
	margin: 1px 0px;
}

.subnav .ui-button:hover {
	box-shadow: none;
	border-color: gray;
	border: solid 0.5px gray;
}

@media ( min-width :576px) {
	.card-columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		-webkit-column-gap: 1 .25rem;
		-moz-column-gap: 1 .25rem;
		column-gap: 1 .25rem;
		orphans: 1;
		widows: 1;
		margin-right: 40 px;
	}
}

.resmue-container {
	border: 1px solid #ddd;
	padding: 0;
	padding: 15px;
	position: relative;
}

aside, main {
	padding: 15px;
	border-radius: 10px;
}

.resmue-container aside {
	flex-grow: 1;
	background: #f1f1f1;
	flex-basis: 50%;
}

.resmue-container main {
	flex-grow: 10;
	background: #f1f1f1;
	margin-left: 1%;
}

.porfile-pic { -
	-size: 180px;
	width: var(- -size);
	height: var(- -size);
	object-fit: cover;
	border-radius: 50%;
	margin: 20px auto;
	display: block;
	background: var(- -light-brown)
}

.text-center {
	text-align: center;
}

.text-muted {
	color: #828282;
	font-size: 20px;
}

.line-title {
	position: relative;
	border-bottom: 1px solid #b9b9b9;
	padding-bottom: 15px;
}

.line-title:before {
	content: '';
	width: 50px;
	height: 2px;
	background: var(- -theme-color);
	position: absolute;
	bottom: -1px;
}

.line-title.center {
	text-align: center;
}

.line-title.center:before {
	text-align: center;
	left: 0;
	right: 0;
	margin: auto;
}

.short {
	text-align: right;
	/* flex-basis: 30%; */
	/* flex-grow: 1; */
	margin-right: 40px;
	width: 20%;
	float: left;
}

.short p {
	color: #828282;
	margin-top: -10px;
	font-size: 14px;
}

.full a {
	font-size: 22px;
	font-weight: 300;
	text-decoration: none;
	margin-top: 20px;
	display: block;
	color: #525252;
}

.read {
	color: #717171;
	font-size: 16px;
	line-height: 1.5;
	word-spacing: 4px;
}

.flex-group {
	/*display: flex;*/
	
}

.flex-group:after {
	content: "";
	display: table;
	clear: both;
}

.flex-group .full {
	width: 74%;
	float: left;
}

section {
	padding: 25px 0;
}

.short a {
	text-decoration: none;
	font-size: 17px;
	color: #333;
}

hr {
	background-color: #ddd;
	height: 1px;
	border: 0;
}

.skill-list li {
	list-style: square;
	padding: 10px 0;
	color: #636363;
	font-size: 17px;
}

.ui-datatable tbody.ui-datatable-data {
	outline: 0;
	border-collapse: collapse;
} /*Letra Tabla*/
.ui-widget-content {
	background: #fff;
	color: #4f4f4f;
	border: white;
}

.ui-datatable-tablewrapper {
	overflow: hidden;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	border-color: #7096ab;
	background: #E0D9D9;
	color: #313131;
	text-shadow: none;
}

.boton {
	border-radius: 5px;
	background: #ffffff !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	border: 0px solid #7096ab;
	background: #E0D9D9;
	color: #313131;
	box-shadow: 4px 4px 4px 4px #85b2cb;
}

.ui-datatable thead tr {
	display: table-row;
	vertical-align: inherit;
	background: #E25050;
	border: #4f4f4f;
}

/* titulo filas */
body .ui-datatable thead th {
	background: #1c1b1b !important;
	color: white;
	border: #1c1b1b;
}

body .ui-datatable thead th .ui-column-title {
	font-weight: 300 !important;
	color: white !important;
	text-shadow: none;
	border: #4f4f4f;;
}

.ui-inputfield.ui-widget.ui-state-default.ui-corner-all.hasDatepicker {
	border: none;
	border-color: background;
	background: white;
	box-shadow: none;
}

.ui-calendar.form-control.ui-trigger-calendar {
	height: 45px;
}

.table:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

.ui-datepicker-trigger.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only
	{
	background: white;
	color: black;
}

.table:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}

nav {
	padding: 24px;
	text-align: center;
	font-family: Raleway;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-1 {
	background: #ffffff;
}

.link-1 {
	transition: 0.3s ease;
	background: #ffffff;
	color: #000000;
	font-size: 20px;
	text-decoration: none;
	border-top: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
	padding: 20px 0;
	margin: 0 20px;
	text-decoration: none;
}

.link-1:hover {
	border-top: 4px solid #336b87;
	border-bottom: 4px solid #336b87;
	padding: 6px 0;
	text-decoration: none;
}

body div nav .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left
	{
	background: black;
	color: white;
	border: background;
	border-radius: 10px;
}

body div nav .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.ui-state-hover
	{
	background: white;
	color: black;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

a:hover {
	text-decoration: none;
	color: black;
}

.boton {
	border-radius: 5px;
	background: #F6F8FB !important;
}
</style>
</h:head>
<h:body>
	<p:growl id="msj" />
	<h:panelGroup
		rendered="#{us.personas.tipoUsuarios.id != '3' and us.personas.tipoUsuarios.id != '5'}">
		<meta http-equiv="Refresh" content="0;url=Error404.xhtml" />
	</h:panelGroup>

	<!-- Validacion de la vista -->
	<h:panelGroup
		rendered="#{us.personas.tipoUsuarios.id eq '3' or us.personas.tipoUsuarios.id eq '5'}">

		<!-- Validación del Menu -->
		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '3'}">
			<div id="main">
				<h:form>
					<nav id="nav-1"> <a class="link-1" href="pagos.xhtml">Pagos</a>
					<a class="link-1" href="menu.xhtml">Inicio</a> &nbsp;&nbsp;&nbsp; <p:commandButton
						value="Logout" action="#{usuariosC.close()}"
						icon="fas fa-sign-out-alt" /> </nav>
				</h:form>

			</div>
		</h:panelGroup>

		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '5'}">
			<div id="main">
				<h:form>
					<nav id="nav-1">
					<div class="subnav">
						<p:commandButton value="Configuración" icon="fa fa-cogs"
							styleClass="subnavbtn" />
						<div class="subnav-content">
							<a class="a" href="modelos.xhtml">Modelos Vehiculos</a><a
								href="pagos.xhtml">Pagos</a><a class="a"
								href="beneficiarios.xhtml">Beneficiarios</a> <a class="a"
								href="tipoAutos.xhtml">Tipos de Autos</a> <a class="a"
								href="tipoSeguro.xhtml">Tipo de Seguros</a> <a class="a"
								href="Personas.xhtml">Registro de empleados</a> <a class="a"
								href="CrearUsuario.xhtml">Usuarios</a><a href="incidencia.xhtml">Incidencias</a>
							<a href="incubierta.xhtml">Incidencias cubiertas</a><a
								href="taller.xhtml">Registro de Talleres</a><a
								href="menuE.xhtml">Ver Estadísticas</a>
						</div>
					</div>

					<a class="link-1" href="registroPersona.xhtml">Registro de
						Personas</a> <a class="link-1" href="registroVehiculo.xhtml">Registro
						de Vehiculos</a> <a class="link-1" href="menu.xhtml">Inicio</a> <a
						class="link-1" href="asignacionSeguroVida.xhtml">Asignacion
						Seguro de Vida</a> <a class="link-1" href="asignacionSeguroAuto.xhtml">Asignacion
						Seguro de Vehiculos</a> &nbsp;&nbsp;&nbsp; <p:commandButton
						value="Logout" action="#{usuariosC.close()}"
						style="position:relative" icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>

		<div class="jumbotron jumbotron-fluid"
			style="background-color: #336b87">
			<div class="container">
				<h1 class="display-4"
					style="font-family: Georgia; text-align: center; color: white">Pagos</h1>
			</div>
		</div>
		<br />
		<div class="resmue-container">
			<div style="display: flex;">
				<p:repeat var="as" value="#{cobros.listAS}">
					<aside> <section class="text-center"
						style="padding:0;width: 300px;">

					<h2 style="margin-bottom: 5px">#{as.personas.nombre}
						#{as.personas.apellido}</h2>
					<small class="text-muted">#{as.tipoSeguros.nombre}</small>
					<p class="text-muted">
						<small> <b>Teléfono:</b>#{as.personas.telefono}
						</small>
					</p>
					<p class="text-muted">
						<small> <b>Email:</b>#{as.personas.correo}
						</small>
					</p>
					</section> <section>
					<h3 class="line-title center">Más información</h3>
					<p class="read">
						<b>Fecha de Nacimiento:</b>#{as.personas.fechaNacimiento}.<br />
						<b>Edad:</b> #{as.personas.edad} años.<br /> <b>Sexo:</b>
						#{as.personas.sexo}.<br /> <b>Dirección:</b>
						#{as.personas.direccion}, #{as.personas.municipios.nombre},
						#{as.personas.municipios.departamentos.nombre}.<br /> <b>Estado
							Civil:</b> #{as.personas.estadoCivil.estadoCivil}.<br /> <b>N°
							DUI:</b> #{as.personas.dui}.<br />
					</p>
					</section></aside>
				</p:repeat>
				<main> <section> <h:form id="tabla">
					<p:dataTable paginator="true" rows="5" styleClass="table"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						paginatorPosition="top"
						style="width: 85% !important; padding: 0; margin: 0 auto !important;text-align:center"
						widgetVar="tabla" value="#{cobros.listPa}" var="pagos">
						<p:column width="10%" headerText="Cantidad Abonada">
							<p:outputLabel value="$#{pagos.cantidad}" />
						</p:column>
						<p:column headerText="Fecha">
							<p:outputLabel value="#{pagos.fecha}">
								<f:convertDateTime locale="es_SV"
									pattern="EEEE d 'de' MMMM 'de' yyyy hh:mm:ss a"
									timeZone="GMT-6" />
							</p:outputLabel>
						</p:column>
						<p:column headerText="Usuario que Atendio">
							<p:outputLabel
								value="#{pagos.usuarios.personas.nombre} #{pagos.usuarios.personas.apellido}" />
						</p:column>
						<p:column headerText="Sucursal en la que efectuo el pago">
							<p:outputLabel value="#{pagos.sucursales.nombre}" />
						</p:column>
						<p:column headerText="Opciones">
							<p:commandButton styleClass="boton" value="Editar"
								icon="fas fa-edit" actionListener="#{cobros.cargarpagos(pagos)}"
								update=":datos" oncomplete="PF('java').show();" />
							<p:commandButton styleClass="boton" value="Eliminar"
								icon="fa fa-trash" actionListener="#{cobros.eliminar(pagos)}"
								update=":tabla">
								<p:confirm header="Confirmacion"
									message="Estás seguro de eliminar este campo?"
									icon="fa fa-trash" />
							</p:commandButton>
							<p:confirmDialog global="true" showEffect="bounce"
								hideEffect="explode">
								<p:commandButton value="Yes" type="button"
									styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
								<p:commandButton value="No" type="button"
									styleClass="ui-confirmdialog-no" icon="fa fa-times" />
							</p:confirmDialog>
						</p:column>
					</p:dataTable>
				</h:form></section> </main>
			</div>
		</div>
		<p:dialog widgetVar="java" modal="true" resizable="false"
			showEffect="bounce" hideEffect="explode">
			<h:form id="datos">
				<h:panelGrid columns="1">
					<p:outputLabel value="Seleccione Poliza:">&nbsp;
						<h:outputLabel value="#{cobros.asignacionSeguros.poliza}" />
					</p:outputLabel>
					<p:outputLabel value="Cantidad: ">
						<p:inputNumber value="#{cobros.pago.cantidad}">
							<f:convertNumber maxFractionDigits="2" minIntegerDigits="2" />
						</p:inputNumber>
					</p:outputLabel>
					<p:outputLabel value="Fecha de Pago: ">
						<p:calendar value="#{cobros.pago.fecha}" />
					</p:outputLabel>
					<p:outputLabel value="Seleccione Usuario: " />
					<p:selectOneMenu value="#{cobros.usuario.id}">
						<f:selectItems value="#{cobros.listU}" var="us"
							itemLabel="#{us.usuario}" itemValue="#{us.id}" />
					</p:selectOneMenu>
					<p:outputLabel value="Seleccione Sucursal: " />
					<p:selectOneMenu value="#{cobros.sucursal.id}">
						<f:selectItems value="#{cobros.listS}" var="su"
							itemLabel="#{su.nombre}" itemValue="#{su.id}" />
					</p:selectOneMenu>
					<p:commandButton styleClass="boton" value="Editar"
						icon="fas fa-edit" actionListener="#{cobros.edit()}"
						oncomplete="PF('java').hide();" />
				</h:panelGrid>
			</h:form>
		</p:dialog>
	</h:panelGroup>
</h:body>
</html>
