<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>Registro de Usuarios</title>
	<f:event type="preRenderView" listener="#{usuariosC.verificarSesion()}" />
	<meta charset="UTF-8" />
	<meta Http-Equiv="Cache-Control" Content="no-cache"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"></link>
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous"></link>
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
		crossorigin="anonymous" />
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
	<link rel="icon" href="resources/favicon.ico" type="image/x-icon" />
	<style>
.calendar {
	background-color: black !important;
}

body .ui-datatable thead th {
	background: rgba(0, 0, 0, 0.75) !important;
	color: white;
	border: solid 1px #ffffff;
}

body .ui-datatable thead th .ui-column-title {
	font-weight: 200 !important;
	color: white !important;
	font-family: Segoe UI;
}

.ui-widget-content {
	background: rgba(32, 131, 238, 0.05);
	color: rgba(0, 0, 0, 0.75);
	border: #ffffff;
}

.boton {
	border-radius: 5px;
	background: #F6F8FB !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	box-shadow: 1px 1px 1px 1px rgba(34, 81, 235, 0.75);
}

.ui-datatable tbody.ui-datatable-data {
	outline: 0;
	border-collapse: collapse;
} /*Letra Tabla*/
.ui-widget-content {
	background: #fff;
	color: #4f4f4f;
	border: white;
}

.ui-datatable-tablewrapper {
	overflow: hidden;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	border-color: #7096ab;
	background: #E0D9D9;
	color: #313131;
	text-shadow: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	border: 0px solid #7096ab;
	background: #E0D9D9;
	color: #313131;
	box-shadow: 4px 4px 4px 4px #85b2cb;
}

.ui-datatable thead tr {
	display: table-row;
	vertical-align: inherit;
	background: #E25050;
	border: #4f4f4f;
}

/* titulo filas */
body .ui-datatable thead th {
	background: #1c1b1b !important;
	color: white;
	border: #1c1b1b;
}

body .ui-datatable thead th .ui-column-title {
	font-weight: 300 !important;
	color: white !important;
	text-shadow: none;
	border: #4f4f4f;;
}

.table:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

.table:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}

nav {
	padding: 24px;
	text-align: center;
	font-family: Raleway;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-1 {
	background: #ffffff;
}

.link-1 {
	transition: 0.3s ease;
	background: #ffffff;
	color: #000000;
	font-size: 20px;
	text-decoration: none;
	border-top: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
	padding: 20px 0;
	margin: 0 20px;
}

.link-1:hover {
	border-top: 4px solid #336b87;
	border-bottom: 4px solid #336b87;
	padding: 6px 0;
}

nav {
	padding: 24px;
	text-align: center;
	font-family: Raleway;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-1 {
	background: #ffffff;
}

.link-1 {
	transition: 0.3s ease;
	background: #ffffff;
	color: #000000;
	font-size: 20px;
	text-decoration: none;
	border-top: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
	padding: 20px 0;
	margin: 0 20px;
	text-decoration: none;
}

.link-1:hover {
	border-top: 4px solid #336b87;
	border-bottom: 4px solid #336b87;
	padding: 6px 0;
	text-decoration: none;
}

body div nav .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left
	{
	background: black;
	color: white;
	border: background;
	border-radius: 10px;
}

body div nav .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.ui-state-hover
	{
	background: white;
	color: black;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

a:hover {
	text-decoration: none;
	color: black;
}

.navbar {
	overflow: hidden;
	background-color: #333;
}

#nav-1 .subnav  a {
	float: left;
	font-size: 20px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#nav-1 .subnav {
	float: left;
	overflow: hidden;
}

.subnav .subnavbtn {
	font-size: 16px;
	color: white;
	background-color: black;
	margin: 0;
}

.subnav:hover .subnavbtn {
	background-color: white;
	color: black;
}

.subnav-content {
	position: absolute;
	left: 0;
	background-color: black;
	width: 100%;
	display: none;
	z-index: 3;
	border-radius: 10px;
}

.subnav-content a {
	float: left;
	color: white;
	text-decoration: none;
}

.subnav-content a:hover {
	background-color: white;
	color: black;
}

.subnav:hover .subnav-content {
	display: block;
	margin: 1px 0px;
}

.subnav .ui-button:hover {
	box-shadow: none;
	border-color: gray;
	border: solid 0.5px gray;
}

.ui-dialog-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-top.ui-draggable-handle
	{
	background: black;
	color: white;
}
</style>
</h:head>
<h:body>
	<h:panelGroup rendered="#{us.personas.tipoUsuarios.id != '5'}">
		<meta http-equiv="Refresh" content="0;url=Error404.xhtml" />
	</h:panelGroup>

	<!-- Validacion de la vista -->
	<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '5'}">

		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '5'}">
			<div id="main">
				<h:form>
					<nav id="nav-1">
					<div class="subnav">
						<p:commandButton value="Configuración" icon="fa fa-cogs"
							styleClass="subnavbtn" />
						<div class="subnav-content">
							<a class="a" href="modelos.xhtml">Modelos Vehiculos</a><a
								href="pagos.xhtml">Pagos</a><a class="a"
								href="beneficiarios.xhtml">Beneficiarios</a> <a class="a"
								href="tipoAutos.xhtml">Tipos de Autos</a> <a class="a"
								href="tipoSeguro.xhtml">Tipo de Seguros</a> <a class="a"
								href="Personas.xhtml">Registro de empleados</a> <a class="a"
								href="CrearUsuario.xhtml">Usuarios</a><a href="incidencia.xhtml">Incidencias</a>
							<a href="incubierta.xhtml">Incidencias cubiertas</a><a
								href="taller.xhtml">Registro de Talleres</a><a
								href="menuE.xhtml">Ver Estadísticas</a>
						</div>
					</div>

					<a class="link-1" href="registroPersona.xhtml">Registro de
						Personas</a> <a class="link-1" href="registroVehiculo.xhtml">Registro
						de Vehiculos</a> <a class="link-1" href="menu.xhtml">Inicio</a> <a
						class="link-1" href="asignacionSeguroVida.xhtml">Asignacion
						Seguro de Vida</a> <a class="link-1" href="asignacionSeguroAuto.xhtml">Asignacion
						Seguro de Vehiculos</a> &nbsp;&nbsp;&nbsp; <p:commandButton
						value="Logout" action="#{usuariosC.close()}"
						style="position:relative" icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>
		<p:growl id="msj" />
		<div class="jumbotron jumbotron-fluid"
			style="background-color: #336b87">
			<div class="container">
				<h1 class="display-4"
					style="font-family: Georgia; text-align: center; color: white">Registro
					de Empleados</h1>
			</div>
		</div>&nbsp;

	<h:form id="datos">
			<div class="container mt-3">
				<div class="row">

					<div class="form-group col-lg-4">
						<p:outputLabel value="Nombre:" />
						<p:inputText value="#{seguroVida.persona.nombre}"
							class="form-control" placeholder="Nombre" />
					</div>
					<div class="form-group col-lg-4">
						<p:outputLabel value="Apellido:" />
						<p:inputText value="#{seguroVida.persona.apellido}"
							class="form-control" placeholder="Apellido" />
					</div>
					<div class="form-group col-lg-4">
						<p:outputLabel value="Fecha Nacimiento:" />
						<br />
						<p:calendar value="#{seguroVida.persona.fechaNacimiento}"
							locale="es" pattern="dd-MM-yyyy"
							placeholder="Fecha de Nacimineto"></p:calendar>
					</div>
				</div>


				<div class="row">
					<div class="form-group col-lg-4">
						<p:outputLabel value="Edad:" />
						<br />
						<p:inputText value="#{seguroVida.persona.edad}" placeholder="Edad" />
					</div>
					<div class="form-group col-lg-4">
						<p:outputLabel value="DUI:" />
						<p:inputMask mask="99999999-9" value="#{seguroVida.persona.dui}"
							class="form-control" placeholder="DUI" />
					</div>
					<div class="form-group col-lg-4">
						<p:outputLabel value="Direccion:" />
						<p:inputText value="#{seguroVida.persona.direccion}"
							class="form-control" placeholder="Direccion" />
					</div>
				</div>
				<div class="row">
					<div class="form-group col-lg-4">
						<p:outputLabel value="Departamento:" />
						<h:selectOneMenu value="#{seguroVida.d.id}" class="form-control"
							style="border: ridge">
							<f:selectItem itemValue="0" noSelectionOption="true"
								itemLabel=" " />
							<f:selectItems value="#{seguroVida.listadepa}" var="mu"
								itemLabel="#{mu.nombre}" itemValue="#{mu.id}" />
							<p:ajax listener="#{seguroVida.actMuni()}" />
						</h:selectOneMenu>
					</div>
					<div class="form-group col-lg-4">
						<p:outputLabel value="Municipio:" />
						<h:selectOneMenu id="mu" value="#{seguroVida.municipio.id}"
							class="form-control" style="border: ridge">
							<f:selectItem itemValue="0" noSelectionOption="true"
								itemLabel=" " />
							<f:selectItems value="#{seguroVida.listamunicipios}" var="mu"
								itemLabel="#{mu.nombre}" itemValue="#{mu.id}" />
						</h:selectOneMenu>

					</div>
					<div class="form-group col-lg-4">
						<p:outputLabel value="Telefono:" />
						<p:inputMask mask="9999-9999"
							value="#{seguroVida.persona.telefono}" class="form-control"
							placeholder="Telefono:" />
					</div>
					<div class="form-group col-lg-4">
						<p:outputLabel value="Correo" />
						<p:inputText value="#{seguroVida.persona.correo}"
							class="form-control" placeholder="Correo" />
					</div>
				</div>

				<div class="row">
					<div class="form-group col-lg-4">
						<p:outputLabel value="Estado Civil:">

							<h:selectOneMenu value="#{seguroVida.estadoCivil.id}"
								class="form-control" style="border: ridge">
								<f:selectItem itemValue="0" noSelectionOption="true"
									itemLabel=" " />
								<f:selectItems value="#{seguroVida.listaestadocivil}" var="es"
									itemLabel="#{es.estadoCivil}" itemValue="#{es.id}" />
							</h:selectOneMenu>

						</p:outputLabel>
					</div>
					<div class="form-group col-lg-4">
						<p:outputLabel value="Tipo de Usuario">

							<h:selectOneMenu value="#{seguroVida.tusuarios.id}"
								class="form-control" style="border: ridge">
								<f:selectItem itemValue="0" noSelectionOption="true"
									itemLabel=" " />
								<f:selectItem itemLabel="Empleado" itemValue="1" />
								<f:selectItem itemLabel="Cajero" itemValue="3" />
								<f:selectItem itemLabel="Supervisor" itemValue="4" />
								<f:selectItem itemLabel="Gerente" itemValue="5" />
							</h:selectOneMenu>

						</p:outputLabel>
					</div>
					<div class="form-group col-lg-4">
						<p:outputLabel value="Profesion:" />
						<p:inputText value="#{seguroVida.persona.profesion}"
							class="form-control" placeholder="Profesion" />
					</div>
				</div>
				<div class="row">
					<div class="form-group col-lg-4">
						<p:outputLabel value="Sexo:">
							<h:selectOneMenu value="#{seguroVida.persona.sexo}"
								class="form-control" style="border: ridge">
								<f:selectItem itemValue="0" noSelectionOption="true"
									itemLabel=" " />
								<f:selectItem itemLabel="Masculino" itemValue="Masculino" />
								<f:selectItem itemLabel="Femenino" itemValue="Femenino" />
							</h:selectOneMenu>
						</p:outputLabel>

					</div>

					<div class="form-group col-lg-4">
						<p:commandButton class="btn btn-outline-primary" value="Guardar"
							actionListener="#{seguroVida.createVidapersona()}"
							update=":tabla :msj" />
					</div>
				</div>
			</div>
		</h:form>
		<div class="container mt-3"></div>
		<center>
			<h:form id="tabla">
				<p:dataTable styleClass="table"
					style=" align-content: center;text-align: center;width: 1320px !important; padding: 0; margin: 0 auto !important; border:2px double black !important"
					class="table text-white " value="#{seguroVida.listaEmpleado}"
					var="lp">
					<p:column>
						<f:facet name="header">Nombre</f:facet>
						<p:outputLabel value="#{lp.nombre}" />
					</p:column>
					<p:column>
						<f:facet name="header">Apellido</f:facet>
						<p:outputLabel value="#{lp.apellido}" />
					</p:column>
					<p:column>
						<f:facet name="header">Dui</f:facet>
						<p:outputLabel value="#{lp.dui}" />
					</p:column>
					<p:column>
						<f:facet name="header">Telefono</f:facet>
						<p:outputLabel value="#{lp.telefono}" />
					</p:column>
					<p:column>
						<f:facet name="header">Correo</f:facet>
						<p:outputLabel value="#{lp.correo}" />
					</p:column>

					<p:column>
						<f:facet name="header">Acciones</f:facet>
						<p:commandButton value="Editar" oncomplete="PF('java').show();"
							action="#{seguroVida.consultarPorIDpersona(lp)}"
							styleClass="boton ui-priority-primary" update=":editar" />

						<p:commandButton value="Ver Detalles"
							oncomplete="PF('java1').show();"
							action="#{seguroVida.listarP(lp.id)}"
							styleClass="boton ui-priority-primary" update=":detalles" />

						<f:facet name="header">Agregar</f:facet>
						<p:commandButton value="Nuevo Usuario"
							actionListener="#{usuariosC.getperson(lp)}"
							styleClass="boton ui-priority-primary" />

					</p:column>

				</p:dataTable>
			</h:form>
		</center>
		<h:form id="detalles">
			<p:dialog widgetVar="java1" showEffect="explode">
				<p:panelGrid columns="2">
					<p:dataTable
						style="background-color: rgba(0,0,0,0.80); width: 1150px;"
						class="table text-white " value="#{seguroVida.listaPorId}"
						var="lp">
						<p:column>
							<f:facet name="header">Id</f:facet>
							<p:outputLabel value="#{lp.id}" />
						</p:column>
						<p:column>
							<f:facet name="header">Nombre</f:facet>
							<p:outputLabel value="#{lp.nombre}" />
						</p:column>
						<p:column>
							<f:facet name="header">Apellido</f:facet>
							<p:outputLabel value="#{lp.apellido}" />
						</p:column>
						<p:column>
							<f:facet name="header">Fecha de Nacimiento</f:facet>
							<p:outputLabel style="width: 300px" value="#{lp.fechaNacimiento}">
								<f:convertDateTime pattern="dd-MM-yyyy" />
							</p:outputLabel>
						</p:column>
						<p:column>
							<f:facet name="header">Edad</f:facet>
							<p:outputLabel value="#{lp.edad}" />
						</p:column>
						<p:column>
							<f:facet name="header">Sexo</f:facet>
							<p:outputLabel value="#{lp.sexo}" />
						</p:column>
						<p:column>
							<f:facet name="header">Dirección</f:facet>
							<p:outputLabel value="#{lp.direccion}" />
						</p:column>
						<p:column>
							<f:facet name="header">Municipio</f:facet>
							<p:outputLabel value="#{lp.municipios.nombre}" />
						</p:column>
						<p:column>
							<f:facet name="header">Estado Civil</f:facet>
							<p:outputLabel value="#{lp.estadoCivil.estadoCivil}" />
						</p:column>
						<p:column>
							<f:facet name="header">Profesión</f:facet>
							<p:outputLabel value="#{lp.profesion}" />
						</p:column>
						<p:column>
							<f:facet name="header">Estado</f:facet>
							<p:outputLabel value="Activo" rendered="#{lp.estado==true}"
								style="color: blue" />
							<p:outputLabel value="Inactivo" rendered="#{lp.estado!=true}"
								style="color:red" />
						</p:column>
						<p:column>
							<f:facet name="header">Tipo de Usuario</f:facet>
							<p:outputLabel value="#{lp.tipoUsuarios.tipo}" />
						</p:column>
					</p:dataTable>
				</p:panelGrid>
			</p:dialog>
		</h:form>

		<h:form id="editar">
			<p:dialog widgetVar="java" modal="true" header="Editar"
				showEffect="explode" resizable="false">
				<p:panelGrid columns="2">
					<p:outputLabel value="Nombre">
						<br></br>
						<p:inputText value="#{seguroVida.persona.nombre}" />
					</p:outputLabel>
					<p:outputLabel value="Apellido">
						<br></br>
						<p:inputText value="#{seguroVida.persona.apellido}" />
					</p:outputLabel>
					<p:outputLabel value="Fecha de Nacimiento">
						<br></br>
						<p:calendar value="#{seguroVida.persona.fechaNacimiento}"
							pattern="yyyy-MM-dd" />
					</p:outputLabel>
					<p:outputLabel value="Edad">
						<br></br>
						<p:spinner value="#{seguroVida.persona.edad}" />
					</p:outputLabel>
					<p:outputLabel value="Dui">
						<br></br>
						<p:inputMask mask="99999999-9" value="#{seguroVida.persona.dui}" />
					</p:outputLabel>
					<p:outputLabel value="Sexo:">
						<br></br>
						<h:selectOneMenu value="#{seguroVida.persona.sexo}"
							class="form-control" style="border: ridge; width: 130px">
							<f:selectItem itemLabel="Masculino" itemValue="Masculino" />
							<f:selectItem itemLabel="Femenino" itemValue="Femenino" />
						</h:selectOneMenu>
					</p:outputLabel>
					<p:outputLabel value="Dirección">
						<br></br>
						<p:inputText value="#{seguroVida.persona.direccion}" />
					</p:outputLabel>
					<p:outputLabel value="Departamentos">
						<br></br>
						<h:selectOneMenu value="#{seguroVida.d.id}" class="form-control"
							style="border: ridge">
							<f:selectItems value="#{seguroVida.listadepa}" var="mu"
								itemLabel="#{mu.nombre}" itemValue="#{mu.id}" />
							<p:ajax listener="#{seguroVida.editMuni()}" />
						</h:selectOneMenu>
					</p:outputLabel>
					<p:outputLabel value="Municipios">
						<br></br>
						<h:selectOneMenu id="mo" value="#{seguroVida.municipio.id}"
							class="form-control" style="border: ridge">
							<f:selectItems value="#{seguroVida.listamunicipios}" var="mu"
								itemLabel="#{mu.nombre}" itemValue="#{mu.id}" />
						</h:selectOneMenu>
					</p:outputLabel>
					<p:outputLabel value="Telefono">
						<br></br>
						<p:inputText value="#{seguroVida.persona.telefono}" />
					</p:outputLabel>
					<p:outputLabel value="Correo">
						<br></br>
						<p:inputText value="#{seguroVida.persona.correo}" />
					</p:outputLabel>
					<p:outputLabel value="Estado Civil">
						<br></br>
						<h:selectOneMenu value="#{seguroVida.estadoCivil.id}"
							class="form-control" style="border: ridge">
							<f:selectItems value="#{seguroVida.listaestadocivil}" var="e"
								itemLabel="#{e.estadoCivil}" itemValue="#{e.id}" />
						</h:selectOneMenu>
					</p:outputLabel>
					<p:outputLabel value="Profesión">
						<br></br>
						<p:inputText value="#{seguroVida.persona.profesion}" />
					</p:outputLabel>
					<p:outputLabel value="Tipo de Usuario">
						<br></br>
						<h:selectOneMenu value="#{seguroVida.tusuarios.id}"
							class="form-control" style="border: ridge">
							<f:selectItem itemLabel="Empleado" itemValue="1" />
							<f:selectItem itemLabel="Cajero" itemValue="3" />
							<f:selectItem itemLabel="Supervisor" itemValue="4" />
							<f:selectItem itemLabel="Gerente" itemValue="5" />
						</h:selectOneMenu>
					</p:outputLabel>
					<p:commandButton value="Editar"
						styleClass="boton ui-priority-primary"
						actionListener="#{seguroVida.editVidapersona()}"
						oncomplete="PF('java').hide();" update=":tabla :msj" />
				</p:panelGrid>
			</p:dialog>
		</h:form>
	</h:panelGroup>
</h:body>
</html>

