<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>Registro de Vehiculos</title>
	<f:event type="preRenderView" listener="#{usuariosC.verificarSesion()}" />
	<meta charset="UTF-8" />
	<meta Http-Equiv="Cache-Control" Content="no-cache"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"></link>
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous"></link>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
	<link rel="icon" href="resources/favicon.ico" type="image/x-icon" />
	<style>
.ui-datatable tbody.ui-datatable-data {
	outline: 0;
	border-collapse: collapse;
} /*Letra Tabla*/
.ui-widget-content {
	background: #fff;
	color: #4f4f4f;
	border: white;
}

/* lo acabo de poner */
.ui-datatable-tablewrapper {
	overflow: hidden;
}
/* hasta aqui */
.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	border-color: #7096ab;
	background: #E0D9D9;
	color: #313131;
	text-shadow: none;
}

.boton {
	border-radius: 5px;
	background: #ffffff !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	border: 0px solid #7096ab;
	background: #E0D9D9;
	color: #313131;
	box-shadow: 4px 4px 4px 4px #85b2cb;
}

tr {
	display: table-row;
	vertical-align: inherit;
	background: #E25050;
	border: #4f4f4f;
}

/* titulo filas */
body .ui-datatable thead th {
	background: #1c1b1b !important;
	color: white;
	border: #1c1b1b;
}

body .ui-datatable thead th .ui-column-title {
	font-weight: 300 !important;
	color: white !important;
	text-shadow: none;
	border: #4f4f4f;;
}

/* lo acabo de poner */
.table:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

.table:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}

nav {
	padding: 24px;
	text-align: center;
	font-family: Raleway;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-1 {
	background: #ffffff;
}

.link-1 {
	transition: 0.3s ease;
	background: #ffffff;
	color: #000000;
	font-size: 20px;
	text-decoration: none;
	border-top: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
	padding: 20px 0;
	margin: 0 20px;
	text-decoration: none;
}

.link-1:hover {
	border-top: 4px solid #336b87;
	border-bottom: 4px solid #336b87;
	padding: 6px 0;
	text-decoration: none;
}

body div nav .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left
	{
	background: black;
	color: white;
	border: background;
	border-radius: 10px;
}

body div nav .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.ui-state-hover
	{
	background: white;
	color: black;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

a:hover {
	text-decoration: none;
	color: black;
}

.navbar {
	overflow: hidden;
	background-color: #333;
}

#nav-1 .subnav  a {
	float: left;
	font-size: 20px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#nav-1 .subnav {
	float: left;
	overflow: hidden;
}

.subnav .subnavbtn {
	font-size: 16px;
	color: white;
	background-color: black;
	margin: 0;
}

.subnav:hover .subnavbtn {
	background-color: white;
	color: black;
}

.subnav-content {
	position: absolute;
	left: 0;
	background-color: black;
	width: 100%;
	display: none;
	z-index: 3;
	border-radius: 10px;
}

.subnav-content a {
	float: left;
	color: white;
	text-decoration: none;
}

.subnav-content a:hover {
	background-color: white;
	color: black;
}

.subnav:hover .subnav-content {
	display: block;
	margin: 1px 0px;
}

.subnav .ui-button:hover {
	box-shadow: none;
	border-color: gray;
	border: solid 0.5px gray;
}

.ui-dialog-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-top.ui-draggable-handle
	{
	background: black;
	color: white;
}
</style>
</h:head>
<h:body>

	<h:panelGroup
		rendered="#{us.personas.tipoUsuarios.id eq '2' or us.personas.tipoUsuarios.id eq '3'}">
		<meta http-equiv="Refresh" content="0;url=Error404.xhtml" />
	</h:panelGroup>

	<!-- Validacion de la vista -->
	<h:panelGroup
		rendered="#{us.personas.tipoUsuarios.id != '2' and us.personas.tipoUsuarios.id != '3'}">

		<!-- Validación del Menu -->
		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '1'}">
			<div id="main">
				<h:form>
					<nav id="nav-1"> <a class="link-1"
						href="registroPersona.xhtml">Registro de Personas</a> <a
						class="link-1" href="incubierta.xhtml">Incidencias Cubiertas</a> <a
						class="link-1" href="menu.xhtml">Inicio</a> <a class="link-1"
						href="asignacionSeguroVida.xhtml">Asignacion Seguro de Vida</a> <a
						class="link-1" href="asignacionSeguroAuto.xhtml">Asignacion
						Seguro de Vehiculos</a> <a class="link-1" href="taller.xhtml">Talleres</a>
					&nbsp;&nbsp;&nbsp; <p:commandButton value="Logout"
						action="#{usuariosC.close()}" icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>
		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '4'}">
			<div id="main">
				<h:form>
					<nav id="nav-1"> <a class="link-1"
						href="registroPersona.xhtml">Registro de Personas</a> <a
						class="link-1" href="registroVehiculo.xhtml">Registro de
						Vehiculos</a> <a class="link-1" href="menu.xhtml">Inicio</a> <a
						class="link-1" href="asignacionSeguroVida.xhtml">Asignacion
						Seguro de Vida</a> <a class="link-1" href="asignacionSeguroAuto.xhtml">Asignacion
						Seguro de Vehiculos</a>
					<div class="subnav">
						<p:commandButton value="Configuración" icon="fa fa-cogs"
							styleClass="subnavbtn" />
						<div class="subnav-content">
							<a class="a" href="beneficiarios.xhtml">Beneficiarios</a><a
								class="a" href="tipoAutos.xhtml">Tipos de Autos</a><a class="a"
								href="CrearUsuario.xhtml">Usuarios</a><a href="incidencia.xhtml">Incidencias</a>
							<a href="incubierta.xhtml">Incidencias cubiertas</a><a
								href="taller.xhtml">Registro de Talleres</a><a
								href="menuE.xhtml">Ver Estadísticas</a>
						</div>
					</div>
					<p:commandButton value="Logout" action="#{usuariosC.close()}"
						icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>
		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '5'}">
			<div id="main">
				<h:form>
					<nav id="nav-1">
					<div class="subnav">
						<p:commandButton value="Configuración" icon="fa fa-cogs"
							styleClass="subnavbtn" />
						<div class="subnav-content">
							<a class="a" href="modelos.xhtml">Modelos Vehiculos</a><a
								href="pagos.xhtml">Pagos</a><a class="a"
								href="beneficiarios.xhtml">Beneficiarios</a> <a class="a"
								href="tipoAutos.xhtml">Tipos de Autos</a> <a class="a"
								href="tipoSeguro.xhtml">Tipo de Seguros</a> <a class="a"
								href="Personas.xhtml">Registro de empleados</a> <a class="a"
								href="CrearUsuario.xhtml">Usuarios</a><a href="incidencia.xhtml">Incidencias</a>
							<a href="incubierta.xhtml">Incidencias cubiertas</a><a
								href="taller.xhtml">Registro de Talleres</a><a
								href="menuE.xhtml">Ver Estadísticas</a>
						</div>
					</div>

					<a class="link-1" href="registroPersona.xhtml">Registro de
						Personas</a> <a class="link-1" href="registroVehiculo.xhtml">Registro
						de Vehiculos</a> <a class="link-1" href="menu.xhtml">Inicio</a> <a
						class="link-1" href="asignacionSeguroVida.xhtml">Asignacion
						Seguro de Vida</a> <a class="link-1" href="asignacionSeguroAuto.xhtml">Asignacion
						Seguro de Vehiculos</a> &nbsp;&nbsp;&nbsp; <p:commandButton
						value="Logout" action="#{usuariosC.close()}"
						style="position:relative" icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>

		<p:growl id="msj" />
		<div class="jumbotron jumbotron-fluid"
			style="background-color: #336b87">
			<div class="container">
				<h1 class="display-4"
					style="font-family: Georgia; text-align: center; color: white">Registro
					de Vehiculos</h1>

			</div>
		</div>
		<h:form id="datos">
			<div class="container mt-3">
				<div class="row">
					<div class="form-group col-lg-4">
						<p:outputLabel value="Placa:" />
						<p:inputText value="#{seguroAutos.vehiculos.placa}"
							class="form-control" placeholder="Placa" />
					</div>
					<div class="form-group col-lg-4">
						<p:outputLabel value="Year:" />
						<p:inputText value="#{seguroAutos.vehiculos.anio}"
							class="form-control" placeholder="Year" />
					</div>
					<div class="form-group col-lg-4">
						<p:outputLabel value="Color:" style="margin-left: 5%" />
						<p:inputText value="#{seguroAutos.vehiculos.color}"
							class="form-control" placeholder="Color" />
					</div>
				</div>
				<div class="row">
					<div class="form-group col-lg-4">
						<p:outputLabel value="Chasis:" />
						<p:inputText value="#{seguroAutos.vehiculos.chasis}"
							class="form-control" placeholder="Chasis" />
					</div>
					<div class="form-group col-lg-4" style="margin-left: 5%">
						<p:outputLabel value="Tipo de Auto:">
							<h:selectOneMenu class="custom-select"
								value="#{seguroAutos.tipoAutos.id}">
								<f:selectItem itemValue="0" noSelectionOption="true"
									itemLabel=" " />
								<f:selectItems value="#{seguroAutos.listaTA}" var="ti"
									itemLabel="#{ti.nombre}" itemValue="#{ti.id}" />
							</h:selectOneMenu>

						</p:outputLabel>
					</div>
					<div class="row">
						<div class="form-group col-lg-10" style="margin-left: 35%">
							<p:outputLabel value="Seleccione Marca:">
								<h:selectOneMenu value="#{seguroAutos.marcas.id}"
									class="form-control">
									<f:selectItem itemValue="0" noSelectionOption="true"
										itemLabel=" " />
									<f:selectItems value="#{seguroAutos.listaMarcas}" var="ma"
										itemLabel="#{ma.marca}" itemValue="#{ma.id}" />
									<p:ajax listener="#{seguroAutos.atcModel()}" />
								</h:selectOneMenu>
							</p:outputLabel>
						</div>
					</div>
					<div class="form-inline">
						<div class="form-group col-lg-4">
							<p:outputLabel value="Modelo:" />
							<h:selectOneMenu id="mo" value="#{seguroAutos.modelos.id}"
								class="form-control">
								<f:selectItems value="#{seguroAutos.listModexM}" var="mo"
									itemLabel="#{mo.modelo}" itemValue="#{mo.id}" />
							</h:selectOneMenu>
						</div>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<div class="container col-lg-4">
							<br />
							<p:linkButton icon="fa fa-fw fa-plus-circle" outcome="modelos"
								styleClass="boton ui-priority-primary" />
						</div>
					</div>
					<div class="form-group col-lg-4">
						<p:commandButton class="btn btn-outline-primary" value="Guardar"
							style="margin-left: 50%"
							actionListener="#{seguroAutos.crearVehiculo()}"
							update=":tabla :msj :datos" />
					</div>
				</div>
			</div>


		</h:form>
		<div class="container mt-3"></div>
		<h:form id="tabla">
			<center>
				<h:panelGroup
					rendered="#{us.personas.tipoUsuarios.id eq '4' or us.personas.tipoUsuarios.id eq '5'}">
					<p:dataTable
						style="width: 85% !important; padding: 0; margin: 0 auto !important; border:2px double black !important"
						class="table text-white" value="#{seguroAutos.listaVehiculos}"
						var="ve">
						<p:column style="text-align:center">
							<f:facet name="header">Placa</f:facet>
							<p:outputLabel value="#{ve.placa}" />
						</p:column>
						<p:column style="text-align:center">
							<f:facet name="header">Year</f:facet>
							<p:outputLabel value="#{ve.anio}" />
						</p:column>
						<p:column style="text-align:center">
							<f:facet name="header">Color</f:facet>
							<p:outputLabel value="#{ve.color}" />
						</p:column>
						<p:column style="text-align:center">
							<f:facet name="header">Marca</f:facet>
							<p:outputLabel value="#{ve.modelos.marcas.marca}" />
						</p:column>
						<p:column style="text-align:center">
							<f:facet name="header">Chasis</f:facet>
							<p:outputLabel value="#{ve.chasis}" />
						</p:column>
						<p:column style="text-align:center">
							<f:facet name="header">Tipo de Auto</f:facet>
							<p:outputLabel value="#{ve.tipoAutos.nombre}" />
						</p:column>

						<p:column style="text-align:center">
							<f:facet name="header">Acciones</f:facet>
							<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '5'}">
								<p:commandButton value="Eliminar"
									actionListener="#{seguroAutos.eliminarVehiculo(ve)}"
									styleClass="boton ui-priority-primary" update=":tabla :msj" />
							</h:panelGroup>
							<p:commandButton value="Editar" oncomplete="PF('java').show();"
								action="#{seguroAutos.cargarVehiculo(ve)}"
								styleClass="boton ui-priority-primary"
								style="background: rgba(13,58,236,0.70)" update=":editar" />
						</p:column>
					</p:dataTable>
				</h:panelGroup>
				<h:panelGroup
					rendered="#{us.personas.tipoUsuarios.id != '4' and us.personas.tipoUsuarios.id != '5'}">
					<p:dataTable
						style="width: 85% !important; padding: 0; margin: 0 auto !important; border:2px double black !important"
						class="table text-white" value="#{seguroAutos.listaVehiculos}"
						var="ve">
						<p:column style="text-align:center">
							<f:facet name="header">Placa</f:facet>
							<p:outputLabel value="#{ve.placa}" />
						</p:column>
						<p:column style="text-align:center">
							<f:facet name="header">Year</f:facet>
							<p:outputLabel value="#{ve.anio}" />
						</p:column>
						<p:column style="text-align:center">
							<f:facet name="header">Color</f:facet>
							<p:outputLabel value="#{ve.color}" />
						</p:column>
						<p:column style="text-align:center">
							<f:facet name="header">Marca</f:facet>
							<p:outputLabel value="#{ve.modelos.marcas.marca}" />
						</p:column>
						<p:column style="text-align:center">
							<f:facet name="header">Chasis</f:facet>
							<p:outputLabel value="#{ve.chasis}" />
						</p:column>
						<p:column style="text-align:center">
							<f:facet name="header">Tipo de Auto</f:facet>
							<p:outputLabel value="#{ve.tipoAutos.nombre}" />
						</p:column>
					</p:dataTable>
				</h:panelGroup>
			</center>
		</h:form>
		<h:form id="editar">
			<p:dialog widgetVar="java" modal="true" header="Editar"
				showEffect="explode" resizable="false">
				<p:ajax event="close" listener="#{seguroAutos.init()}"
					update=":editar" />
				<p:panelGrid columns="1">
					<p:outputLabel value="Placa">
						<br></br>
						<p:inputText value="#{seguroAutos.vehiculos.placa}" />
					</p:outputLabel>
					<p:outputLabel value="Year">
						<br></br>
						<p:inputText value="#{seguroAutos.vehiculos.anio}" />
					</p:outputLabel>
					<p:outputLabel value="Color">
						<br></br>
						<p:inputText value="#{seguroAutos.vehiculos.color}" />
					</p:outputLabel>
					<p:outputLabel value="Chasis">
						<br></br>
						<p:inputText value="#{seguroAutos.vehiculos.chasis}" />
					</p:outputLabel>
					<p:outputLabel value="Modelo">
						<br></br>
						<h:selectOneMenu value="#{seguroAutos.modelos.id}" title="modelos"
							class="form-control">
							<f:selectItems value="#{seguroAutos.listaModelos}" var="m"
								itemLabel="#{m.modelo}" itemValue="#{m.id}" />
						</h:selectOneMenu>
					</p:outputLabel>
					<p:outputLabel value="Tipo de Auto">
						<br></br>
						<h:selectOneMenu value="#{seguroAutos.tipoAutos.id}" title="tipo"
							class="form-control">
							<f:selectItems value="#{seguroAutos.listaTA}" var="t"
								itemLabel="#{t.nombre}" itemValue="#{t.id}" />
						</h:selectOneMenu>
					</p:outputLabel>
					<p:commandButton value="Editar"
						class="btn text-black btn btn-outline-primary"
						actionListener="#{seguroAutos.editarVehiculos()}"
						oncomplete="PF('java').hide();" update=":tabla :msj" />
				</p:panelGrid>
			</p:dialog>
		</h:form>
	</h:panelGroup>
</h:body>
</html>


