<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>Vehiculo</title>
	<f:event type="preRenderView" listener="#{usuariosC.verificarSesion()}" />
	<meta charset="UTF-8" />
	<meta Http-Equiv="Cache-Control" Content="no-cache"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"></link>
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous"></link>
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
	<link rel="icon" href="resources/favicon.ico" type="image/x-icon" />
	<style>
body .ui-datatable thead th {
	background: #4f4f4f !important;
	color: white;
	border: #4f4f4f;;
}

body .ui-datatable thead th .ui-column-title {
	font-weight: 200 !important;
	color: white !important;
	font-family: Segoe UI;
}

.ui-widget-content {
	background: #ffffff;
	color: rgba(0, 0, 0, 0.75);
	border: #ffffff;
}

.boton {
	border-radius: 5px;
	background: #F6F8FB !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	box-shadow: 1px 1px 1px 1px rgba(34, 81, 235, 0.75);
}

nav {
	padding: 24px;
	text-align: center;
	font-family: Raleway;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-1 {
	background: #ffffff;
}

.link-1 {
	transition: 0.3s ease;
	background: #ffffff;
	color: #000000;
	font-size: 20px;
	text-decoration: none;
	border-top: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
	padding: 20px 0;
	margin: 0 20px;
}

.link-1:hover {
	border-top: 4px solid #336b87;
	border-bottom: 4px solid #336b87;
	padding: 6px 0;
}

.ui-button {
	background: black;
	color: white;
	border: background;
	border-radius: 10px;
}

.ui-button:hover {
	background: white;
	color: black;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.navbar {
	overflow: hidden;
	background-color: #333;
}

#nav-1 .subnav  a {
	float: left;
	font-size: 20px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#nav-1 .subnav {
	float: left;
	overflow: hidden;
}

.subnav .subnavbtn {
	font-size: 16px;
	color: white;
	background-color: black;
	margin: 0;
}

.subnav:hover .subnavbtn {
	background-color: white;
	color: black;
}

.subnav-content {
	position: absolute;
	left: 0;
	background-color: black;
	width: 100%;
	display: none;
	z-index: 3;
	border-radius: 10px;
}

.subnav-content a {
	float: left;
	color: white;
	text-decoration: none;
}

.subnav-content a:hover {
	background-color: white;
	color: black;
}

.subnav:hover .subnav-content {
	display: block;
	margin: 1px 0px;
}

.subnav .ui-button:hover {
	box-shadow: none;
	border-color: gray;
	border: solid 0.5px gray;
}

.ui-dialog-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-top.ui-draggable-handle
	{
	background: black;
	color: white;
}
</style>
</h:head>
<h:body>
	<h:panelGroup
		rendered="#{us.personas.tipoUsuarios.id != '5' and us.personas.tipoUsuarios.id != '4'}">
		<meta http-equiv="Refresh" content="0;url=Error404.xhtml" />
	</h:panelGroup>
	<h:panelGroup
		rendered="#{us.personas.tipoUsuarios.id eq '5' or us.personas.tipoUsuarios.id eq '4'}">
		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '4'}">
			<div id="main">
				<h:form>
					<nav id="nav-1"> <a class="link-1"
						href="registroPersona.xhtml">Registro de Personas</a> <a
						class="link-1" href="registroVehiculo.xhtml">Registro de
						Vehiculos</a> <a class="link-1" href="menu.xhtml">Inicio</a> <a
						class="link-1" href="asignacionSeguroVida.xhtml">Asignacion
						Seguro de Vida</a> <a class="link-1" href="asignacionSeguroAuto.xhtml">Asignacion
						Seguro de Vehiculos</a>
					<div class="subnav">
						<p:commandButton value="Configuración" icon="fa fa-cogs"
							styleClass="subnavbtn" />
						<div class="subnav-content">
							<a class="a" href="beneficiarios.xhtml">Beneficiarios</a><a
								class="a" href="tipoAutos.xhtml">Tipos de Autos</a><a class="a"
								href="CrearUsuario.xhtml">Usuarios</a><a href="incidencia.xhtml">Incidencias</a>
							<a href="incubierta.xhtml">Incidencias cubiertas</a><a
								href="taller.xhtml">Registro de Talleres</a><a
								href="menuE.xhtml">Ver Estadísticas</a>
						</div>
					</div>
					<p:commandButton value="Logout" action="#{usuariosC.close()}"
						icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>
		<h:panelGroup rendered="#{us.personas.tipoUsuarios.id eq '5'}">
			<div id="main">
				<h:form>
					<nav id="nav-1">
					<div class="subnav">
						<p:commandButton value="Configuración" icon="fa fa-cogs"
							styleClass="subnavbtn" />
						<div class="subnav-content">
							<a class="a" href="modelos.xhtml">Modelos Vehiculos</a><a
								href="pagos.xhtml">Pagos</a><a class="a"
								href="beneficiarios.xhtml">Beneficiarios</a> <a class="a"
								href="tipoAutos.xhtml">Tipos de Autos</a> <a class="a"
								href="tipoSeguro.xhtml">Tipo de Seguros</a> <a class="a"
								href="Personas.xhtml">Registro de empleados</a> <a class="a"
								href="CrearUsuario.xhtml">Usuarios</a><a href="incidencia.xhtml">Incidencias</a>
							<a href="incubierta.xhtml">Incidencias cubiertas</a><a
								href="taller.xhtml">Registro de Talleres</a><a
								href="menuE.xhtml">Ver Estadísticas</a>
						</div>
					</div>

					<a class="link-1" href="registroPersona.xhtml">Registro de
						Personas</a> <a class="link-1" href="registroVehiculo.xhtml">Registro
						de Vehiculos</a> <a class="link-1" href="menu.xhtml">Inicio</a> <a
						class="link-1" href="asignacionSeguroVida.xhtml">Asignacion
						Seguro de Vida</a> <a class="link-1" href="asignacionSeguroAuto.xhtml">Asignacion
						Seguro de Vehiculos</a> &nbsp;&nbsp;&nbsp; <p:commandButton
						value="Logout" action="#{usuariosC.close()}"
						style="position:relative" icon="fas fa-sign-out-alt" /> </nav>
				</h:form>
			</div>
		</h:panelGroup>

		<p:messages id="msj" />

		<div class="jumbotron jumbotron-fluid"
			style="background-color: #336b87">
			<div class="container">
				<h1 class="display-4"
					style="font-family: Georgia; text-align: center; color: white">Registro
					de vehiculos</h1>
			</div>
		</div>&nbsp;
                <p:commandButton value="Nuevo"
			styleClass="boton ui-priority-primary"
			oncomplete="PF('java').show();" />


		<p:dialog widgetVar="java" modal="true" header="Vehiculos"
			showEffect="explode">
			<h:form id="datos">
				<p:panelGrid columns="1">
					<p:outputLabel value="Placa">
						<p:inputText value="#{seguroAutos.vehiculos.placa}" />
					</p:outputLabel>
					<p:outputLabel value="Color">
						<p:inputText value="#{seguroAutos.vehiculos.color}" />
					</p:outputLabel>
					<p:outputLabel value="Año">
						<p:inputText value="#{seguroAutos.vehiculos.anio}" />
					</p:outputLabel>
					<p:outputLabel value="Modelo" />
					<p:selectOneMenu value="#{seguroAutos.modelos.id}">
						<f:selectItems value="#{seguroAutos.listaModelos}" var="mo"
							itemLabel="#{mo.modelo}" itemValue="#{mo.id}" />
					</p:selectOneMenu>
					<p:outputLabel value="Tipo de Auto" />
					<p:selectOneMenu value="#{seguroAutos.tipoAutos.id}">
						<f:selectItems value="#{seguroAutos.listaTA}" var="ti"
							itemLabel="#{ti.nombre}" itemValue="#{ti.id}" />
					</p:selectOneMenu>
					<p:outputLabel value="Chasis">
						<p:inputText value="#{seguroAutos.vehiculos.chasis}" />
					</p:outputLabel>
					<p:commandButton value="Guardar"
						actionListener="#{seguroAutos.crearVehiculo()}"
						rendered="#{seguroAutos.vehiculos.id == null}"
						update="datos :tabla :msj" oncomplete="PF('java').hide();" />
					<p:commandButton value="Editar"
						actionListener="#{seguroAutos.editarVehiculos()}"
						rendered="#{seguroAutos.vehiculos.id  != null}"
						update="datos :tabla :msj" oncomplete="PF('java').hide();" />

				</p:panelGrid>

			</h:form>

		</p:dialog>

		<div class="container mt-3"></div>

		<h:form id="tabla">

			<p:dataTable value="#{seguroAutos.listaVehiculos}" var="ve"
				style="width: 55% !important; padding: 0; margin: 0 auto !important; border: double; overflow-y: scroll !important; height: 500px !important">
				<p:column headerText="Id">
					<h:outputLabel value="#{ve.id}" />
				</p:column>
				<p:column headerText="Placa">
					<h:outputLabel value="#{ve.placa}" />
				</p:column>
				<p:column headerText="Color">
					<h:outputLabel value="#{ve.color}" />
				</p:column>
				<p:column headerText="Año">
					<h:outputLabel value="#{ve.anio}" />
				</p:column>
				<p:column headerText="Modelo y Marca">
					<h:outputLabel
						value="#{ve.modelos.modelo} #{ve.modelos.marcas.marca}" />
				</p:column>
				<p:column headerText="Tipo de Auto">
					<h:outputLabel value="#{ve.tipoAutos.nombre}" />
				</p:column>
				<p:column headerText="Chasis">
					<h:outputLabel value="#{ve.chasis}" />
				</p:column>
				<p:column headerText="Acciones">
					<p:commandButton value="Editar"
						actionListener="#{seguroAutos.cargarVehiculo(ve)}" update="datos"
						oncomplete="PF('java').show();" />
					<p:commandButton value="Eliminar"
						actionListener="#{seguroAutos.eliminarVehiculo(ve)}"
						update=":tabla :msj" />
				</p:column>
			</p:dataTable>

		</h:form>
	</h:panelGroup>
</h:body>
</html>

