<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Acerca de</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"></link>
        <h:outputStylesheet name="/css/cssgenerico.css" />
        <h:outputStylesheet name="/css/btnStyle2.css" />
        <h:outputStylesheet name="/css/bootstrap.min.css"/>
        <h:outputStylesheet name="/css/body.css"/>
        <h:outputScript name="/js/menu.js" ></h:outputScript>
        <h:outputStylesheet name="/css/btnMedia.css" ></h:outputStylesheet>
    </h:head>
    <h:body style="background-image:url(#{request.contextPath}/resources/images/pantalla3.jpg);" >
        <h:form>
            <p:growl id="msg" ></p:growl>

            <p:menubar  >
                <p:menuitem class="disabled"     >
                    <div id="content">
                        <img src="#{request.contextPath}/resources/images/puntualidad.png" class="disabled" width="60" height="60"   />
                    </div>
                </p:menuitem>
                <p:menuitem  outcome="Contáctanos.xhtml"  style="margin-left: 100px !important;"  value="Contáctanos"   />
                <p:menuitem   value="Acerca de"  outcome="Acerca_de.xhtml" />
                <p:menuitem  class="disabled" >
                    <h:outputLabel  value="#{beanLogin.obPersonas.nombre} #{beanLogin.obPersonas.apellido}"   ></h:outputLabel>
                </p:menuitem>
                <p:menuitem >
                    <p:commandLink id="togglebar" oncomplete="PF('side').show();" style=" margin-left: 600px;" >  <i style="color:  white ;" class=" fas fa-bars fa-2x"></i></p:commandLink>
                </p:menuitem>
            </p:menubar>

            <p:sidebar  style="background-image:url(#{request.contextPath}/resources/images/pantalla3.jpg);" widgetVar="side" position="right">
                <p:commandLink oncomplete="PF('side').hide();" style=" color: white !important; margin-left: -220px; font-size: 20px !important;"  > <i class="fas fa-times fa-2x"></i></p:commandLink>
                <p:panelMenu style="width:250px; margin-top: 180px; "   >
                    <p:submenu label=" Mi Cuenta" style=" color:white! important; text-shadow:none! important;  ">
                        <p:menuitem value="Cambiar de Foto" style=" color:white ! important;" />
                        <p:menuitem value="Cambiar Contraseña" style=" color:white ! important;"  />
                        <p:menuitem value="Correos"  outcome="Notificaciones.xhtml" style=" color:white ! important;" />
                    </p:submenu>
                    <p:separator/>
                </p:panelMenu>
                <br/><br/><br/><br/><br/><br/><br/><br/><br/>
                <p:commandButton value="Cerrar Sesión" action="#{beanLogin.logOut()}" class="btn1" style=" width:180px !important; height:60px!important;  " ></p:commandButton>
                <p:graphicImage name="/images/user.png" width="120" height="120" style=" position: absolute; top:45px; right: 100px;  " ></p:graphicImage>
            </p:sidebar>
            <br/>            

            <p:graphicImage name="/images/gemas.png" width="1000" ></p:graphicImage>

            <div style="position: absolute; top: 29%; left: 17.5%; width: 130px; height: 130px; box-shadow: -4px -15px 40px #cc00ff,4px 15px 40px #cc00ff; border-radius: 50%">
                <p:graphicImage name="/images/anonimus.png" width="130" style=" border-radius: 50%" ></p:graphicImage> 
            </div>   

            <div style="position: absolute; top: 29%; left: 28.5%; width: 120px; height: 120px; box-shadow: -4px -15px 40px #ff8300,4px 15px 40px #ff8300; border-radius: 50%">
                <p:graphicImage name="/images/foto3.jpg" width="120" style=" border-radius: 50%" ></p:graphicImage> 
            </div>
            <div style="position: absolute; top: 29%; left: 40.5%; width: 130px; height: 130px; box-shadow: -4px -15px 40px #f7ff00,4px 15px 40px #f7ff00; border-radius: 50%">
                <p:graphicImage name="/images/foto1.jpeg" width="130" style=" border-radius: 50%" ></p:graphicImage> 
            </div>

            <div style="position: absolute; top: 29%; left: 51.5%; width: 130px; height: 130px; box-shadow: -4px -15px 40px #00ff73,4px 15px 40px #00ff73; border-radius: 50%">
                <p:graphicImage name="/images/foto4.jpg" width="130" style=" border-radius: 50%" ></p:graphicImage> 
            </div>

            <div style="position: absolute; top: 29%; left: 62.5%; width: 130px; height: 130px; box-shadow: -4px -15px 40px #1700ff,4px 15px 40px #03a9f4; border-radius: 50%">
                <p:graphicImage name="/images/foto2.jpg" width="130" style=" border-radius: 50%" ></p:graphicImage> 
            </div>

            <div style="position: absolute; top: 29%; left: 75%; width: 130px; height: 130px; box-shadow: -4px -15px 40px #ff0000,4px 15px 40px #ff0000; border-radius: 50%">
                <p:graphicImage name="/images/anonimus.png" width="130" style=" border-radius: 50%" ></p:graphicImage> 
            </div>
            <p:outputLabel value="Esta Aplicacion fue desarrollada por:" style="position:absolute; top: 15%; left: 25%; color:white; font-size: 40px;  " ></p:outputLabel>

            <br/><br/><br/>
            <div class="footer">  <!--comienzael footer-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="box-footer" >  <!--comienza la historia de la cruz roja en le footer-->

                            <h1>Control de Asistencia</h1>
                            <p:separator/>
                            <div class="history">    
                                <p>Este es un Sistema diseñado con la idea de llevar un control presiso de la Asistencia, al mismo tiempo proporcionar al padre de familia 
                                    una herramienta para monitorear la asistencia de sus hijos, asegurando una buena educacion.
                                </p>
                            </div>
                        </div>     
                        <div class="box-footer a"> <!--comienza las noticias del footer-->
                            <h1>Redes Sociales</h1> 
                            <p:separator/>
                            <div class="history">  <!--comienzo Redes Sociales del footer-->
                                <div >
                                    <a class="btnM" href="#"  >
                                        <i class="fab fa-facebook-f"  ></i>
                                    </a>
                                    <a class="btnM" href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a class="btnM" href="#">
                                        <i class="fab fa-google"></i>
                                    </a>
                                    <a class="btnM" href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                    <a class="btnM" href="#">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </div>        
                            </div>             <!--FIn Redes Sociales del footer-->    
                            <p:separator/>
                        </div>
                        <div class="box-footer"> <!--comienzel slider del footer-->
                            <h1>Galeria</h1> 
                            <p:separator/>
                            <div id="slider">
                                <figure>
                                    <p:link title="Ir a la noticia" href="https://www.elsalvador.com/fotogalerias/noticias-fotogalerias/575437/imagenes-historicas-de-la-cruz-roja-salvadorena-en-su-134-aniversario/">
                                        <img src="#{request.contextPath}/resources/slider/imgmini1.png" />    
                                        <img src="#{request.contextPath}/resources/slider/imgmini2.jpg" />
                                        <img src="#{request.contextPath}/resources/slider/imgmini3.JPG" />
                                        <img src="#{request.contextPath}/resources/slider/imgmini4.jfif" />
                                        <img src="#{request.contextPath}/resources/slider/imgmini5.png" />

                                    </p:link>
                                </figure>
                            </div>
                        </div>
                        <div class="copy-right"> <!--comienza el copyright-->
                            <p:separator/>
                            <h3 >Sistema de Control de Asistencia Copyright © 2019. Todos los derechos reservados</h3>
                            <p:separator/><br/>
                        </div>
                    </div> 
                </div>   
            </div> <!--termina el footer-->
        </h:form>
    </h:body>
</html>

