<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Control De Asistencia</title>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"></link>
        <link href="https://cdn.jsdelivr.net/css-toggle-switch/latest/toggle-switch.css" rel="stylesheet" ></link>
        <h:outputStylesheet name="/css/btnMedia.css"/>
        <h:outputStylesheet name="/css/cssgenerico.css" />
        <h:outputStylesheet name="/css/btnStyle2.css" />
        <h:outputStylesheet name="/css/bootstrap.min.css"/>
        <h:outputStylesheet name="/css/body.css"/>
        <script type="text/javascript">
            function handleValuteRequest(xhr, status, args) {
                if (args.validationFailed || !args.valuteIn) {
                    PF('modal').jq.effect("shake", {times: 5}, 10);
                } else {
                    PF('modal').hide();
                    $('#valuteLink').fadeOut();
                }
            }
        </script>

        <f:event  listener="#{beanAsistencia.switchValues()}" type="preRenderView"/>

    </h:head>
    <h:body style="background-image:url(#{request.contextPath}/resources/images/pantalla3.jpg);">
        <h:form id="form">
            <p:menubar  >
                <p:menuitem class="disabled"     >
                    <div id="content">
                        <img src="#{request.contextPath}/resources/images/puntualidad.png" class="disabled" width="60" height="60"   />
                    </div>
                </p:menuitem>
                <p:menuitem  outcome="Contáctanos.xhtml"  style="margin-left: 100px !important;"  value="Contáctanos"   />
                <p:menuitem   value="Acerca de"  outcome="Acerca_de.xhtml" />
                <p:menuitem  class="disabled" >
                    <h:outputLabel  value="Bienvenido: #{beanLogin.obPersonas.nombre} #{beanLogin.obPersonas.apellido}"   ></h:outputLabel>
                </p:menuitem>
                <p:menuitem >
                    <p:commandLink id="togglebar" oncomplete="PF('side').show();" style=" margin-left: 400px;margin-top: 50px" >  <i style="color:  white ;" class=" fas fa-bars fa-2x"></i></p:commandLink>
                </p:menuitem>
            </p:menubar>
            <p:sidebar  style="background-image:url(#{request.contextPath}/resources/images/pantalla3.jpg);" widgetVar="side" position="right">
                <p:commandLink oncomplete="PF('side').hide();" style=" color: white !important; margin-left: -220px; font-size: 20px !important;"  > <i class="fas fa-times fa-2x"></i></p:commandLink>
                <p:panelMenu style="width:250px; margin-top: 180px; "   >
                    <p:submenu label=" Mi Cuenta" style=" color:white! important; text-shadow:none! important;  ">
                        <p:menuitem value="Cambiar de Foto" style=" color:white ! important;" />
                        <p:menuitem value="Cambiar Contraseña" style=" color:white ! important;"  />
                        <p:menuitem value="Correos"  outcome="Notificaciones.xhtml" style=" color:white ! important;" />
                    </p:submenu>
                    <p:separator/>
                </p:panelMenu>
                <br/><br/><br/><br/><br/><br/><br/><br/><br/>
                <p:commandButton value="Cerrar Sesión" action="#{beanLogin.logOut()}" class="btn1" style=" width:180px !important; height:40px!important;  " ></p:commandButton>
            </p:sidebar>

            <p:growl id="msg" life="2000" ></p:growl>
            <div class="container">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <center>
                        <p:panel header="Menú Principal Administrativo" class="paneladmin"  >
                            <p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
                                <p:commandButton class="btn1" value="Control Estudiantes" action="Estudiantes?faces-redirect=true"  style=" width: 280px;" ></p:commandButton>
                                <p:commandButton class="btn1" value="Control Encargados" action="Encargados?faces-redirect=true"  style=" width: 280px;" ></p:commandButton>
                                <p:commandButton class="btn1" value="Control Personas" action="Persona?faces-redirect=true"  style=" width: 280px;" ></p:commandButton>
                                <p:commandButton class="btn1" value="Control Docentes" action="personal_Academico?faces-redirect=true"  style=" width: 280px;" ></p:commandButton>
                                <p:commandButton class="btn1" value="Control Grado Seccion" action="GradosSecciones?faces-redirect=true"  style=" width: 280px;" ></p:commandButton>  
                                <p:commandButton class="btn1" value="Control Cuentas" action="creacion_Cuentas?faces-redirect=true" style=" width: 280px;" ></p:commandButton>
                            </p:panelGrid>
                        </p:panel>
                    </center>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <p:spacer/> 
            <br/>   
            <br/>
            <br/>
            <div class="footer">  <!--comienzael footer-->
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box-footer" >  <!--comienza la historia de la cruz roja en le footer-->

                        <h1>Control de Asistencia</h1>
                        <p:separator/>
                        <div class="history">    
                            <p>Este es un Sistema diseñado con la idea de llevar un control presiso de la Asistencia, al mismo tiempo proporcionar al padre de familia 
                                una herramienta para monitorear la asistencia de sus hijos, asegurando una buena educacion.
                            </p>
                        </div>
                    </div>     
                    <div class="box-footer a"> <!--comienza las noticias del footer-->
                        <h1>Redes Sociales</h1> 
                        <p:separator/>
                        <div class="history">  <!--comienzo Redes Sociales del footer-->
                            <div >
                                <a class="btnM" href="#"  >
                                    <i class="fab fa-facebook-f"  ></i>
                                </a>
                                <a class="btnM" href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a class="btnM" href="#">
                                    <i class="fab fa-google"></i>
                                </a>
                                <a class="btnM" href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a class="btnM" href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>        
                        </div>             <!--FIn Redes Sociales del footer-->    
                        <p:separator/>
                    </div>
                    <div class="box-footer"> <!--comienzel slider del footer-->
                        <h1>Galeria</h1> 
                        <p:separator/>
                        <div id="slider">
                            <figure>
                                <p:link title="Ir a la noticia" href="https://www.elsalvador.com/fotogalerias/noticias-fotogalerias/575437/imagenes-historicas-de-la-cruz-roja-salvadorena-en-su-134-aniversario/">
                                    <img src="#{request.contextPath}/resources/slider/imgmini1.png" />    
                                    <img src="#{request.contextPath}/resources/slider/imgmini2.jpg" />
                                    <img src="#{request.contextPath}/resources/slider/imgmini3.JPG" />
                                    <img src="#{request.contextPath}/resources/slider/imgmini4.jfif" />
                                    <img src="#{request.contextPath}/resources/slider/imgmini5.png" />

                                </p:link>
                            </figure>
                        </div>
                    </div>
                    <div class="copy-right"> <!--comienza el copyright-->
                        <p:separator/>
                        <h3 >Sistema de Control de Asistencia Copyright © 2019. Todos los derechos reservados</h3>
                        <p:separator/><br/>
                    </div>
                </div> 
            </div> <!--termina el footer-->
        </h:form>
    </h:body>
</html>

