<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"></link>
        <link href="https://cdn.jsdelivr.net/css-toggle-switch/latest/toggle-switch.css" rel="stylesheet" ></link>
        <h:outputStylesheet name="/css/btnMedia.css" /> 
        <h:outputStylesheet name="/css/btnStyle2.css" />      
        <h:outputStylesheet name="/css/btnMedia.css" ></h:outputStylesheet>
        <h:outputStylesheet name="/css/mycss.css" ></h:outputStylesheet>
        <h:outputStylesheet name="/css/btnStyle2.css" ></h:outputStylesheet>
        <h:outputStylesheet name="/css/body.css"/>

        <script type="text/javascript">
            function handleValuteRequest(xhr, status, args) {
                if (args.validationFailed || !args.valuteIn) {
                    PF('modal').jq.effect("shake", {times: 5}, 10);
                } else {
                    PF('modal').hide();
                    $('#valuteLink').fadeOut();
                }
            }
        </script>

        <f:event  listener="#{beanAsistencia.switchValues()}" type="preRenderView"/>
        <title>Control De Asistencia</title>
    </h:head>
    <h:body style="background-image:url(#{request.contextPath}/resources/images/pantalla3.jpg);">
        <h:form id="form">

            <p:growl id="messages"  life="2000" >
                <p:autoUpdate />
            </p:growl>   
            <p:menubar >
                <p:menuitem class="disabled" >
                    <div id="content">
                        <img src="#{request.contextPath}/resources/images/puntualidad.png"  width="60" height="60"/>
                    </div>
                </p:menuitem>
                <p:menuitem  outcome="Contáctanos.xhtml"  style="margin-left: 100px !important;"  value="Contáctanos"   />
                <p:menuitem   value="Acerca de"  outcome="Acerca_de.xhtml" />
                <p:menuitem class="disabled" >
                    <h:outputLabel  value="Bienvenido #{beanAsistencia.academicoSession.idCargo.cargo}:" ></h:outputLabel>
                </p:menuitem>
                <p:menuitem  class="disabled" >
                    <h:outputLabel  value="#{beanLogin.obPersonas.nombre} #{beanLogin.obPersonas.apellido}"   ></h:outputLabel>
                </p:menuitem>
                <p:menuitem >
                    <p:commandLink id="togglebar" oncomplete="PF('side').show();" style=" margin-left: 500px;" >  <i style="color:white;" class=" fas fa-bars fa-2x"></i></p:commandLink>
                </p:menuitem>
            </p:menubar>

            <p:sidebar  style="background-image:url(#{request.contextPath}/resources/images/pantalla3.jpg);" widgetVar="side" position="right">
                <p:commandLink oncomplete="PF('side').hide();" style=" color: white !important; margin-left: -220px; font-size: 20px !important;"  > <i class="fas fa-times fa-2x"></i></p:commandLink>
                <p:panelMenu style="width:250px; margin-top: 180px; "   >
                    <p:submenu label=" Mi Cuenta" style=" color:white! important; text-shadow:none! important;  ">
                        <p:menuitem value="Cambiar de Foto" style=" color:white ! important;" />
                        <p:menuitem value="Cambiar Contraseña" style=" color:white ! important;"  />
                        <p:menuitem value="Correos"  style=" color:white ! important;" />
                    </p:submenu>
                    <p:separator/>
                </p:panelMenu>
                <br/><br/><br/><br/><br/><br/><br/><br/><br/>
                <p:commandButton value="Cerrar Sesión" action="#{beanLogin.logOut()}" class="btn1" style=" width:180px !important; height:40px!important;  " ></p:commandButton>
            </p:sidebar>
            <center>
                <p:panel  header="CONTROL DE ASISTENCIAS ESTUDIANTES " class="panel"  >
                    <p:dataTable value="#{beanAsistencia.estudiantesPerDOcentes()}" rows="8" var="a" paginator="true" reflow="true"  >
                        <p:columnGroup  type="header"  >
                            <p:row>
                                <p:column rowspan="2" headerText="NIE" />
                                <p:column rowspan="2" headerText="Estudiantes" />                          
                                <p:column rowspan="2" headerText="Direccion" />
                                <p:column rowspan="2" headerText="Grado Seccion" />
                                <p:column rowspan="2" headerText="Encargados" />
                                <p:column colspan="2" headerText="Control Asistencia" />
                            </p:row>
                            <p:row>
                                <p:column headerText="Asistencia" />
                                <p:column headerText="Permiso" />
                            </p:row>
                        </p:columnGroup >
                        <p:column>
                            <p:outputLabel  value="#{a.nie}" ></p:outputLabel>
                        </p:column>
                        <p:column>
                            <p:outputLabel value="#{a.idPersona.nombre} #{a.idPersona.apellido}" ></p:outputLabel>
                        </p:column>
                        <p:column>
                            <p:outputLabel value="#{a.idPersona.direccion}" ></p:outputLabel>
                        </p:column>
                        <p:column>
                            <p:outputLabel value="#{a.idGs.idGrado.grado} #{a.idGs.idSeccion.descripcion}" ></p:outputLabel>
                        </p:column>
                        <p:column >
                            <p:outputLabel value="#{a.idEncargado.idPersona.nombre} #{a.idEncargado.idPersona.apellido}" ></p:outputLabel>
                        </p:column>
                        <p:column>
                            <p:selectOneButton id="switch1" value="#{beanAsistencia.obAsistencias.switch1}"   styleClass=" background:white !important; "   >
                                <f:selectItem itemLabel="SI" itemValue="true"  />
                                <f:selectItem itemLabel="&nbsp;" itemValue="inactivo"    />
                                <f:selectItem itemLabel="NO" itemValue="false" />
                                <p:ajax  listener="#{beanAsistencia.switchChange(a)}"  update="switch2" />
                            </p:selectOneButton  >
                        </p:column>
                        <p:column>
                            <p:inputSwitch  id="switch2"  value="#{beanAsistencia.obAsistencias.switch2}"   onLabel="SI" offLabel="NO" >
                                <p:ajax listener="#{beanAsistencia.switchChange(a)}"  update="switch1" />
                            </p:inputSwitch>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton value="Guardar Asistencia" action="#{beanAsistencia.guardarAsistencia(beanAsistencia.academicoSession.idPersonalAcademico)}" style=" width: 230px !important; color: white !important;" class="btn1" ></p:commandButton>
                        </f:facet>
                    </p:dataTable>

                    <p:ajaxStatus onstart="PF('statusDialog').show()"   onsuccess="PF('statusDialog').hide()" /> 
                    <p:dialog widgetVar="statusDialog" modal="true"    draggable="false" closable="false" resizable="false" showHeader="false">
                        <p:outputLabel value="Se esta Procesando su Solicitud" />
                        <p:graphicImage name="images/loading42.gif" />
                    </p:dialog>
                </p:panel>
            </center>

            <br/>
            <br/>
            <div class="footer">  <!--comienzael footer-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="box-footer" >  <!--comienza la historia de la cruz roja en le footer-->
                            <h1>Control de Asistencia</h1>
                            <p:separator/>
                            <div class="history">
                                <br/>
                                <p>Este es un Sistema diseñado con la idea de llevar un control presiso de la Asistencia, al mismo tiempo proporcionar al padre de familia 
                                    una herramienta para monitorear la asistencia de sus hijos, asegurando una buena educacion.
                                </p>
                            </div>
                        </div>     
                        <div class="box-footer a"> <!--comienza las noticias del footer-->
                            <h1>Redes Sociales</h1> 
                            <p:separator/>
                            <div class="history">  <!--comienzo Redes Sociales del footer-->
                                <div ><br/>
                                    <a class="btnM" href="#"  >
                                        <i class="fab fa-facebook-f"  ></i>
                                    </a>
                                    <a class="btnM" href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a class="btnM" href="#">
                                        <i class="fab fa-google"></i>
                                    </a>
                                    <a class="btnM" href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                    <a class="btnM" href="#">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </div>        
                            </div>             <!--FIn Redes Sociales del footer-->    
                            <p:separator/>
                        </div>
                        <div class="box-footer"> <!--comienzel slider del footer-->
                            <h1>Galeria</h1> 
                            <p:separator/><br/><br/>
                            <div id="slider">
                                <figure>
                                    <p:link title="Ir a la noticia" href="https://www.elsalvador.com/fotogalerias/noticias-fotogalerias/575437/imagenes-historicas-de-la-cruz-roja-salvadorena-en-su-134-aniversario/">
                                        <img src="#{request.contextPath}/resources/slider/imgmini1.png" />    
                                        <img src="#{request.contextPath}/resources/slider/imgmini2.jpg" />
                                        <img src="#{request.contextPath}/resources/slider/imgmini3.JPG" />
                                        <img src="#{request.contextPath}/resources/slider/imgmini4.jfif" />
                                        <img src="#{request.contextPath}/resources/slider/imgmini5.png" />

                                    </p:link>
                                </figure>
                            </div>
                        </div>
                        <div class="copy-right"> <!--comienza el copyright-->
                            <p:separator/>
                            <h3 >Sistema de Control de Asistencia Copyright © 2019. Todos los derechos reservados</h3>
                            <p:separator/><br/>
                        </div>
                    </div> 
                </div>   
            </div> <!--termina el footer-->
        </h:form>
    </h:body>
</html>

