<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Encargados</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"></link>
        <h:outputStylesheet name="/css/btnMedia.css" />
        <h:outputStylesheet name="/css/cssgenerico.css" />        
        <h:outputStylesheet name="/css/btnStyle2.css" />    
        <h:outputStylesheet name="/css/bootstrap.min.css"/>
        <h:outputStylesheet name="/css/body.css"/>
        <script type="text/javascript">
            function handleValuteRequest(xhr, status, args) {
                if (args.validationFailed || !args.valuteIn) {
                    PF('modal').jq.effect("shake", {times: 5}, 10);
                } else {
                    PF('modal').hide();
                    $('#valuteLink').fadeOut();
                }
            }
        </script>

    </h:head>
    <h:body style="background-image:url(#{request.contextPath}/resources/images/pantalla3.jpg);" >


        <h:form id="form">

            <p:growl id="growl" showDetail="true" life="2000"/>  
            <p:menubar  >
                <p:menuitem class="disabled"     >
                    <div id="content">
                        <img src="#{request.contextPath}/resources/images/puntualidad.png" class="disabled" width="60" height="60"   />
                    </div>
                </p:menuitem>
                <p:menuitem  outcome="Contáctanos.xhtml"  style="margin-left: 100px !important;"  value="Contáctanos"   />
                <p:menuitem   value="Acerca de"  outcome="Acerca_de.xhtml" />
                <p:menuitem  class="disabled" >
                    <h:outputLabel  value="#{beanLogin.obPersonas.nombre} #{beanLogin.obPersonas.apellido}"   ></h:outputLabel>
                </p:menuitem>
                <p:menuitem >
                    <p:commandLink id="togglebar" oncomplete="PF('side').show();" style=" margin-left: 600px;" >  <i style="color:  white ;" class=" fas fa-bars fa-2x"></i></p:commandLink>
                </p:menuitem>
            </p:menubar>
            <p:sidebar  style="background-image:url(#{request.contextPath}/resources/images/pantalla3.jpg);" widgetVar="side" position="right">
                <p:commandLink oncomplete="PF('side').hide();" style=" color: white !important; margin-left: -220px; font-size: 20px !important;"  > <i class="fas fa-times fa-2x"></i></p:commandLink>
                <p:panelMenu style="width:250px; margin-top: 180px; "   >
                    <p:submenu label=" Mi Cuenta" style=" color:white! important; text-shadow:none! important;  ">
                        <p:menuitem value="Cambiar de Foto" style=" color:white ! important;" />
                        <p:menuitem value="Cambiar Contraseña" style=" color:white ! important;"  />
                        <p:menuitem value="Correos"  style=" color:white ! important;" />
                    </p:submenu>
                    <p:separator/>
                </p:panelMenu>
                <br/><br/><br/><br/><br/><br/><br/><br/><br/>
                <p:commandButton value="Cerrar Sesión" action="#{beanLogin.logOut()}" class="btn1" style=" width:180px !important; height:40px!important;  " ></p:commandButton>
            </p:sidebar>

            <center>

                <p:panel  header="Gestión de Encargados" class="panel" style="width: 1400px; margin-top: 40px;">
                    <f:facet name="actions" >
                        <p:commandLink value=" Regresar" action="Administrativo?faces-redirect=true"  style=" color: white !important" class="fas fa-undo-alt linkformat "  ></p:commandLink>
                    </f:facet>
                    <f:facet name="actions"   >
                        <p:commandLink value=" Nuevo Encargado" style="color: white !important" class="fas fa-plus-circle linkformat "  action="#{beanEncargados.clean()}"></p:commandLink>
                    </f:facet>

                    <p:dataTable value="#{beanEncargados.mostrarEncargados()}" paginator="true" rows="6" var="e" reflow="true" >
                        <p:column headerText="ID" width="45">
                            <p:outputLabel value="#{e.idEncargado}"/>
                        </p:column>

                        <p:column headerText="Nombre">
                            <p:outputLabel value="#{e.idPersona.nombre} #{e.idPersona.apellido}"/>
                        </p:column>                 

                        <p:column headerText="DUI" width="120" >
                            <p:outputLabel value="#{e.dui}"/>
                        </p:column>
                        <p:column headerText="NIT">
                            <p:outputLabel value="#{e.nit}"/>
                        </p:column>
                        <p:column headerText="Número Fijo" width="120">
                            <p:outputLabel value="#{e.telefonoF}"/>
                        </p:column>
                        <p:column headerText="Número Móvil" width="120">
                            <p:outputLabel value="#{e.telefonoM}"/>
                        </p:column>
                        <p:column headerText="Parentesco" width="120" >
                            <p:outputLabel value="#{e.parentesco}"/>
                        </p:column>
                        <p:column headerText="Sub Encargado">
                            <p:outputLabel value="#{e.subEncargado}"/>
                        </p:column>
                        <p:column headerText="Acciones"  style="width: 330px">
                            <p:commandButton class="btn1"  value="Eliminar" action="#{beanEncargados.destroyEncargados(e)}"/>
                            <p:commandButton class="btn1"  value="Editar" action="#{beanEncargados.encargadosperId(e.idEncargado)}"/>
                        </p:column>
                    </p:dataTable>                
                </p:panel>
            </center>


            <p:dialog modal="true" header="Nuevo Encargado" widgetVar="modal" hideEffect="explode">
                <p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
                    <h:inputHidden value="ID:"/>
                    <h:inputHidden value="#{beanEncargados.objEncargados.idEncargado}"/>

                    <p:outputLabel value="Persona:"/>
                    <p:selectOneMenu value="#{beanEncargados.objPersonas.idPersona}">
                        <f:selectItem itemLabel="Seleccione uno" noSelectionOption="true"/>
                        <f:selectItems value="#{beanPersona.mostrarPersonas()}" var="p"
                                       itemValue="#{p.idPersona}" itemLabel="#{p.nombre} #{p.apellido}"/>
                    </p:selectOneMenu>

                    <p:outputLabel value="DUI:"/>
                    <p:inputMask value="#{beanEncargados.objEncargados.dui}" mask="99999999-9"/>
                    <p:outputLabel value="NIT:"/>
                    <p:inputMask value="#{beanEncargados.objEncargados.nit}" mask="9999-999999-999-9"/>
                    <p:outputLabel value="Número Fijo:"/>
                    <p:inputMask value="#{beanEncargados.objEncargados.telefonoF}" mask="9999-9999" />
                    <p:outputLabel value="Número Móvil:"/>
                    <p:inputMask value="#{beanEncargados.objEncargados.telefonoM}" mask="9999-9999"/>
                    <p:outputLabel value="Parentesco:"/>
                    <p:inputText value="#{beanEncargados.objEncargados.parentesco}"/>
                </p:panelGrid>
                <div class="p-grid p-dir-col">
                    <div class="p-col">
                        <div class="box">
                            <p:commandButton class="btn1" value="Cancelar" onclick="PF('modal').hide();"></p:commandButton>
                            <p:commandButton class="btn1"  value="Continuar" action="#{beanEncargados.valute()}"  update="growl" oncomplete="handleValuteRequest(xhr, status, args)"></p:commandButton>
                        </div>
                    </div>
                </div>
            </p:dialog>

            <br/><br/><br/><br/>
            <div class="footer">  <!--comienzael footer-->
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box-footer" >  <!--comienza la historia de la cruz roja en le footer-->

                        <h1>Control de Asistencia</h1>
                        <p:separator/>
                        <div class="history">    
                            <p>Este es un Sistema diseñado con la idea de llevar un control presiso de la Asistencia, al mismo tiempo proporcionar al padre de familia 
                                una herramienta para monitorear la asistencia de sus hijos, asegurando una buena educacion.
                            </p>
                        </div>
                    </div>     
                    <div class="box-footer a"> <!--comienza las noticias del footer-->
                        <h1>Redes Sociales</h1> 
                        <p:separator/>
                        <div class="history">  <!--comienzo Redes Sociales del footer-->
                            <div >
                                <a class="btnM" href="#"  >
                                    <i class="fab fa-facebook-f"  ></i>
                                </a>
                                <a class="btnM" href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a class="btnM" href="#">
                                    <i class="fab fa-google"></i>
                                </a>
                                <a class="btnM" href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a class="btnM" href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>        
                        </div>             <!--FIn Redes Sociales del footer-->    
                        <p:separator/>
                    </div>
                    <div class="box-footer"> <!--comienzel slider del footer-->
                        <h1>Galeria</h1> 
                        <p:separator/>
                        <div id="slider">
                            <figure>

                                <img src="#{request.contextPath}/resources/slider/imgmini1.png" />    
                                <img src="#{request.contextPath}/resources/slider/imgmini2.jpg" />
                                <img src="#{request.contextPath}/resources/slider/imgmini3.JPG" />
                                <img src="#{request.contextPath}/resources/slider/imgmini4.jfif" />
                                <img src="#{request.contextPath}/resources/slider/imgmini5.png" />
                            </figure>
                        </div>
                    </div>
                    <div class="copy-right"> <!--comienza el copyright-->
                        <p:separator/>
                        <h3 >Sistema de Control de Asistencia Copyright © 2019. Todos los derechos reservados</h3>
                        <p:separator/><br/>
                    </div>
                </div> 
            </div> <!--termina el footer-->
        </h:form>        
    </h:body>
</html>


