<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <h:outputStylesheet name="/css/cssNotificacion.css" ></h:outputStylesheet>
        <h:outputStylesheet name="/css/btnStyle2.css" ></h:outputStylesheet>
        <h:outputStylesheet name="/css/cssgenerico.css" ></h:outputStylesheet>
        <h:outputStylesheet name="/css/btnMedia.css" ></h:outputStylesheet>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"></link>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-12200033-1']);
            _gaq.push(['_trackPageview']);
            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>
        
        <style>
            .ui-icon-triangle-1-s{
                background-image: url("#{resource['images/arrow-204-16.png']}") !important;
            }
            
            .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger{
                width: 24px !important
            }
            
            .ui-selectcheckboxmenu-token{
                color: white !important;
                background: #337ab7 !important;
            }
            .ui-selectcheckboxmenu-multiple-container:hover{
            background: none !important;
            }
        </style>

    </h:head>

    <h:body style="background-image:url(#{request.contextPath}/resources/images/pantalla3.jpg);" >

        <div id="loader" class="ring">
            <span class="text">Cargando</span>
            <span class="load"></span>
        </div>

        <p:growl id="msg" />
        <h:form>

      <p:menubar  >
                <p:menuitem class="disabled"     >
                    <div id="content">
                        <img src="#{request.contextPath}/resources/images/puntualidad.png" class="disabled" width="60" height="60"   />
                    </div>
                </p:menuitem>
                <p:menuitem  outcome="Contáctanos.xhtml"  style="margin-left: 100px !important;"  value="Contáctanos"   />
                <p:menuitem   value="Acerca de"  outcome="Acerca_de.xhtml" />
                <p:menuitem  class="disabled" >
                    <h:outputLabel  value="#{beanLogin.obPersonas.nombre} #{beanLogin.obPersonas.apellido}"   ></h:outputLabel>
                </p:menuitem>
                <p:menuitem >
                    <p:commandLink id="togglebar" oncomplete="PF('side').show();" style=" margin-left: 600px;" >  <i style="color:  white ;" class=" fas fa-bars fa-2x"></i></p:commandLink>
                </p:menuitem>
            </p:menubar>
            <p:sidebar  style="background-image:url(#{request.contextPath}/resources/images/pantalla3.jpg);" widgetVar="side" position="right">
                <p:commandLink oncomplete="PF('side').hide();" style=" color: white !important; margin-left: -180px;  font-size: 20px !important;"  > <i class="fas fa-times fa-2x"></i></p:commandLink>
                <p:panelMenu style="width:250px; margin-top: 180px; "   >
                    <p:submenu label=" Mi Cuenta" style=" color:white! important; text-shadow:none! important;  ">
                        <p:menuitem value="Cambiar de Foto" style=" color:white ! important;" />
                        <p:menuitem value="Cambiar Contraseña" style=" color:white ! important;"  />
                    </p:submenu>
                    <p:separator/>
                </p:panelMenu>
                <br/><br/><br/><br/><br/><br/><br/><br/><br/>
                <p:commandButton action="#{beanLogin.logOut()}" value="Cerrar Sesión" class="btn1" style=" height: 40px !important;" ></p:commandButton>
            </p:sidebar>
            <br/>
        </h:form>

        <p:layout style="height: 700px !important">

            <p:layoutUnit position="west" size="160" collapsible="true"  header="OPCIONES">
                <h:form>
                    <p:commandLink value=" Nuevo" class="fas fa-external-link-alt btnEmail linkformat"  onclick="PF('redactarDlg').show()" type="button" ></p:commandLink>
                    <p:tree value="#{beanNotificaciones.mailboxes}" var="box" selectionMode="single" selection="#{beanNotificaciones.mailbox}" style="width:130px">
                        <p:treeNode icon="ui-icon-mail-closed">
                            <h:outputText value="#{box}" />
                        </p:treeNode>
                        <p:treeNode type="i" icon="ui-icon-mail-closed">
                            <h:outputText value="#{box}"/>
                        </p:treeNode>
                        <p:treeNode type="s" icon="ui-icon-transfer-e-w">
                            <h:outputText value="#{box}"/>
                        </p:treeNode>
                        <p:treeNode type="t" icon="ui-icon-trash">
                            <h:outputText value="#{box}"/>
                        </p:treeNode>
                        <p:treeNode type="j" icon="ui-icon-alert">
                            <h:outputText value="#{box}"/>
                        </p:treeNode>
                    </p:tree>
                </h:form>
            </p:layoutUnit>


            <p:layoutUnit position="center">
                <p:layout>
                    <p:layoutUnit position="north" size="60%" styleClass="nestedUnit">
                        <p:tabView style=" text-align: left !important;" >
                            <p:tab  title="Gmail">
                                <h:form>
                                    <p:dataTable id="dataTable" value="#{beanNotificaciones.email}" var="mail">
                                        <p:column headerText="From:" sortBy="from">
                                            #{mail.from}
                                        </p:column>
                                        <p:column headerText="To:" sortBy="subject">
                                            #{mail.to}
                                        </p:column>
                                        <p:column headerText="Subject:" sortBy="date">
                                            #{mail.subject}
                                        </p:column>
                                        <p:column headerText="Date:" sortBy="date">
                                            #{mail.date}
                                        </p:column>
                                        <p:column headerText="Body:" sortBy="date">
                                            #{mail.body}
                                        </p:column>
                                        <!--<p:column headerText="Search">
                                            <p:commandButton update=":mailViewer" icon="ui-icon-search" title="View">
                                                <f:setPropertyActionListener value="#{mail }" target="#{beanMail2.mail}" />
                                            </p:commandButton>
                                        </p:column>-->
                                    </p:dataTable>
                                </h:form>
                            </p:tab>
                        </p:tabView>
                    </p:layoutUnit>
                    <p:layoutUnit position="center" styleClass="nestedUnit">
                    </p:layoutUnit>
                </p:layout>
            </p:layoutUnit>
        </p:layout>

        <p:dialog style="text-align: left !important; width: auto !important; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)" widgetVar="redactarDlg" height="500" modal="true" header="Nuevo Correo"  showEffect="fade" hideEffect="fade">
            <h:form id="sendEmail" enctype="multipart/formData" >
                <h:panelGrid style="text-align: left !important" columns="2" cellspacing="5">

                    <h:outputLabel style="text-align: left !important" for="grouped" value="To: " />
                    <p:selectCheckboxMenu id="grouped" value="#{multiLista.gradoseccion}" label="Grados" multiple="true"
                                          filter="true" filterMatchMode="startsWith">
                        <f:selectItems value="#{multiLista.grasecc}" />
                    </p:selectCheckboxMenu>

                    <h:outputLabel  for="cc" value="CC: " />
                    <p:inputText style="text-align: left !important" id="cc" value="#{multiLista.cc}"/>
                    <h:outputLabel style="text-align: left !important" for="subject" value="Subject: " />
                    <p:inputText style="text-align: left !important" id="subject" value="#{multiLista.subject}"/>
                </h:panelGrid>
                <p:separator />
                <p:editor widgetVar="editor"  value="#{multiLista.body}"/>
                <p:separator />
                <input type="file"></input>
                <p:separator />
                <p:commandButton value="Submit" oncomplete="PF('itemDialog').show()" update="displayItems"/>
                <p:commandButton value="Send" onclick="PF('redactarDlg').hide()" actionListener="#{multiLista.sendData()}" update=":msg" process="@this"/>
                <p:commandButton value="Cancel" onclick="PF('redactarDlg').hide()" type="button"/>
                <p:commandButton value="Send" onclick="PF('redactarDlg').hide()" actionListener="#{multiLista.sendData()}"/>
            </h:form>
        </p:dialog>

        <p:dialog header="Selected Items" modal="true" showEffect="fade" hideEffect="fade" widgetVar="itemDialog" width="250">
            <p:outputPanel id="displayItems">
            <p:dataList value="#{multiLista.gradoseccion}" var="gs" emptyMessage="No cars selected">
                <f:facet name="header">
                    Seleccionados
                </f:facet>
                #{gs}
            </p:dataList>
                <p:outputLabel value="#{multiLista.cc}"/>
                <p:outputLabel value="#{multiLista.subject}"/>
                <p:outputLabel value="#{multiLista.body}"/>
           </p:outputPanel>
        </p:dialog>


        <script language="javascript">
            SyntaxHighlighter.all();
        </script>
        <script type="text/javascript">
            $(window).load(function () {
                $('#loader').fadeOut('slow');
                $('body').css({'overflow': 'visible'});
            });
        </script>

         
    </h:body>
</html>

