<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Personal Académico</title>
        <h:outputStylesheet name="/css/btnMedia.css"/>
        <h:outputStylesheet name="/css/cssgenerico.css" />
        <h:outputStylesheet name="/css/btnStyle2.css" />
        <h:outputStylesheet name="/css/bootstrap.min.css"/>
        <h:outputStylesheet name="/css/body.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"></link>

        <script type="text/javascript">
            function handleValuteRequest(xhr, status, args) {
                if (args.validationFailed || !args.valuteIn) {
                    PF('modal').jq.effect("shake", {times: 5}, 10);
                } else {
                    PF('modal').hide();
                    PF('modale').hide();
                    $('#valuteLink').fadeOut();
                }
            }
        </script>
    </h:head>
    <h:body style="background-image:url(#{request.contextPath}/resources/images/pantalla3.jpg);">
        <p:growl id="growl" showDetail="true" life="2000"/>
        <h:form id="menu">

            <p:menubar  >
                <p:menuitem class="disabled"     >
                    <div id="content">
                        <img src="#{request.contextPath}/resources/images/puntualidad.png" class="disabled" width="60" height="60"   />
                    </div>
                </p:menuitem>
                <p:menuitem  outcome="Contáctanos.xhtml"  style="margin-left: 100px !important;"  value="Contáctanos"   />
                <p:menuitem   value="Acerca de"  outcome="Acerca_de.xhtml" />
                <p:menuitem  class="disabled" >
                    <h:outputLabel  value="#{beanLogin.obPersonas.nombre} #{beanLogin.obPersonas.apellido}"   ></h:outputLabel>
                </p:menuitem>
                <p:menuitem >
                    <p:commandLink id="togglebar" oncomplete="PF('side').show();" style=" margin-left: 600px;" >  <i style="color:  white ;" class=" fas fa-bars fa-2x"></i></p:commandLink>
                </p:menuitem>
            </p:menubar>
            <p:sidebar  style="background-image:url(#{request.contextPath}/resources/images/pantalla3.jpg);" widgetVar="side" position="right">
                <p:commandLink oncomplete="PF('side').hide();" style=" color: white !important; margin-left: -220px; font-size: 20px !important;"  > <i class="fas fa-times fa-2x"></i></p:commandLink>
                <p:panelMenu style="width:250px; margin-top: 180px; "   >
                    <p:submenu label=" Mi Cuenta" style=" color:white! important; text-shadow:none! important;  ">
                        <p:menuitem value="Cambiar de Foto" style=" color:white ! important;" />
                        <p:menuitem value="Cambiar Contraseña" style=" color:white ! important;"  />
                        <p:menuitem value="Correos"  style=" color:white ! important;" />
                    </p:submenu>
                    <p:separator/>
                </p:panelMenu>
                <br/><br/><br/><br/><br/><br/><br/><br/><br/>
                <p:commandButton value="Cerrar Sesión" action="#{beanLogin.logOut()}" class="btn1" style=" width:180px !important; height:40px!important;  " ></p:commandButton>
            </p:sidebar>
        </h:form>
        <div class="container">
            <div class="col-lg-12">
                <h:form id="form">
                    <p:panel header="Personal Académico" class="panel">
                        <f:facet name="actions" >
                            <p:commandLink value=" Regresar" action="Administrativo?faces-redirect=true"  style=" color: white !important" class="fas fa-undo-alt linkformat "  ></p:commandLink>
                        </f:facet>
                        <f:facet name="actions" >
                            <p:commandLink  value=" Nuevo Profesor" style=" color:  white; " class="fas fa-plus-circle linkformat " action="#{beanAcademico.clean()}"></p:commandLink>
                        </f:facet>

                        <p:dataTable value="#{beanAcademico.mostrarDocentes()}" var="per"  paginator="true" rows="8" reflow="true">
                            <p:column headerText="ID" width="45">
                                <p:outputLabel value="#{per.idPersona.idPersona}"/>
                            </p:column>
                            <p:column headerText="Nombre" width="150">
                                <p:outputLabel value="#{per.idPersona.nombre}"/>
                            </p:column>
                            <p:column headerText="Apellido" width="150">
                                <p:outputLabel value="#{per.idPersona.apellido}"/>
                            </p:column>
                            <p:column headerText="Cargo" width="175">
                                <p:outputLabel value="#{per.idCargo.cargo}"/>
                            </p:column>
                            <p:column headerText="Cuenta">
                                <p:outputLabel value="#{per.idPersona.idCuenta.correo}"/>
                            </p:column>
                            <p:column headerText="Tipo de Cuenta">
                                <p:outputLabel value="#{per.idPersona.idCuenta.tipoCuenta.descripcion}"/>
                            </p:column>
                            <p:column headerText="">
                                <p:commandButton class="btn1" value="Editar" action="#{beanAcademico.academicosperId(per.idPersonalAcademico)}" />
                            </p:column>
                        </p:dataTable>
                    </p:panel>
                </h:form>
                <p:dialog header="Control del Personal Académico" modal="true" widgetVar="modal" hideEffect="explode" 
                          resizable="false" visible="#{not empty facesContext.messageList}">
                    <h:form id="modal">
                        <p:panelGrid columns="4"  styleClass="ui-panelgrid-blank" >
                            <p:outputLabel value="Nombre:" />
                            <p:inputText value="#{beanAcademico.obPersona.nombre}" ></p:inputText>

                            <p:outputLabel value="Apellido:"  />
                            <p:inputText  value="#{beanAcademico.obPersona.apellido}" ></p:inputText>     

                            <p:outputLabel value="Fecha de Nacimiento:"  />
                            <p:calendar  value="#{beanAcademico.obPersona.fechaNac}"  navigator="true"  pattern="yyyy-MM-dd" showOn="button" ></p:calendar>

                            <p:outputLabel value="Dirección:"   />
                            <p:inputText  value="#{beanAcademico.obPersona.direccion}"  ></p:inputText>

                            <p:outputLabel value="Correo:"   />
                            <p:inputText  value="#{beanAcademico.obCuentas.correo}" ></p:inputText>

                            <p:outputLabel value="Contraseña:"  />
                            <p:inputText value="#{beanAcademico.obCuentas.pass}"></p:inputText>

                            <p:outputLabel value="Cargos:"  />
                            <p:selectOneMenu value="#{beanAcademico.obCargo.idCargo}">
                                <f:selectItem itemLabel="Selecccione uno" noSelectionOption="" ></f:selectItem>
                                <f:selectItems value="#{beanCargos.mostrarCargos()}" var="mc" itemLabel="#{mc.cargo}" itemValue="#{mc.idCargo}"/>
                            </p:selectOneMenu>

                            <p:outputLabel value="Tipo de Cuenta:"  />
                            <p:selectOneMenu value="#{beanAcademico.obTipo.idCuenta}">
                                <f:selectItem itemLabel="Selecccione uno" noSelectionOption="" ></f:selectItem>
                                <f:selectItems value="#{beanCuentas.mostrarTipos()}" var="t" itemLabel="#{t.descripcion}" itemValue="#{t.idCuenta}"/>
                            </p:selectOneMenu>

                            <p:outputLabel value="Detalle:"  />
                            <p:inputText value="#{beanAcademico.obAcademico.detalles}"></p:inputText>

                            <p:outputLabel value="Estado:"  />
                            <p:inputText value="#{beanAcademico.obAcademico.estadoPersonal}"></p:inputText>
                            <h:inputHidden value="#{beanAcademico.obAcademico.idPersonalAcademico}"/>
                            <div class="p-grid p-dir-col">
                                <div class="p-col">
                                    <div class="box">
                                        <p:commandButton class="btn1" value="Cancelar" onclick="PF('modal').hide();" ></p:commandButton>
                                        <p:commandButton class="btn1" value="Continuar" action="#{beanAcademico.valute()}"
                                                         update="growl" oncomplete="handleValuteRequest(xhr, status, args)"></p:commandButton>
                                    </div>
                                </div>
                            </div>
                        </p:panelGrid>
                    </h:form>
                </p:dialog>

                <p:dialog header="Control del Personal Académico" modal="true" widgetVar="modale" hideEffect="explode" 
                          resizable="false" visible="#{not empty facesContext.messageList}">
                    <h:form id="modale">
                        <p:panelGrid columns="4"  styleClass="ui-panelgrid-blank" >
                            <p:outputLabel value="Nombre:" />
                            <p:inputText value="#{beanAcademico.obPersona.nombre}" ></p:inputText>

                            <p:outputLabel value="Apellido:"  />
                            <p:inputText  value="#{beanAcademico.obPersona.apellido}" ></p:inputText>     

                            <p:outputLabel value="Fecha de Nacimiento:"  />
                            <p:calendar  value="#{beanAcademico.obPersona.fechaNac}"  navigator="true"  pattern="yyyy-MM-dd" showOn="button" ></p:calendar>

                            <p:outputLabel value="Dirección:"   />
                            <p:inputText  value="#{beanAcademico.obPersona.direccion}"  ></p:inputText>

                            <p:outputLabel value="Correo:"   />
                            <p:inputText  value="#{beanAcademico.obCuentas.correo}" ></p:inputText>

                            <p:outputLabel value="Contraseña:"  />
                            <p:inputText value="#{beanAcademico.obCuentas.pass}"></p:inputText>

                            <p:outputLabel value="Cargos:"  />
                            <p:selectOneMenu value="#{beanAcademico.obCargo.idCargo}">
                                <f:selectItem itemLabel="Selecccione uno" noSelectionOption="" ></f:selectItem>
                                <f:selectItems value="#{beanCargos.mostrarCargos()}" var="mc" itemLabel="#{mc.cargo}" itemValue="#{mc.idCargo}"/>
                            </p:selectOneMenu>

                            <p:outputLabel value="Tipo de Cuenta:"  />
                            <p:selectOneMenu value="#{beanAcademico.obTipo.idCuenta}">
                                <f:selectItem itemLabel="Selecccione uno" noSelectionOption="" ></f:selectItem>
                                <f:selectItems value="#{beanCuentas.mostrarTipos()}" var="t" itemLabel="#{t.descripcion}" itemValue="#{t.idCuenta}"/>
                            </p:selectOneMenu>

                            <p:outputLabel value="Detalle:"  />
                            <p:inputText value="#{beanAcademico.obAcademico.detalles}"></p:inputText>

                            <p:outputLabel value="Estado:"  />
                            <p:inputText value="#{beanAcademico.obAcademico.estadoPersonal}"></p:inputText>
                            <h:inputHidden value="#{beanAcademico.obAcademico.idPersonalAcademico}"/>
                            <h:inputHidden value="#{beanAcademico.obPersona.idPersona}"/>
                            <h:inputHidden value="#{beanAcademico.obCargo.idCargo}"/>
                            <h:inputHidden value="#{beanAcademico.obTipo.idCuenta}"/>
                            <h:inputHidden value="#{beanAcademico.obCuentas.idCuenta}"/>

                            <div class="p-grid p-dir-col">
                                <div class="p-col">
                                    <div class="box">
                                        <p:commandButton class="btn1" value="Cancelar" onclick="PF('modale').hide();" ></p:commandButton>
                                        <p:commandButton class="btn1" value="Continuar" action="#{beanAcademico.valute()}"
                                                         update="growl" oncomplete="handleValuteRequest(xhr, status, args)"></p:commandButton>
                                    </div>
                                </div>
                            </div>
                        </p:panelGrid>
                    </h:form>
                </p:dialog>

            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="footer">  <!--comienzael footer-->
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="box-footer" >  <!--comienza la historia de la cruz roja en le footer-->

                    <h1>Control de Asistencia</h1>
                    <p:separator/>
                    <div class="history">    
                        <p>Este es un Sistema diseñado con la idea de llevar un control presiso de la Asistencia, al mismo tiempo proporcionar al padre de familia 
                            una herramienta para monitorear la asistencia de sus hijos, asegurando una buena educacion.
                        </p>
                    </div>
                </div>     
                <div class="box-footer a"> <!--comienza las noticias del footer-->
                    <h1>Redes Sociales</h1> 
                    <p:separator/>
                    <div class="history">  <!--comienzo Redes Sociales del footer-->
                        <div >
                            <a class="btnM" href="#"  >
                                <i class="fab fa-facebook-f"  ></i>
                            </a>
                            <a class="btnM" href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btnM" href="#">
                                <i class="fab fa-google"></i>
                            </a>
                            <a class="btnM" href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="btnM" href="#">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>        
                    </div>             <!--FIn Redes Sociales del footer-->    
                    <p:separator/>
                </div>
                <div class="box-footer"> <!--comienzel slider del footer-->
                    <h1>Galeria</h1> 
                    <p:separator/>
                    <div id="slider">
                        <figure>
                            <p:link title="Ir a la noticia" href="https://www.elsalvador.com/fotogalerias/noticias-fotogalerias/575437/imagenes-historicas-de-la-cruz-roja-salvadorena-en-su-134-aniversario/">
                                <img src="#{request.contextPath}/resources/slider/imgmini1.png" />    
                                <img src="#{request.contextPath}/resources/slider/imgmini2.jpg" />
                                <img src="#{request.contextPath}/resources/slider/imgmini3.JPG" />
                                <img src="#{request.contextPath}/resources/slider/imgmini4.jfif" />
                                <img src="#{request.contextPath}/resources/slider/imgmini5.png" />

                            </p:link>
                        </figure>
                    </div>
                </div>
                <div class="copy-right"> <!--comienza el copyright-->
                    <p:separator/>
                    <h3 >Sistema de Control de Asistencia Copyright © 2019. Todos los derechos reservados</h3>
                    <p:separator/><br/>
                </div>
            </div> 
        </div> <!--termina el footer-->
    </h:body>
</html>

