<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Inicio</title>
    </h:head>
    <h:body style="justify-content: center;align-content: center;align-items: center;text-align: center"><br/>
        <h2><b>Datos de la Base Número 1</b></h2>
        <h:form id="ver">
            <p:commandButton actionListener="#{empleadosVista.listar()}" style="width: 50%" value="Listar" update=":table ver"/>
        </h:form><br/>
        <p:dialog widgetVar="new" modal="true" showEffect="explode" hideEffect="explode">
            <p:ajax event="close" listener="#{empleadosVista.init()}" update=":new"/>
            <h:form id="new">
                <h:panelGrid columns="2">
                    <p:outputLabel value="Primer nombre: "/>
                    <p:inputText value="#{empleadosVista.empleados.primer_nombre}"/>
                    <p:outputLabel value="Segundo nombre: "/>
                    <p:inputText value="#{empleadosVista.empleados.segundo_nombre}"/>
                    <p:outputLabel value="Primer apellido: "/>
                    <p:inputText value="#{empleadosVista.empleados.primer_apellido}"/>
                    <p:outputLabel value="Segundo apellido: "/>
                    <p:inputText value="#{empleadosVista.empleados.segundo_apellido}"/>
                    <p:outputLabel value="Correo: "/>
                    <p:inputText value="#{empleadosVista.empleados.correo}"/>
                    <p:outputLabel value="Teléfono Movil: "/>
                    <p:inputText value="#{empleadosVista.empleados.tel_movil}"/>
                    <p:outputLabel value="Teléfono Fijo: "/>
                    <p:inputText value="#{empleadosVista.empleados.tel_fijo}"/>
                    <p:outputLabel value="Jefe: "/>
                    <p:selectOneMenu value="#{empleadosVista.jefe.id_jefe}">
                        <f:selectItems value="#{empleadosVista.listJefe}" var="j" itemValue="#{j.id_jefe}" itemLabel="#{j.primer_nombre} #{j.segundo_nombre}, #{j.primer_apellido} #{j.segundo_apellido}"/></p:selectOneMenu>
                    <p:commandButton rendered="#{empleadosVista.empleados.id_empleado == 0 || null}" value="Registrar" actionListener="#{empleadosVista.registar()}" update=":table new" oncomplete="PF('new').hide();"/>
                    <p:commandButton rendered="#{empleadosVista.empleados.id_empleado != 0}" value="Editar" actionListener="#{empleadosVista.editarBD1()}" update=":table new" oncomplete="PF('new').hide();"/>
                </h:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog widgetVar="newJ" modal="true" showEffect="explode" hideEffect="explode">
            <p:ajax event="close" listener="#{empleadosVista.init()}" update=":newJ"/>
            <h:form id="newJ">
                <h:panelGrid columns="2">
                    <p:outputLabel value="Primer nombre: "/>
                    <p:inputText value="#{empleadosVista.jefe.primer_nombre}"/>
                    <p:outputLabel value="Segundo nombre: "/>
                    <p:inputText value="#{empleadosVista.jefe.segundo_nombre}"/>
                    <p:outputLabel value="Primer apellido: "/>
                    <p:inputText value="#{empleadosVista.jefe.primer_apellido}"/>
                    <p:outputLabel value="Segundo apellido: "/>
                    <p:inputText value="#{empleadosVista.jefe.segundo_apellido}"/>
                    <p:commandButton rendered="#{empleadosVista.jefe.id_jefe == 0 || null}" value="Registrar" actionListener="#{empleadosVista.insertJefe()}" update=":tableJ newJ" oncomplete="PF('newJ').hide();"/>
                    <p:commandButton rendered="#{empleadosVista.jefe.id_jefe != 0}" value="Editar" actionListener="#{empleadosVista.editarJefe()}" update=":tableJ newJ" oncomplete="PF('new').hide();"/>
                </h:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog  width="80%" widgetVar="tableJ" modal="true" showEffect="explode" hideEffect="explode">
            <h:form id="tableJ">
                <p:dataTable value="#{empleadosVista.listJefe}" var="j">
                    <p:column style="width: 50px">
                        <f:facet name="header">ID</f:facet>
                        <p:outputLabel value="#{j.id_jefe}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">Nombre Completo</f:facet>
                        <p:outputLabel value="#{j.primer_nombre} #{j.segundo_nombre}, #{j.primer_apellido} #{j.segundo_apellido}"/>
                    </p:column>
                    <p:column style="width: 20%">
                        <f:facet name="header">Editar</f:facet>
                        <p:commandButton value="Editar" actionListener="#{empleadosVista.llenaridJefe(j)}" update=":newJ" oncomplete="PF('newJ').show();"/>
                        <p:commandButton value="Eliminar" actionListener="#{empleadosVista.eliminarJefe(j)}" update=":tableJ"/>
                    </p:column>
                </p:dataTable><br/>
            </h:form>
        </p:dialog>
        <center><h:form id="table" style="width: 95%;justify-content: center;align-content: center;align-items: center;text-align: center">
                <p:dataTable value="#{empleadosVista.listEmpleados}" var="e">
                    <p:column style="width: 50px">
                        <f:facet name="header">ID</f:facet>
                        <p:outputLabel value="#{e.id_empleado}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">Nombre</f:facet>
                        <p:outputLabel value="#{e.primer_nombre} #{e.segundo_nombre}, #{e.primer_apellido} #{e.segundo_apellido}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">Correo</f:facet>
                        <p:outputLabel value="#{e.correo}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">Teléfono Fijo</f:facet>
                        <p:outputLabel  rendered="#{e.tel_fijo != 0}" value="#{e.tel_fijo}"/>
                        <p:outputLabel rendered="#{e.tel_fijo == 0}" value="No tiene"/> 
                    </p:column>
                    <p:column>
                        <f:facet name="header">Teléfono Movil</f:facet>
                        <p:outputLabel rendered="#{e.tel_movil !=0}" value="#{e.tel_movil}"/>
                        <p:outputLabel rendered="#{e.tel_movil == 0}" value="No tiene"/> 
                    </p:column>
                    <p:column>
                        <f:facet name="header">Nombre del Jefe</f:facet>
                        <p:outputLabel value="#{e.jefe.primer_nombre} #{e.jefe.segundo_nombre}, #{e.jefe.primer_apellido} #{e.jefe.segundo_apellido}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">Editar</f:facet>
                        <p:commandButton value="Editar" actionListener="#{empleadosVista.llenaridEmpleado(e)}" update=":new" oncomplete="PF('new').show();"/>
                    </p:column>

                </p:dataTable><br/>
                <h:panelGrid columns="4">
                    <p:commandButton value="Insertar un nuevo dato" oncomplete="PF('new').show();" />
                    <p:commandButton value="Ver Jefes registrados" oncomplete="PF('tableJ').show();" />
                    <p:commandButton value="Insertar un nuevo Jefe" oncomplete="PF('newJ').show();" />
                    <p:commandButton value="Migrar Datos del empleado" update=":table2" actionListener="#{empleadosVista.migrar()}"/>
                </h:panelGrid>
            </h:form></center><br/>
        <br/><br/>
        <p:separator/><br/><br/>


        <h2><b>Datos de la Base Número 2</b></h2>
        <h:form id="ver1">
            <p:commandButton actionListener="#{empleadosVista.mostrar()}" style="width: 50%" value="Listar" update=":table2"/>
        </h:form><br/>
        <center><h:form id="table2" style="width: 95%;justify-content: center;align-content: center;align-items: center;text-align: center">
                <p:dataTable value="#{empleadosVista.listaEmpleados}" var="e">
                    <p:column style="width: 50px">
                        <f:facet name="header">ID</f:facet>
                        <p:outputLabel value="#{e.id_empleado}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">Nombre</f:facet>
                        <p:outputLabel value="#{e.primer_nombre} #{e.segundo_nombre}, #{e.primer_apellido} #{e.segundo_apellido}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">Correo</f:facet>
                        <p:outputLabel value="#{e.correo}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">Teléfono Fijo</f:facet>
                        <p:outputLabel  rendered="#{e.tel_fijo != 0}" value="#{e.tel_fijo}"/>
                        <p:outputLabel rendered="#{e.tel_fijo == 0}" value="No tiene"/> 
                    </p:column>
                    <p:column>
                        <f:facet name="header">Teléfono Movil</f:facet>
                        <p:outputLabel rendered="#{e.tel_movil !=0}" value="#{e.tel_movil}"/>
                        <p:outputLabel rendered="#{e.tel_movil == 0}" value="No tiene"/> 
                    </p:column>
                    <p:column>
                        <f:facet name="header">Nombre del Jefe</f:facet>
                        <p:outputLabel value="#{e.jefe.primer_nombre} #{e.jefe.segundo_nombre}, #{e.jefe.primer_apellido} #{e.jefe.segundo_apellido}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">Editar</f:facet>
                        <p:commandButton value="Editar" actionListener="#{empleadosVista.llenaridEmpleadoBD2(e)}" update=":newBD2" oncomplete="PF('newBD2').show();"/>
                    </p:column>

                </p:dataTable><br/>
                <h:panelGrid columns="4">
                    <p:commandButton value="Insertar un nuevo empleado" oncomplete="PF('newBD2').show();" />
                    <p:commandButton value="Ver Jefes registrados" oncomplete="PF('tableJBD2').show();" />
                    <p:commandButton value="Insertar un nuevo Jefe" oncomplete="PF('newJBD2').show();" />
                    <p:commandButton value="Eliminar los datos de los empleados" update=":table2" actionListener="#{empleadosVista.truncateEmpleadosBD2()}"/>
                </h:panelGrid>
            </h:form></center>
        <p:dialog widgetVar="newBD2" modal="true" showEffect="explode" hideEffect="explode">
            <p:ajax event="close" listener="#{empleadosVista.init()}" update=":newBD2"/>
            <h:form id="newBD2">
                <h:panelGrid columns="2">
                    <p:outputLabel value="Primer nombre: "/>
                    <p:inputText value="#{empleadosVista.empleados.primer_nombre}"/>
                    <p:outputLabel value="Segundo nombre: "/>
                    <p:inputText value="#{empleadosVista.empleados.segundo_nombre}"/>
                    <p:outputLabel value="Primer apellido: "/>
                    <p:inputText value="#{empleadosVista.empleados.primer_apellido}"/>
                    <p:outputLabel value="Segundo apellido: "/>
                    <p:inputText value="#{empleadosVista.empleados.segundo_apellido}"/>
                    <p:outputLabel value="Correo: "/>
                    <p:inputText value="#{empleadosVista.empleados.correo}"/>
                    <p:outputLabel value="Teléfono Movil: "/>
                    <p:inputText value="#{empleadosVista.empleados.tel_movil}"/>
                    <p:outputLabel value="Teléfono Fijo: "/>
                    <p:inputText value="#{empleadosVista.empleados.tel_fijo}"/>
                    <p:outputLabel value="Jefe: "/>
                    <p:selectOneMenu value="#{empleadosVista.jefe.id_jefe}">
                        <f:selectItems value="#{empleadosVista.listaJefeBD2}" var="j" itemValue="#{j.id_jefe}" itemLabel="#{j.primer_nombre} #{j.segundo_nombre}, #{j.primer_apellido} #{j.segundo_apellido}"/></p:selectOneMenu>
                    <p:commandButton rendered="#{empleadosVista.empleados.id_empleado == 0 || null}" value="Registrar" actionListener="#{empleadosVista.registarBD2()}" update=":table2 newBD2" oncomplete="PF('newBD2').hide();"/>
                    <p:commandButton rendered="#{empleadosVista.empleados.id_empleado != 0}" value="Editar" actionListener="#{empleadosVista.editarBD2()}" update=":table2 newBD2" oncomplete="PF('newBD2').hide();"/>
                </h:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog widgetVar="newJBD2" modal="true" showEffect="explode" hideEffect="explode">
            <p:ajax event="close" listener="#{empleadosVista.init()}" update=":newJBD2"/>
            <h:form id="newJBD2">
                <h:panelGrid columns="2">
                    <p:outputLabel value="Primer nombre: "/>
                    <p:inputText value="#{empleadosVista.jefe.primer_nombre}"/>
                    <p:outputLabel value="Segundo nombre: "/>
                    <p:inputText value="#{empleadosVista.jefe.segundo_nombre}"/>
                    <p:outputLabel value="Primer apellido: "/>
                    <p:inputText value="#{empleadosVista.jefe.primer_apellido}"/>
                    <p:outputLabel value="Segundo apellido: "/>
                    <p:inputText value="#{empleadosVista.jefe.segundo_apellido}"/>
                    <p:commandButton rendered="#{empleadosVista.jefe.id_jefe == 0 || null}" value="Registrar" actionListener="#{empleadosVista.insertJefeBD2()}" update=":tableJBD2 newJBD2" oncomplete="PF('newJBD2').hide();"/>
                    <p:commandButton rendered="#{empleadosVista.jefe.id_jefe != 0}" value="Editar" actionListener="#{empleadosVista.editarJefeBD2()}" update=":tableJBD2 newJBD2" oncomplete="PF('newBD2').hide();"/>
                </h:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog  width="80%" widgetVar="tableJBD2" modal="true" showEffect="explode" hideEffect="explode">
            <h:form id="tableJBD2">
                <p:dataTable value="#{empleadosVista.listaJefeBD2}" var="j">
                    <p:column style="width: 50px">
                        <f:facet name="header">ID</f:facet>
                        <p:outputLabel value="#{j.id_jefe}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">Nombres</f:facet>
                        <p:outputLabel value="#{j.primer_nombre} #{j.segundo_nombre}, #{j.primer_apellido} #{j.segundo_apellido}"/>
                    </p:column>
                    <p:column style="width: 20%">
                        <f:facet name="header">Editar</f:facet>
                        <p:commandButton value="Editar" actionListener="#{empleadosVista.llenaridJefeBD2(j)}" update=":newJBD2" oncomplete="PF('newJBD2').show();"/>
                        <p:commandButton value="Eliminar" actionListener="#{empleadosVista.eliminarJefeBD2(j)}" update=":tableJBD2"/>
                    </p:column>

                </p:dataTable><br/>
            </h:form>
        </p:dialog>
    </h:body>
</html>

