<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facturacion</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <p:dataTable var="cliente" value="#{kzBean.listar()}" emptyMessage="N/A">
            <p:column headerText="Nombre">
                <p:outputLabel value="#{cliente.nombre}" />
            </p:column>

            <p:column headerText="Apellido">
                <p:outputLabel value="#{cliente.apellido}" />
            </p:column>

            <p:column headerText="Direccion">
                <p:outputLabel value="#{cliente.direccion}" />
            </p:column>
        </p:dataTable>
    </h:body>
</html>
