<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Exportes 1</title>
</h:head>
<h:body>
	<h:form>
		<p:commandButton value="Ver reporte"
			actionListener="#{reporte.generarPDF()}" ajax="false" />
	</h:form>
</h:body>
</html>